/* CSS Document */
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {  clear: both;}
.cf {  zoom: 1;}

.clear{	clear:both;}
.left{	float:left;}
.right{	float:right;}
.center{ text-align:center;}
li{ list-style:none;}


/*-----------[ FLOAT]-------------*/
.clearfix:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}

/*-----------[ HEADER s_navi]-------------*/
body .site-header:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}
#logo_area{
	float:left;
}
.s_navi{
	float:right;
}
.s_navi ul.s_list{
	margin:20px 0;
}
.s_navi ul.s_list li{
	float:left;
	vertical-align:1.6em;
	font-size:15px;
	margin:0 5px;
}
.s_navi ul.s_list li:first-child{
	margin-right:2em;
}
.s_navi ul.s_list li a{
	position:relative;
}
.s_navi ul.s_list li a:before{
	vertical-align:middle;
	display:inline-block;
	content:'';
	width:1.6em;
	height:1.6em;
	margin-right:0.5em;
}
.s_navi ul.s_list li.join a:before{
	background:url('../images/ico_kaiin.png') left center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.s_navi ul.s_list li.shiryou a:before{
	background:url('../images/ico_shiryo.png') left top no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

/*-----------[ home.php / bukken-search ]-------------*/
#top_fbox #content .bukken-search{
	margin:0 auto 50px;
	padding:0;
}
#top_fbox #content .bukken-search h3{
	margin:0 auto 10px;
}
#top_fbox #content .bukken-search ul.tab{
	margin:0 auto;
	overflow:hidden;
}
#top_fbox #content .bukken-search ul.tab li{
	background:#ccc;
	padding:5px 25px;
	float:left;
	margin-right:1px;
}
#top_fbox #content .bukken-search ul.tab li{
	cursor:pointer;
}
#top_fbox #content .bukken-search ul.tab li.select{
	background:#eee;
}
#top_fbox #content .bukken-search ul.content_area{
 margin:0 auto;
	padding:0;
}
#top_fbox #content .bukken-search ul.content_area li{
	background:#eee;
	padding:20px;
}
#top_fbox #content .bukken-search ul li.hide {
	display:none;
}








/*-----------[ home.php /  whatsnew ]-------------*/
#main #container #content .whatsnew{
	margin:0 auto 50px;
	padding:0;
}
#main #container #content .whatsnew:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}
#main #container #content .whatsnew h3{
	margin:0 auto;
	padding:5px 10px;
	border:1px solid #CCC;
}
#top_fbox #content .whatsnew ul{
	margin:0 auto;
	padding:10px;
	border:1px solid #CCC;
}
#top_fbox #content .whatsnew ul li{
	margin-bottom:5px;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
}
#top_fbox #content .whatsnew ul li span.more{
	float:right;
	padding:3px 8px;
	font-size:11px;
	font-weight:bold;
	border:1px solid #CCC;
	border-radius:3px;
}
#top_fbox #content .whatsnew p.ichiran{
	display:inline-block;
	float:right;
	padding:5px 10px;
	border:1px solid #CCC;
	border-radius:3px;
}




/*-----------[ home.php / member-merit ]-------------*/
#main #container #content .member-merit{
	margin:0 auto 50px;
	padding:0;
}
#main #container #content .member-merit:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}
#main #container #content .member-merit h3{
	margin:0 auto 10px;
}






/*-----------[ secondary ]-------------*/
#secondary section{
	margin:0 auto;
	padding:0;
	text-align:center;
}





/*-----------[ SidebarMembers]-------------*/




/*-----------[ home.php / fudo list View]-------------*/
#page #main .widget.widget_fudo_b_c ul.children li, #page #main .widget.widget_fudo_b_r ul.children li, #page #main .widget.widget_fudo_r_c ul.children li, #page #main .widget.widget_fudo_r_r ul.children li{display:inline-block;}








/*-----------[ page / map style]-------------*/
#container{}
#container:after{}
#container #content{
	float:left;
	width:100%;
}
#container #content #primary{
	float:right;
	width:30%;
}

#top_fbox #container #content{
	float:none;
	width:auto;
}





/*-----------[ contact STEP ]-------------*/
.wpcf7-form{
	background:url();
}
.wpcf7-form.failed{
	background:url();
}








/*-----------[ pagetop ]-------------*/

/*-----------[ footermenuarea ]-------------*/
.FooterMenuArea{
	max-width: 650px;
	max-width: 50rem;
	margin-left: auto;
	margin-right: auto;
	padding:25px 0 35px;
}
.FooterMenuArea:after{
	content:"";
	display:block;
	height:0px;
	clear:both;
	visibility:hidden;
}
.FooterMenuArea div.f-widget{
	float:left;
	margin-right:30px;
}
.FooterMenuArea div.f-widget a {	color:#fff !important;}
.FooterMenuArea div.f-widget.last{
	margin-right:0;
	padding-right:0;
	border-right:0;
}

.FooterMenuArea div.f-widget ul.menu{
	list-style:none !important;
}
.FooterMenuArea div.f-widget li{
	line-height:1.7em;
}



