/*
 * @package WordPress
 * @subpackage Fudousan Plugin
 * Fudousan Map Plugin
 * Version: 1.3.5
*/

#map_canvas {
	height: 100%;
	width: 100%;
	color: #3F3F3F;
	line-height: 1.4 !important;
	font-size:12px;
	margin: 0px 0px 30px 0px;
	padding: 0;
	vertical-align:middle;
	top: 19px;
}

#map_canvas table{
	border-style: none;
	margin: 8px;
	padding: 0px;
	overflow: hidden;
}

#map_canvas table{ 
	width: auto; 
}

table{
	border-spacing : 2px;
	border-collapse : separate ;
}


td{
	border-top: medium none !important;
	vertical-align:middle;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}


#content img {
	margin: 0;
	height: auto;
	max-width: none;
	width: auto;
}


/* ふきだし内 */

#map_canvas .gmapballoon a img{
	padding: 2px;
	border: 1px solid #CCC;
	width: 72px;
	height: 72px;
	margin: 0px 4px 0px 0px;
}

#content .gmapballoon{
	overflow: hidden;
}

#map_canvas .gmapballoon{
	font-size: 12px;
	color: #3F3F3F;
	overflow: hidden;
}

#map_canvas .gmaptitle{
	font-weight: bold;
	font-size: 12px;
	letter-spacing: -0.05em;
}

#map_canvas .gmapkakaku {
	color: #F30;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;	
}

#map_canvas .gmapmadori {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;
}


#map_canvas .maptenpo{
	font-size:12px;
	overflow: hidden;
	line-height:1.4;
	margin: 8px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}



/* 物件検索 ウィジェット用
----------------------------------------------*/
	#searchmapitem{ line-height: 1.2; }

	#searchmapitem div{
		margin: 4px 0 10px;
		line-height: 1.6;
	}

	#searchmapitem .jsearch_caution1{
		font-size: 96%;
	}
	#searchmapitem .jsearch_caution2{
		font-size: 80%;
	}


	#searchmapitem input{
		margin: 4px; 
	}

	.widget_fudo_b_k select{
		width: 100%;
		padding: 3px;
		margin: 2px 0;
	}

	#content .widget_fudo_b_k select{
		width: auto;
	}

	.widget_search form{
		margin:0;
	}

	li.widget_search{ 
		list-style-type: none; 
	}

	.ie .menu-toggle, 
	.ie input[type="submit"], 
	.ie article.post-password-required input[type="submit"], 
	.ie li.bypostauthor cite span{
		padding: 3px;
	}

	.ie .menu-toggle, 
	.ie input[type="submit"], 
	.ie article.post-password-required input[type="submit"], 
	.ie li.bypostauthor cite span{
		border:none;
	}

	form #searchmapitem button[disabled],
	form #searchmapitem input[type="button"]:disabled{
		color: #FFFFFF !important;
		padding: 100px;
	}



	#searchmapitem select {
	    margin: 2px 0;
	    padding: 3px;
	    width: 100%;
	}



/* ヘルプボタン */
#menu_botton{
	float: right;
	margin: -2px 0 0;
	padding: 0;
}


/* 複数種別選択タブ */
#shubetsu ul.tab{
	margin: 5px 0 0 5px !important;
}
#shubetsu ul.tab li{
	list-style-type: none !important;
	width:47.5%;
	float:left;
	margin: 1px !important;
}
#searchmapitem #shubetsu ul.panel{
	clear:both;
	padding:0;
	margin: 0 0 0 2px !important;
}

#shubetsu ul.panel li{
	width:100%;
	list-style-type: none !important;
}

#searchmapitem label{
	font-size: 96%;
}
/*  */

