



#map_canvas {
	height: 100%;
	width: 100%;
	color: #3F3F3F;
	line-height: 1.4 !important;
	font-size:12px;
/*	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif !important;*/

	margin: 0px 0px 10px 0px;
	padding: 0;
	vertical-align:middle;
}

#map_canvas table{
	border-style: none;
	margin: 8px;
	padding: 0px;
	overflow: hidden;
}

#map_canvas table{ 
	width: auto; 
}

table{
	border-spacing : 2px;
	border-collapse : separate ;
}


td{
	vertical-align:middle;
	margin: 0;
	padding: 0;
}


#content img {
	margin: 0;
	height: auto;
	max-width: none;
	width: auto;
}


/* ふきだし内 */

#map_canvas .gmapballoon a img{
	padding: 2px;
	border: 1px solid #CCC;
	width: 72px;
	height: 72px;
	margin: 0px 4px 0px 0px;
}

#content .gmapballoon{
	overflow: hidden;
}

#map_canvas .gmapballoon{
	font-size: 12px;
	color: #3F3F3F;
	overflow: hidden;
}

#map_canvas .gmaptitle{
	font-weight: bold;
	font-size: 12px;
	letter-spacing: -0.05em;
}

#map_canvas .gmapkakaku {
	color: #F30;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;	
}

#map_canvas .gmapmadori {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;
}


#map_canvas .maptenpo{
	font-size:12px;
	overflow: hidden;
	line-height:1.4;
	margin: 8px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

/*
#map_canvas div{
	margin: 0px !important;
	padding: 0px !important;
}
*/

/* 右・検索条件設定メニュー */

#map_search h3{

	color: #666;
	display: block;
	padding: 10px 6px 6px 10px;
	margin: 0 0 10px 0;
	font-size:16px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: #f9f9f9; /* old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* ie */

 	text-shadow: 1px 1px 0px #fff;
	line-height: 1.4;
	font-weight: bold;

}


#chikunen,#memseki,#hofun,#kakaku_b,#kakaku_c,#chiiki,#roseneki,#caution1,#shubetsu,#setsubi_cb{
	margin: 0 0 10px;
}


#map_menu { 
	padding: 5px 6px;
	z-index: 3;

	margin: 0 0 8px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 6px;

	width: 210px;
	background: #FFF;
}

#map_search { 
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	line-height: 1.4; 
}

#map_search select { 
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

#caution1{
	font-size: 10px;
	line-height: 1.2;
}

#map_search #btn,
#map_search #btn2{
	font-size: 100%;
}


#madori_cb,#setsubi_cb{
	width: 208px;
}


/* ヘルプボタン */
#menu_botton{
	float: right;
	margin: -2px 0 0;
	padding: 0;
}



/*  */

