html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px 	}
#map_canvas { 
	height: 100%;
	width: 100%;
	float: left;
}

#map_menu { 

	float: right;
	overflow-y: auto;
	padding: 5px 6px;
	position: absolute;
	right: 0px; 
	top: 30px;
	z-index: 3;
}

#map_search { 
	font-size:12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	line-height: 1.4em;
}

#map_search select { 
	font-size:12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}

.gmapballoon{ 
	border-style: none; 
	font-size: 10px;
	color: #3F3F3F;
}
.gmapballoon a img{
	padding: 2px;
	border: 1px solid #CCC;
}

.gmaptitle{ 
	font-weight: bold;
	font-size: 12px;
}

.gmapkakaku {
	color: #F30;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;	
}
.gmapmadori {
	color: #333;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	border-bottom: 1px dotted #CCC;
}
.maptenpo{
	font-size:12px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}


div#sub {
	margin: 0;
	padding: 0;
}

div#sub div.nav {
}

div#sub div.opened {}
 
div#sub h5.sub_nav_heading {
	width: 30px;
	height: 36px;
	position: relative;
	background: url("img/gmap_sb0.png") no-repeat;
}

div#sub h5.sub_nav_heading span.toggle {
	margin: 0;
	padding: 0;
	width: 220px;
	height: 36px;
	position: absolute;
	background: url("img/gmap_sb1.png") no-repeat;
	cursor: pointer;
}

h5{
	margin: 0;
	padding: 0;
}

div.sub_nav {
	border:solid 1px #000;
	padding: 5px;
	background: url("img/gmap_sbg.png") repeat;
}

*:first-child+html div.sub_nav {
	width: 208px;
}




#chikunen,#memseki,#hofun,#kakaku_b,#kakaku_c,#chiiki,#roseneki,#caution1,#shubetsu,#setsubi_cb{
	margin: 0 0 5px;
}

#map_menu select{
	width: 95%;
}


#caution1{
	font-size: 10px;
	line-height: 1.2em;
}

#madori_cb,#setsubi_cb{
	width: 208px;
}



#menu_botton{
	position: absolute; 
	top: 10px; 
	left: 80px; 
}

