
#fwt_hensai {
    clear: both;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    letter-spacing: 1px;
}

#fwt_hensai p#fwt_caption_input {
    font-size: 14px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
}
#fwt_hensai p#fwt_caption_result {
    font-size: 14px;
    background-color: #0071bc;
    color: #fff;
    text-align: center;
    padding: 5px;
}

/* inputs table
-------------------------------------------------------------------*/
#fwt_hensai #fwt_inputs table {
    border-collapse: collapse;
    width:100%;
    margin-bottom: 20px;
}
#fwt_hensai #fwt_inputs th {
    background-color: #e5f6fb;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    width:50%;
}
#fwt_hensai #fwt_inputs td {
    background-color: #fff;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    width:50%;
}

/* inputs elements
-------------------------------------------------------------------*/
#fwt_hensai #fwt_inputs input {
    border: solid 1px #ccc;
}
#fwt_hensai #fwt_inputs select {
    border: solid 1px #ccc;
}
#fwt_hensai #fwt_inputs span.fwt_need {
    background-color: #c00;
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    margin: 0 0 0 10px;
}
#fwt_hensai #fwt_inputs #fwt_buttons {
    text-align: center;
}
#fwt_hensai #fwt_inputs #fwt_buttons #fwt_clear {
    width: 80px;
    border: outset 1px #000;
}
#fwt_hensai #fwt_inputs #fwt_buttons #fwt_calc {
    width: 120px;
    border: outset 1px #000;
}

/* results table
-------------------------------------------------------------------*/
#fwt_hensai #fwt_results  { margin:2em 0;}
#fwt_hensai #fwt_results #fwt_pays table {
    border-collapse: collapse;
    width:100%;
}
#fwt_hensai #fwt_results #fwt_pays th {
    background-color: #e5f6fb;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: center;
    vertical-align: top;
    width:33%;
}
#fwt_hensai #fwt_results #fwt_pays td {
    background-color: #fff;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: right;
    vertical-align: top;
    width:33%;
}


#fwt_hensai #fwt_results table {
    border-collapse: collapse;
    width:100%;
    margin-bottom: 20px;
}
#fwt_hensai #fwt_results th {
    background-color: #e5f6fb;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: left;
    vertical-align: top;
    width:50%;
}
#fwt_hensai #fwt_results td {
    background-color: #fff;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: right;
    vertical-align: top;
    width:50%;
}

/* results elements
-------------------------------------------------------------------*/
#fwt_hensai #fwt_results td div#fwt_debt_total {
    font-weight: bold;
    font-size: 14px;
}
#fwt_hensai #fwt_results td div#fwt_pay_total {
    font-weight: bold;
    font-size: 14px;
}

/* results table(detail)
-------------------------------------------------------------------*/
#fwt_hensai #fwt_detail_results {
    display: none; /* Do Not Modify This Property */
}

#fwt_hensai #fwt_detail_results p#fwt_caption_detail {
    font-size: 14px;
    border: solid 1px #f60;
    color: #f60;
    text-align: center;
    padding: 5px;
}
#fwt_hensai #fwt_detail_results .fwt_caption_detail_table {
    font-size: 12px;
    color: #000;
    text-align: center;
    padding: 3px;
    border: solid 1px #f60;
    color: #f60;
    margin: 0 0 5px 0;
}
#fwt_hensai #fwt_detail_results table {
    border-collapse: collapse;
    width:100%;
    margin-bottom: 20px;
}
#fwt_hensai #fwt_detail_results th {
    background-color: #e5f6fb;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: center;
    vertical-align: top;
    width:25%;
}
#fwt_hensai #fwt_detail_results td {
    background-color: #fff;
    font-weight: normal;
	border: solid 1px #ccc;
    padding: 5px 10px;
    text-align: right;
    vertical-align: top;
    width:25%;
}

/* others
-------------------------------------------------------------------*/
#fwt_hensai div.fwt_note {
    margin-top: 3px;
    color: #69f;
}

#fwt_buttons2 {
    margin-bottom: 20px;
    text-align: center;
    display: none; /* Do Not Modify This Property */
}
#fwt_buttons2 #fwt_show_detail {
    width: 240px;
		background:#0071bc;
		color:#fff;
		display:block;
		margin:0 auto;
		padding:0.5em 2em;
}

#fwt_gotop {
    text-align: right;
}