/* = 
 * Fudousn Share Buttons
 * Icon Font Css.
 * @package WordPress4.1
 * Version: 0.2.0
-------------------------------------------------------------- */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-g50vuz');
	src:url('../fonts/icomoon.eot?#iefix-g50vuz') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-g50vuz') format('woff'),
		url('../fonts/icomoon.ttf?-g50vuz') format('truetype'),
		url('../fonts/icomoon.svg?-g50vuz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-Evernote_logo:before {
	content: "\e600";
}

.icon-facebook:before {
	content: "\e601";
}

.icon-feedly:before {
	content: "\e602";
}

.icon-google:before {
	content: "\e603";
}

.icon-hatebu:before {
	content: "\e604";
}

.icon-line:before {
	content: "\e605";
}

.icon-nbloglogo_siro:before {
	content: "\e606";
}

.icon-pocket:before {
	content: "\e607";
}

.icon-twitter-alt:before {
	content: "\e60a";
}

.icon-feed2:before {
	content: "\ea94";
}

/* Icon */
#snscomm a.icomoon{
    color: #fff !important;;
    font-size: 34px;
    margin: 0 0.6rem 1rem 0;
    padding: 9px 9px 7px;
    border-radius: 100%;
    text-decoration: none;
}


#snscomm a:hover{
    opacity: 0.7;
}
#snscomm a.icon-twitter-alt{
    background: #00ACEC;
}
#snscomm a.icon-facebook{
    background: #3A5999
}
#snscomm a.icon-google{
    background: #DA4936;
}
#snscomm a.icon-hatebu{
    background: #5B8ABE;
}
#snscomm a.icon-feed2{
    background: #DF9A01;
}
#snscomm a.icon-pocket{
    background: #EE4056;
}
#snscomm a.icon-feedly{
    background: #86BF3E;
}
#snscomm a.icon-Evernote_logo{
    background: #2DBE60;
}
#snscomm a.icon-line{
    background: #1DCD00;
}




.sharedaddy{
    margin: 2rem 0 0 0;
    display: inline-block;
}

.sharedaddy:after{
  content: "";
  clear: both;
  display: inline-block;
}

ul#snscomm {
    margin-left: 0;
}

#snscomm li{
    list-style: none;
    position: relative;
    float: left;
    margin: 0 5px 1.6rem 0;
}

/*count*/
#snscomm .share-count{
    position: absolute;

    left: 30px;
    bottom: -5px;
    font-size: 10px;

    background: #AF392E;
    border-radius: 25%;
    font-family: Arial;
    padding: 0.4rem 0.5rem;
    z-index: 10;
}

#snscomm .screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

