/*css for fudo-history*/


.fudo-fav-box {
	width:auto;
	padding:4px;
	margin:0px 0 4px 0px;
	background:#fff;
	overflow:hidden;
	clear:both;
}

.fudo-fav-box .fudo-fav-box-link ,
.fudo-fav-box-widget-link{
	display:block;
	width:150px;
	height:26px;
	background:url('../img/mylist_view.png') no-repeat;
	float:left;
}
.no_mylist .fudo-fav-box { display:none;}
.fudo-fav-box-widget-link{
	position: absolute;
	right: 10px;
	top: 2px;
	font-size:12px;
	color:#abc;
	font-weight: bold;
}

.fudo-fav-box .fudo-fav-box-link a{
	display:block;
	width:150px;
	height:26px;
}

.fudo-fav-box .fudo-fav-box-check{
	display:block;
	width:221px;
	height:46px;
	border:none;
	cursor:pointer;
}

.fudo-fav-box .fudo-fav-box-check-on {
	display:block;
	width:221px;
	height:46px;
	float:right;
	background:url('../img/mylist_check_on.png') no-repeat;
}

.fudo-fav-box .fudo-fav-box-check-off {
	display:block;
	width:221px;
	height:46px;
	float:right;
	background:url('../img/btn_mylist.png') no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.fudo-fav-box .fudo-fav-box-check .fudo-fav-box-checkbox{
	
}


