<style tyle="text/css">
<!--
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure,
main, footer, header, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
ul, ol {
  list-style: none;
}
strong, b, cite {
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
}
small, address {
  font-size: 100%;
  font-style: normal;
}
q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
input, textarea {
  font-size: 100%;
  vertical-align: middle;
  font-family: inherit;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
  resize: vertical;
}
img {
  border: none;
  vertical-align: bottom;
}
hr {
  visibility: hidden;
}
a {
  color: #03f;
}
a:link {
  text-decoration: underline;
  outline: none;
}
a:hover, a:active {
  text-decoration: none;
}
.mb5{
	margin-bottom : 5px;	
}

.mb10{
	margin-bottom : 10px;	
}

.mb15{
	margin-bottom : 15px;	
}

body {
  min-height: 100%;
  color: #333;
  font-size: 100%;
  line-height: 1.3;
  text-align: center;
}


img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/* outer layout */

#container {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}

#upper {
  border: 1px solid #333;
  overflow: hidden;
  _zoom: 1;
  border-radius: 10px;
  margin: 0 0 10px 0;
  height:600px;
}

#left-Column {
  float: left;
  width: 558px;
  padding: 5px 0 5px 5px;
}

#right-Column  {
  float: right;
  width: 400px;
  padding: 5px 5px 5px 0;
}

/* inner layout */

/* heder */
.header_title {
  font-size: 22px;
  font-weight: bold;
  margin: 0 ;
}

.header_access{
  font-size: 15px;
  font-weight: bold;	
}

/* special */
.special {
	margin-left : -10px;
	width : 100%;
    border-collapse:separate;
	border-spacing:10px 5px;
	font-size: 14px;
}

.special td{
	padding : 10px;
	height:40px;
	border : 1px solid #2980B9;
}


.specialspan{
	font-size: 14px;
	font-weight: bold;
	color : #2980B9;
	margin-left : 3px;	
	padding:3px;
}

.special span:after{
	content : "　";	
}

/* main */
#main-img {
  overflow: hidden;
  _zoom: 1;
  margin: 0 0 5px 0;
}

#main-img .img-left {
  float: left;
  width: 273px;
}

#main-img .img-left .bd{
  	border : 1px solid #333;
	text-align:center;
}

#main-img .img-right {
	float: right;
	width: 273px;
	text-align : center;
}

#main-img .img-right .menseki {
	font-weight: bold;
	font-size: 12px;
	padding : 5px;
	margin-bottom: 5px;
}

#main-img .img-right .bd01 {
	border : 1px solid #2980B9;
}

#main-img .img-right .bd02 {
 	border : 1px solid #333;	
}

#main-img .img-right .photo {
 	padding : 5px;	
}

#main-img .img-right img{
	vertical-align : middle;
}

/* sales commnet */
.comment_bd{
	padding : 2px;
	border : 2px solid #eee;
	border-radius : 0 25px 0 0;
	background-color : #EAE5D8;	
}

#comment {
  font-size : 12px;
  width: 548px;
}

.sales_comment{
	font-weight: bold;
	color: #2296B9;
	font-size : 12px;	
	height:50px;
}

.comment_space{
	padding : 5px;	
}

.kaeru  {
	width : 115px;
}

/* right table */
#right_table .font1 {
  font-size: 22px;
  font-weight: bold;
  text-align:center;
}

#right_table .font_color {
	color : #E50012;
}

#right_table {
  font-size: 14px;
  width: 100%;
}

#right_table th {
  width : 54px;
  border: 1px solid #333;
  background-color : #EAF4FB;
  vertical-align:middle;
  padding : 5px 3px;
}

#right_table td {
  width : 100px;
  border: 1px solid #333;
  padding : 5px 3px;
  vertical-align:middle;
}

/* footer */
#footer{
height:110px
}

#footer_upper_wrap {
  border: 1px solid #333;
  padding: 5px 10px ;
  clear : both;
  
}

.telimg{
 	vertical-align:text-bottom|;
}


/* footer upper table */
#footer_upper_table .font1{
	font-weight: bold;
	font-size: 25px;
}

#footer_upper_table .font2{
	font-weight:bold;
	font-size:30px;
	color : #E50012;
}

#footer_upper_table {
  width : 100%;
  font-size: 10px;
  margin-bottom: 5px;
}

#footer_upper_table th {
  text-align: left;
  vertical-align: middle;
  width: 200px;
}

#footer_upper_table td {
  text-align: left;
  vertical-align: middle;
}

#footer_upper_table td span {
	padding-left : 5px;
}

.url{
	margin-top : 3px;
	text-align : center;	
}

/* footer bottom */
.footer_btm_table{
	width : 100%;
	font-size : 10px;	
}

.t_right{
	text-align : right;	
}

.f_right{
	float : right;	
}

#right_table th{
	padding:10px 5px;
}


-->
</style>

