#page{
	width:994px;
}

#secondary{
	display:none;
}

/*#slider{
	display:none;
}*/

#comments{
	display: none;
}

#contact-form{
	display: none;
}

.fbcomment{
	display: none;
}

#colophon{
	display: none;
}

.nav-menu{
	display: none;
}

#site-share{
	display:none;
}

.fudo-fav-box{
	display: none;
}

