/*
Theme Name: Expression
Theme URI: http://
Author: ZIGEN
Author URI: http://wordpress.org/
Description: 不動産プラグイン専用レスポンシブ・テーマ
Version: 1.0.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentytwelve

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
/*	overflow-x:hidden;*/
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
.fll { float:left;}
.flr { float:right;}
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}
html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
a:focus {
	outline: thin dotted;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
}
audio:not([controls]) {
	display: none;
}
del {
	color: #333;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin: 24px;
	margin-bottom: 1.714285714rem;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
small {
	font-size: smaller;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* Clearing floats */
.clear:after,
.wrapper:after,
.format-status .entry-header:after {
	clear: both;
}
.clear:before,
.clear:after,
.wrapper:before,
.wrapper:after,
.format-status .entry-header:before,
.format-status .entry-header:after {
	display: table;
	content: "";
}
.pcnone { display:block;}
.spnone { display:none;}



/* =Repeatable patterns
-------------------------------------------------------------- */

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	text-transform: uppercase;
	color: #636363;
}

/* Shared Post Format styling */
article.format-quote footer.entry-meta,
article.format-link footer.entry-meta,
article.format-status footer.entry-meta {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}

/* Form fields, general styles first */
button,
input,
textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: inherit;
	padding: 6px;
	padding: 0.428571429rem;
}
button,
input {
    line-height: normal;
}
textarea {
	font-size: 100%;
	overflow: auto;
	vertical-align: top;
}

.entry-content .form_table {
	margin-top: 40px;
}
.entry-content .form_table th {
	background: #1073b9;
	color: #fff;
	font-size: 1rem;
	line-height: 1.3em;
	text-align: left;
	vertical-align: top;
	padding: 3%;
	border: 2px solid #fff;
	border-left: none;
}
.entry-content .form_table td {
	color: #000;
	font-size: 1rem;
	line-height: 1.3em;
	text-align: left;
	vertical-align: top;
	padding: 3%;
	border-bottom: 2px solid #fff;
}
.entry-content .form_table tr:nth-child(even) td {
	background: #eee;
}




/* Reset non-text input types */
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="hidden"],
input[type="image"],
input[type="color"] {
	border: 0;
	border-radius: 0;
	padding: 0;
}

/* Buttons */
.menu-toggle,
input[type="submit"],
input[type="button"],
input[type="reset"],
article.post-password-required input[type=submit],
li.bypostauthor cite span {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: bold;
	color: #7c7c7c;

	/*
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);

	*/
}
.menu-toggle,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
.menu-toggle:hover,
button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
article.post-password-required input[type=submit]:hover {
	color: #fff;
	background-color: #666;
/*	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
	background-image: linear-gradient(top, #f9f9f9, #ebebeb);*/
}
.menu-toggle:active,
.menu-toggle.toggled-on,
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
	color: #fff;
	background-color: #666;
/*	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
	background-image: linear-gradient(top, #ebebeb, #e1e1e1);
	box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;*/
	border: none;
}
li.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}

/* Responsive images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
	max-width: 100%;
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

/* Make sure videos and embeds fit their containers */
embed,
iframe,
object,
video {
	max-width: 100%;
}
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important; /* Override the Twitter embed fixed width */
}

/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {

}
.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.entry-content dl.gallery-item {
	margin: 0;
}
.gallery-item a,
.gallery-caption {
	width: 90%;
}
.gallery-item a {
	display: block;
}
.gallery-caption a {
	display: inline;
}
.gallery-columns-1 .gallery-item a {
	max-width: 100%;
	width: auto;
}
.gallery .gallery-icon img {
	height: auto;
	max-width: 90%;
	padding: 5%;
}
.gallery-columns-1 .gallery-icon img {
	padding: 3%;
}

/* Navigation */
.site-content nav {
	clear: both;
	line-height: 2;
	overflow: hidden;
}
#nav-above {
	padding: 24px 0;
	padding: 1.714285714rem 0;
}
#nav-above {
	display: none;
}
.paged #nav-above {
	display: block;
}
.nav-previous,
.previous-image {
	float: left;
	width: 32%;
}
.nav-single a { text-decoration:underline;}
.nav-single a:hover { text-decoration:none;}
.nav-single .nav-next,
.next-image {
	float: right;
	text-align: right;
	width: 32%;
}
.nav-single .nav-return {
	float: left;
	text-align: center;
	width: 33%;
}

.nav-single + .comments-area,
#comment-nav-above {
	margin: 48px 0;
	margin: 3.428571429rem 0;
}

/* Author profiles */
.author .archive-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.author-info {
	border-top: 1px solid #ededed;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	overflow: hidden;
}
.author-description p {
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.author.archive .author-info {
	border-top: 0;
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
}
.author.archive .author-avatar {
	margin-top: 0;
}


/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */
html {
	font-size: 87.5%;
}
body {
	font-size: 14px;
	font-size: 1rem;
	font-family: Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	color: #444;
	background-color: #FFF;
}
body.custom-font-enabled {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a {
	outline: none;
	color: #21759b;
}
a:hover {
	color: #0f3647;
}

/* Assistive text */
.assistive-text,
.site .screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,
.main-navigation .assistive-text:active,
.main-navigation .assistive-text:focus {
	background: #fff;
	border: 2px solid #333;
	border-radius: 3px;
	clip: auto !important;
	color: #000;
	display: block;
	font-size: 12px;
	padding: 12px;
	top: 5px;
	left: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Page structure */
.site {
	padding: 0 0px;
	/*padding: 0 1.714285714rem;*/
	background-color: #fff;
}
.site-content {
	margin: 0 0 0;
}
.widget-area {
	margin: 0 0 0;
}

/* Header */

#logo_area{
	width:50%;
	margin:3em 1em 2em;
}
#logo_area img{
	max-width:100%;
}

#site-share{
	margin:10px 10px;
}

#site-share iframe.twitter-share-button {
	width: 105px!important;
	float: left;
}

#site-share #twitter-widget-0{/*ie7*/
	width: 105px!important;
	float: left;
}

#site-text{
	margin-bottom:10px;
}

#site-open{
	display:inline;
	margin:0px 10px 10px;
}

#site-tel{
	display:inline;
	margin:0 10px 10px 0;
}

#site-tel .prefix{
	margin-right: 4px;
}

hgroup{
position: absolute;
left: -8px;
top: 0;
width: 100%;
text-align: left;
}

.site-header {
	position: relative;
	padding: 0;
	z-index:9000;
	background:url('images/bg_header_sp.jpg') center top no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.site-header h1,
.site-header h2 {
}
.site-header h1 a,
.site-header h2 a {
	color: #AAA;
	display: inline-block;
	text-decoration: none;
	margin-left:10px;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
	color: #21759b;
}
.site-header h1 {
	font-size: 16px;
	line-height:28px;

}
.site-header h2 {
	font-weight: normal;
	font-size: 10px;
	line-height: 1.4em;
	color: #000;
	margin-left:2em;
}
.header-image {
	margin-top: 24px;
	margin-top: 1.714285714rem;
}

.login_area {
	width:90%;
	margin:0 auto;
	text-align:center;
	clear:both;
	background:#f8f8f7;
	padding:1em 0;
	border:1px solid #a6a6a6;
}
.login_area p {
	font-weight:bold;
	letter-spacing:0.03em;
	margin-bottom:0.8em;
}
.login_area p span {	color:#F00;}
.login_area li {
	width:42%;
	display:inline-block;
	margin:0 2%;
}
.login_area li img { width:100%;}





/* Navigation Menu */
.main-navigation {
	padding:0px;
	border-top:1px solid #ccc;
	margin:0 0 1.5em;
}
.main-navigation li:nth-child(odd) a {
	margin-right:-1px;
	border-right:1px solid #ccc;
}
.main-navigation li {
	width:50%;
	font-size: 1rem;
	letter-spacing:0.03em;
	font-weight:bold;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	margin:0.1em 0;
	padding:0.5em 0;
	float:left;
}
.main-navigation li a {
	width:100%;
	text-align:center;
	display:block;
	padding:0.5em 0;
}
.main-navigation li span {
	font-size:0.8rem;
	font-weight:normal;
	display:block;
	margin-top:0.5em;
}


/* Banner */
section[role="banner"] {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
}

/* Sidebar */
.widget-area .widget {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	word-wrap: break-word;
}
.widget-area .widget h3 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.widget-area .widget p,
.widget-area .widget li,
.widget-area .widget .textwidget {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget-area .widget p {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.widget-area .textwidget ul {
	list-style: disc outside;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
.widget-area .textwidget li {
	margin-left: 36px;
	margin-left: 2.571428571rem;
}
.widget-area .widget a {
	color: #757575;
}
.widget-area .widget a:hover {
	color: #21759b;
}
.widget-area #s {
	width: 53.66666666666%; /* define a width to avoid dropping a wider submit button */
}

/* Footer */
footer[role="contentinfo"] {
/*	border-top: 1px solid #ededed;
	clear: both;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	max-width: 960px;
	max-width: 68.571428571rem;
	margin-top: 24px;
	margin-top: 1.714285714rem;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 0;
	padding: 1.714285714rem 0;*/
	text-align:center;
	background-color: #1073b9;
	color:#fff;
	padding:0 0 1em;
}
footer[role="contentinfo"] a {
	color: #fff;
}
footer[role="contentinfo"] a:hover {
	text-decoration: underline;
}
.footer_inner{
	border-top:4px solid #1073b9;
	color:#fff;
	clear: both;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	width: auto;
	margin-top: 24px;
	margin-top: 1.714285714rem;
	margin-left: auto;
	margin-right: auto;
	height:10em;
	background:#003e7b url('images/bg_footer.jpg') left top;
	border-bottom:1px solid #29abe2;
}
.site-info {
	padding:4em 0 0;
}

.page-top{
	position: fixed;
	margin:2em auto;
	padding:2em 0;
	width:100%;
	height:50px;
	text-align:right;
	right:5%;
	bottom:10px;
	z-index:10;
}
#page{ position:relative;}

#link_to_top {
	display:inline-block;
  width: 74px;
  height: 74px;
	background:url('images/to_top.png') no-repeat center center;
}

.side_menu {
	width:90%;
	margin:2em auto 0 !important;
}
.side_menu li { margin-bottom:0.6em;}
.side_menu a {
	display:block;
	text-align:center;
	padding:1.5em 0;
	border:1px solid #b5b5b5;
	/* box-shadow */
	box-shadow:rgb(181, 181, 181) 0px 0px 1px 1px;
	-webkit-box-shadow:rgb(181, 181, 181) 0px 0px 1px 1px;
	-moz-box-shadow:rgb(181, 181, 181) 0px 0px 1px 1px;
}

/* =Main content and comment content
-------------------------------------------------------------- */

.entry-meta {
	clear: both;
}
.entry-header {
	margin-bottom: 12px;
	margin-bottom: 0.3rem;
	margin-top:1.7rem;
}
.entry-header img.wp-post-image {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-header .entry-title {
	font-size: 1.4em;
	line-height: 1;
	font-weight: bold;
	color: #000;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px rgba(158,158,158,.75);
	-moz-box-shadow: 0 0 5px rgba(158,158,158,.75);
	box-shadow: 0 0 5px rgba(158,158,158,.75);
	border-bottom: 3px solid #1176bc;
	padding: 18px 0 15px 12px;
}
.entry-header .entry-title a {
	text-decoration: none;
}
.entry-header .entry-format {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-weight: normal;
}
.entry-header .comments-link {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.comments-link a,
.entry-meta a {
	color: #757575;
}
.comments-link a:hover,
.entry-meta a:hover {
	color: #21759b;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.entry-content,
.entry-summary,
.mu_register {
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1,
.entry-content h2,
.comment-content h2,
.entry-content h3,
.comment-content h3,
.entry-content h4,
.comment-content h4,
.entry-content h5,
.comment-content h5,
.entry-content h6,
.comment-content h6 {
	margin: 10px 0 0;
	line-height: 1.714285714;
}
.entry-content h1,
.comment-content h1 {
	font-size: 21px;
	font-size: 1.5rem;
	line-height: 1.5;
}
.entry-content h2,
.comment-content h2,
.mu_register h2 {
	font-size: 18px;
	font-size: 1.285714286rem;
	line-height: 1.6;
}
.entry-content h3,
.comment-content h3 {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.846153846;
}
.entry-content h4,
.comment-content h4 {
	font-size: 14px;
	font-size: 1rem;
	line-height: 1.846153846;
}
.entry-content h5,
.comment-content h5 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.entry-content h6,
.comment-content h6 {
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.846153846;
}
.entry-content p,
.entry-summary p,
.comment-content p,
.mu_register p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul,
.mu_register ul {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	line-height: 1.714285714;
}
.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
	margin-bottom: 0;
}
.entry-content ul,
.comment-content ul,
.mu_register ul {
	list-style: disc outside;
}
.entry-content ol,
.comment-content ol {
	list-style: decimal outside;
}
.entry-content li,
.comment-content li,
.mu_register li {
	margin: 0 0 0 36px;
	margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	padding: 24px;
	padding: 1.714285714rem;
	font-style: italic;
}
.entry-content blockquote p:last-child,
.comment-content blockquote p:last-child {
	margin-bottom: 0;
}
.entry-content code,
.comment-content code {
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
}
.entry-content pre,
.comment-content pre {
	border: 1px solid #ededed;
	color: #666;
	font-family: Consolas, Monaco, Lucida Console, monospace;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	margin: 24px 0;
	margin: 1.714285714rem 0;
	overflow: auto;
	padding: 24px;
	padding: 1.714285714rem;
}
.entry-content pre code,
.comment-content pre code {
	display: block;
}
.entry-content abbr,
.comment-content abbr,
.entry-content dfn,
.comment-content dfn,
.entry-content acronym,
.comment-content acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
.entry-content address,
.comment-content address {
	display: block;
	line-height: 1.714285714;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
img.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}
.entry-content embed,
.entry-content iframe,
.entry-content object,
.entry-content video {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content dl,
.comment-content dl {
	margin: 0 0px;
}
.entry-content dt,
.comment-content dt {
	font-weight: bold;
	line-height: 1.714285714;
}
.entry-content dd,
.comment-content dd {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ededed;
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
	width: 100%;
}
.entry-content table caption,
.comment-content table caption {
	font-size: 16px;
	font-size: 1.142857143rem;
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}
.site-content article {
	border-bottom: 4px double #ededed;
	margin-bottom: 72px;
	margin-bottom: 5.142857143rem;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
.page-links {
	clear: both;
	line-height: 1.714285714;
}
footer.entry-meta {
	margin-top: 24px;
	margin-top: 1.714285714rem;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #757575;
}
.single-author .entry-meta .by-author {
	display: none;
}
.mu_register h2 {
	color: #757575;
	font-weight: normal;
}


/* =Archives
-------------------------------------------------------------- */

.archive-header,
.page-header {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	padding-bottom: 22px;
	padding-bottom: 1.571428571rem;
	border-bottom: 1px solid #ededed;
}
.archive-meta {
	color: #757575;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	margin-top: 22px;
	margin-top: 1.571428571rem;
}


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {
	overflow: hidden;
}
.image-attachment div.attachment {
	text-align: center;
}
.image-attachment div.attachment p {
	text-align: center;
}
.image-attachment div.attachment img {
	display: block;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}
.image-attachment .entry-caption {
	margin-top: 8px;
	margin-top: 0.571428571rem;
}


/* =Aside post format
-------------------------------------------------------------- */

article.format-aside h1 {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
article.format-aside h1 a {
	text-decoration: none;
	color: #4d525a;
}
article.format-aside h1 a:hover {
	color: #2e3542;
}
article.format-aside .aside {
	padding: 24px 24px 0;
	padding: 1.714285714rem;
	background: #d2e0f9;
	border-left: 22px solid #a8bfe8;
}
article.format-aside p {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #4a5466;
}
article.format-aside blockquote:last-child,
article.format-aside p:last-child {
	margin-bottom: 0;
}


/* =Post formats
-------------------------------------------------------------- */

/* Image posts */
article.format-image footer h1 {
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	font-weight: normal;
}
article.format-image footer h2 {
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
}
article.format-image footer a h2 {
	font-weight: normal;
}

/* Link posts */
article.format-link header {
	padding: 0 10px;
	padding: 0 0.714285714rem;
	float: right;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 2.181818182;
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	color: #848484;
	background-color: #ebebeb;
	border-radius: 3px;
}
article.format-link .entry-content {
	max-width: 80%;
	float: left;
}
article.format-link .entry-content a {
	font-size: 22px;
	font-size: 1.571428571rem;
	line-height: 1.090909091;
	text-decoration: none;
}

/* Quote posts */
article.format-quote .entry-content p {
	margin: 0;
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}

/* Status posts */
.format-status .entry-header {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
.format-status .entry-header header {
	display: inline-block;
}
.format-status .entry-header h1 {
	font-size: 15px;
	font-size: 1.071428571rem;
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
}
.format-status .entry-header h2 {
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	line-height: 2;
	margin: 0;
}
.format-status .entry-header header a {
	color: #757575;
}
.format-status .entry-header header a:hover {
	color: #21759b;
}
.format-status .entry-header img {
	float: left;
	margin-right: 21px;
	margin-right: 1.5rem;
}


/* =Comments
-------------------------------------------------------------- */

.comments-title {
	margin-bottom: 48px;
	margin-bottom: 3.428571429rem;
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
	font-weight: normal;
}
.comments-area article {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
.comments-area article header {
	margin: 0 0 48px;
	margin: 0 0 3.428571429rem;
	overflow: hidden;
	position: relative;
}
.comments-area article header img {
	float: left;
	padding: 0;
	line-height: 0;
}
.comments-area article header cite,
.comments-area article header time {
	display: block;
	margin-left: 85px;
	margin-left: 6.071428571rem;
}
.comments-area article header cite {
	font-style: normal;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.42857143;
}
.comments-area article header time {
	line-height: 1.714285714;
	text-decoration: none;
	font-size: 12px;
	font-size: 0.857142857rem;
	color: #5e5e5e;
}
.comments-area article header a {
	text-decoration: none;
	color: #5e5e5e;
}
.comments-area article header a:hover {
	color: #21759b;
}
.comments-area article header cite a {
	color: #444;
}
.comments-area article header cite a:hover {
	text-decoration: underline;
}
.comments-area article header h4 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 6px 12px;
	padding: 0.428571429rem 0.857142857rem;
	font-size: 12px;
	font-size: 0.857142857rem;
	font-weight: normal;
	color: #fff;
	background-color: #0088d0;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #009cee, #0088d0);
	background-image: -ms-linear-gradient(top, #009cee, #0088d0);
	background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
	background-image: -o-linear-gradient(top, #009cee, #0088d0);
	background-image: linear-gradient(top, #009cee, #0088d0);
	border-radius: 3px;
	border: 1px solid #007cbd;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
a.comment-reply-link,
a.comment-edit-link {
	color: #686868;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
a.comment-reply-link:hover,
a.comment-edit-link:hover {
	color: #21759b;
}
.commentlist .pingback {
	line-height: 1.714285714;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}

/* Comment form */
#respond {
	margin-top: 48px;
	margin-top: 3.428571429rem;
}
#respond h3#reply-title {
	font-size: 16px;
	font-size: 1.142857143rem;
	line-height: 1.5;
}
#respond h3#reply-title #cancel-comment-reply-link {
	margin-left: 10px;
	margin-left: 0.714285714rem;
	font-weight: normal;
	font-size: 12px;
	font-size: 0.857142857rem;
}
#respond form {
	margin: 24px 0;
	margin: 1.714285714rem 0;
}
#respond form p {
	margin: 11px 0;
	margin: 0.785714286rem 0;
}
#respond form p.logged-in-as {
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
}
#respond form label {
	display: block;
	line-height: 1.714285714;
}
#respond form input[type="text"],
#respond form textarea {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 1.714285714;
	padding: 10px;
	padding: 0.714285714rem;
	width: 100%;
}
#respond form p.form-allowed-tags {
	margin: 0;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #5e5e5e;
}
.required {
	color: red;
}


/* =Front page template
-------------------------------------------------------------- */

.entry-page-image {
	margin-bottom: 14px;
	margin-bottom: 1rem;
}
.template-front-page .site-content article {
	border: 0;
	margin-bottom: 0;
}
.template-front-page .widget-area {
	clear: both;
	float: none;
	width: auto;
	padding-top: 24px;
	padding-top: 1.714285714rem;
	border-top: 1px solid #ededed;
}
.template-front-page .widget-area .widget li {
	margin: 8px 0 0;
	margin: 0.571428571rem 0 0;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.714285714;
	list-style-type: square;
	list-style-position: inside;
}
.template-front-page .widget-area .widget li a {
	color: #757575;
}
.template-front-page .widget-area .widget li a:hover {
	color: #21759b;
}
.template-front-page .widget-area .widget_text img {
	float: left;
	margin: 8px 24px 8px 0;
	margin: 0.571428571rem 1.714285714rem 0.571428571rem 0;
}


/* =Widgets
-------------------------------------------------------------- */

.widget-area .widget ul ul {
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
.widget_rss li {
	margin: 12px 0;
	margin: 0.857142857rem 0;
}
.widget_recent_entries .post-date,
.widget_rss .rss-date {
	color: #aaa;
	font-size: 11px;
	font-size: 0.785714286rem;
	margin-left: 12px;
	margin-left: 0.857142857rem;
}
#wp-calendar {
	margin: 0;
	width: 100%;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	color: #686868;
}
#wp-calendar th,
#wp-calendar td,
#wp-calendar caption {
	text-align: left;
}
#wp-calendar #next {
	padding-right: 24px;
	padding-right: 1.714285714rem;
	text-align: right;
}
.widget_search label {
	display: block;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
}
.widget_twitter li {
	list-style-type: none;
}
.widget_twitter .timesince {
	display: block;
	text-align: right;
}


/* =Plugins
----------------------------------------------- */

img#wpstats {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.714285714rem;
}



/* Minimum width of 600 pixels. */
/*@media screen and (min-width: 600px) {*/
	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 0px;
		max-width: 768px;
		/*max-width: 68.571428571rem;*/
		overflow: hidden;
		margin:0 auto;
	}
	.site-content {
		width:90%;
		margin: 0 auto;
	}
	body.template-front-page .site-content,
	body.single-attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}

/*
	.site-header h1,
	.site-header h2 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 26px;
		font-size: 1.857142857rem;
		line-height: 1.846153846;
		margin-bottom: 0;
	}
	*/




/* 以下、style2012.css */

/* 基本サイズ */



.widget-area{
	/*width: 22% !important;*/
	float:left;
	width:100%;
}
.site-content {
}










/* = nav-menu
---------------------------------------------------------------------- */
.ie .nav-menu ul li a,
.ie .nav-menu ul li {
    display: inline;
}




/* 3= 汎用css
---------------------------------------------------------------------- */

.dpoint1 {/*価格*/
	color: #FFF;
	display:block;
	background: #8EB882;
	font-size: 23px;
	padding: 18px 6px 18px 0px;
	text-align: center;
	white-space: nowrap;
	z-index:2;
}

.dpoint1 .unit{
	display:inline;
	font-size:10px;
}

.dpoint2{
 width:100%;
}

.d_madori {/*間取り*/
	color: #2C49B4;
	font-size: 20px;
	padding: 7px 7px;
	z-index:2;
}

.d_menseki {
	color: #333;
	padding: 4px;
  font-weight: bold;
  border-top: 3px dotted #E0E0E0;
}

.dpoint3 {
	font-weight: bold;
	color: #000;
	/*white-space: nowrap;*/
	display: inline;
}

.dpoint4 {
	font-size: 25px;
	color: #8EB882;
	display: inline;
	font-weight: bold;
}

.dpoint4_td{
	width:157px;
	border-left:5px solid #8EB882;
}

#list_simplepage2 .list_simple_box .list_detail .list_price .dpoint4_td dt{
	color: #8EB882;
}

.dpoint5 {
	font-size: 25px;
	color: #2C49B4;
	display: inline;
	font-weight: bold;
}

.dpoint5_td{
	width:137px;
	border-left:5px solid #2C49B4;
}

#list_simplepage2 .list_simple_box .list_detail .list_price .dpoint5_td dt{
	color: #2C49B4;
}



/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */

/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */
.search_result dl {
	width:95%;
	border:5px solid #f2f2f2;
	/* box-shadow */
	box-shadow:rgb(199, 199, 199) 0px 0px 0px 1px inset;
	-webkit-box-shadow:rgb(199, 199, 199) 0px 0px 0px 1px inset;
	-moz-box-shadow:rgb(199, 199, 199) 0px 0px 0px 1px inset;
	padding:0.8em 2%;
	font-size:1rem;
	font-weight:bold;
	letter-spacing:0.05em;
	margin:2em 0;
}
.search_result dt {
	width:30%;
	display:table-cell;
	vertical-align:top;
	padding-right:5%;
}
.search_result .kensu span ,
.search_result dl span {
	color:#F00;
	padding:0 0.2em;
	font-size:1.2em;
}
.search_result dd {
	width:65%;
	display:table-cell;
	vertical-align:top;
}
.search_result .kensu p {
	font-size:1rem;
	font-weight:bold;
	margin-bottom:3em;
}
.search_result .btn_area {
	width:100%;
	text-align:center;
	margin:0 auto 2em;
}
.search_result .btn_area li {
	width:47%;
	display:inline-block;
	padding:0 1% 0.7em;
	vertical-align:bottom;
}
.search_result .btn_area .img_check {
	width:1em;
	margin-right:0.5em;
	vertical-align:bottom;
}
.search_result .btn_area a {
	display:block;
	margin:0.5em 0;
}
.search_result .btn_area li a img { max-width:100%;}
.list_detail table td {
	padding: 2px;
	vertical-align: top;
}

.list_detail table td {
	padding: 2px;
}

#list_simplepage .list_simple_boxtitle {
	border-top:3px solid #1377be;
	padding-top:1.5em;
	margin:1.5em 0;
}
#list_simplepage .list_simple_boxtitle .shubetsu_icon,
#list_simplepage2 h2.entry-title  .shubetsu_icon
{
	margin-right: 4px;
}

#list_simplepage .list_simple_boxtitle h2 a {
	font-size:1rem;
	letter-spacing:0.05em;
	font-weight: bold;
	padding: 0;
	color: #004cca;
	text-decoration:underline;
}
#list_simplepage .list_simple_boxtitle h2 a:hover { text-decoration:none;}
#list_simplepage .list_simple_boxtitle .fudo-fav-box {
	display:block;
	width:100%;
	margin:0.5em 0;
}
#list_simplepage .list_simple_boxtitle .fudo-fav-box button {
	width:180px;
	height:40px;
	float:left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

#list_simplepage .list_simple_box:after {
	content : '';
	display : block;
	clear : both;
	height:0;
}
#list_simplepage .list_simple_box {
	/zoom : 1;
	position: relative;
	margin: 0 0 4em 0;
	padding:0 0 5px 0;
	/*background:url('./images/h3_bg.png') bottom left repeat-x transparent;*/
	min-height: 199px;
}
#list_simplepage .btn_area {
	clear:both;
	text-align:center;
}
#list_simplepage .btn_area a {
	width:47%;
	font-size:1rem;
	color:#000;
	font-weight:bold;
	padding:1em 0em;
	display:inline-block;
	text-align:center;
}
#list_simplepage .btn_area a.shosai {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efc6c6+0,e27a78+100 */
background: rgb(239,198,198); /* Old browsers */
background: -moz-linear-gradient(top, rgba(239,198,198,1) 0%, rgba(226,122,120,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,198,198,1)), color-stop(100%,rgba(226,122,120,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(239,198,198,1) 0%,rgba(226,122,120,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(239,198,198,1) 0%,rgba(226,122,120,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(239,198,198,1) 0%,rgba(226,122,120,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(239,198,198,1) 0%,rgba(226,122,120,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc6c6', endColorstr='#e27a78',GradientType=0 ); /* IE6-9 */
/* border */
border:1px solid rgb(227, 136, 131);

/* border-radius */
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;

/* box-shadow */
box-shadow:rgb(255, 255, 255) 0px 0px 0px 1px inset,rgba(143, 143, 143, 0.619608) 1px 1px 3px 1px;
-webkit-box-shadow:rgb(255, 255, 255) 0px 0px 0px 1px inset,rgba(143, 143, 143, 0.619608) 1px 1px 3px 1px;
-moz-box-shadow:rgb(255, 255, 255) 0px 0px 0px 1px inset,rgba(143, 143, 143, 0.619608) 1px 1px 3px 1px;
margin-right:15px;
}
#list_simplepage .btn_area a.shiryo {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffe39c+0,ffbd16+100 */
background: rgb(255,227,156); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,227,156,1) 0%, rgba(255,189,22,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,227,156,1)), color-stop(100%,rgba(255,189,22,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,227,156,1) 0%,rgba(255,189,22,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,227,156,1) 0%,rgba(255,189,22,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,227,156,1) 0%,rgba(255,189,22,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,227,156,1) 0%,rgba(255,189,22,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe39c', endColorstr='#ffbd16',GradientType=0 ); /* IE6-9 */
/* border */
border:1px solid rgb(240, 178, 96);

/* border-radius */
border-radius:6px;
-webkit-border-radius:6px;
-moz-border-radius:6px;

/* box-shadow */
box-shadow:rgb(255, 255, 255) 0px 0px 0px 1px inset,rgba(143, 143, 143, 0.619608) 1px 1px 3px 1px;
-webkit-box-shadow:rgb(255, 255, 255) 0px 0px 0px 1px inset,rgba(143, 143, 143, 0.619608) 1px 1px 3px 1px;
-moz-box-shadow:rgb(255, 255, 255) 0px 0px 0px 1px inset,rgba(143, 143, 143, 0.619608) 1px 1px 3px 1px;
}

/*#list_simplepage .list_simple_box .list_detail dt {
	float:left;
	width:80px;
	font-weight: bold;
	margin-left:5px;
	color: #333;
}

#list_simplepage .list_simple_box .list_detail dd {
	float:left;
	color: #333;
	margin: 0 0.6em 0 0.4em;
	padding: 0px;
}
*/

#list_simplepage .list_simple_box .list_detail dl {
	border:1px solid #fff;
	margin:0 -1px;
}
#list_simplepage .list_simple_box .list_detail dl.price {
	float:left;
	width:34%;
}
#list_simplepage .list_simple_box .list_detail dl.madori {
	float:left;
	width:34%;
}
#list_simplepage .list_simple_box .list_detail dl.year {
	clear:both;
	float:left;
	width:50%;
}
#list_simplepage .list_simple_box .list_detail dl.address {
	float:left;
	width:50%;
}
#list_simplepage .list_simple_box .list_detail dl.area {
	clear:both;
	width:100%;
}
#list_simplepage .list_simple_box .list_detail dt {
	font-weight:bold;
	font-size:0.8rem;
	padding:0.1em 0.5em;
	background:#e5e5e5;
}
#list_simplepage .list_simple_box .list_detail dd {
	background:#f9f8f8;
	padding:0.3em;
	font-size:0.8rem;
	padding:0.8em 0.5em;
}
#list_simplepage .list_simple_box .list_detail .price p.fll {
	color:#F00;
	font-weight:bold;
	font-size:1.6em;
}
#list_simplepage .list_simple_box .list_picsam {
	float: left;
	width: 30%;
	padding-right:2%;
}

#list_simplepage .list_simple_box .list_picsam img {
	background-color: #FFF;
/*	height: 100px;	*/
	max-width:100%;
	margin: 0;
	padding: 0;
	border:1px solid #a6a6a6;
}



#list_simplepage a:link,a:visited .list_details_button{ text-decoration: none; }

#list_simplepage a:hover .list_details_button {
	color: #39F;
	text-decoration: underline;
}

#list_simplepage .list_simple_box .list_detail {
	padding: 0;
	margin: 0 0 2em;
	line-height: 1.8;
	font-size: 87.5%;
}

#list_simplepage .list_detail table tr {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin-bottom: 0px;
	padding-left:5px;
}

#list_simplepage .list_price {
	padding:0px 0px;
	background-color: #f5f5f5;
}

#list_simplepage .list_price.rent {
	background-color: #f5f5f5;
}


#list_simplepage .list_detail .list_price tr {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #AAA;
}

#list_simplepage .list_detail .list_address dd { display: block; }

#list_simplepage .entry-excerpt{
	padding-bottom: 0px;
	padding-left: 0px;
}





/* 物件の詳細を見るボタン */

#list_simplepage .list_simple_box .list_details_button {
	position: absolute;
	bottom: -29px;
	background: url("./images/ar_gray.png") no-repeat scroll right 9px #E0E0E0;
	color: #E00;
	display: block;
	line-height: 36px;
	padding: 0 0 0 10px;
	box-sizing:border-box;
	-moz-box-sizing: border-box;
	width: 100%;
}






/* 13= 物件詳細ページ #list_simplepage2 
---------------------------------------------------------------------- */

#list_simplepage2 .entry-excerpt{
	padding-bottom: 10px;
	padding-left: 5px;
}


#list_simplepage2{
	margin:0;
	padding:0;
}

#list_simplepage2 .list_simple_box .list_detail dt {
	font-weight: normal;
	color: #333;
	float:left;
	clear:both;
}

#list_simplepage2 .list_simple_box .list_detail dl.list_price table td dt

{
	clear:none;
}

#list_simplepage2 .list_simple_box .list_detail dd {
	display: inline;
	color: #333;
	margin: 0 0.6em 0 0.4em;
	padding: 0px;
	float: left;
}

#list_simplepage2 .list_simple_box:after {
	content : '';
	display : block;
	clear : both;
	height:0;
}



#list_simplepage2 .list_detail table{
	margin: 0px;
	padding: 0px;
	border:none;
}

#list_simplepage2 .list_simple_box{
	padding: 0px 0 0px 0px;
	margin: 0 0 20px 0;
}

#list_simplepage2 .list_simple_box .list_detail {
	display: block;
	width: 100%;
	float: left;
	background-color: #fff;
	padding: 0px;
	margin:0;
}

#list_simplepage2 .list_detail h3{
	font-size: 14px;
	margin: 8px 0px;
	padding: 0px 0px 0px 8px;
	font-weight: bold;
	color: #1073b9;
}

#list_simplepage2 .list_picsam {
	display: block;
	/*width:140px;*/
	color: #000;
	margin: 0px 10px 0px 0px;
}

#list_simplepage2 .list_picsam img {
	border: 1px solid #999;
	background-color: #FFF;
/*	height: 130px;	*/
	width: 130px;
	margin: 0 0 4px 0;
	padding: 1px;
}

#main #content #second_img {
	padding: 10px 0;
}

#main #content #second_img img {
	border: 1px solid #999;
	background-color: #FFF;
	width: 98px;
	height:98px;
	margin: 0 1px 0 0;
	padding: 1px;
}

#list_simplepage2 .list_price {
	background-color: #fff;
	line-height: 2;
	margin: 20px 0 0 0;
	padding: 0 0 4px 0;
}
/*#list_simplepage2 .list_price.rent {
	background:	-moz-linear-gradient(left, #fdedf0, #fff);
	background:	-webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));
	background-color: #fdedf0;
}*/

#list_simplepage2 .list_detail table{
	font-size:14px;
}


#list_simplepage2 .list_detail table#list_add {
	font-size:14px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	background:#f5f5f5;
}

#list_simplepage2 .list_detail table#list_other {
	font-size:14px;
}

#list_simplepage2 .list_simple_box .list_detail #list_add th{
	border-bottom:1px solid #DDDDDD;
	line-height: 1.4;
	padding: 5px;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}

#list_simplepage2 .list_simple_box .list_detail #list_add td {
	line-height: 1.4;
	padding: 0.5em;
	margin:0;
	white-space: normal;
	color: #555;
	border-bottom:1px solid #DDDDDD;
	font-weight: bold;
}

#list_simplepage2 .list_simple_box .list_detail #list_other th{
	background:#bfbfbf;
	vertical-align:middle;
	text-align:center;
	padding:1em 1%;
	width:28%;
	border: 2px solid #fff;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th.th2{
	
}

#list_simplepage2 .list_simple_box .list_detail td.dpoint7 dt{
	clear: both;
	float: left;
	width: 111px;
	margin:4px 0px;
}

#list_simplepage2 .list_simple_box .list_detail td.dpoint7 dd{
	float:left;
	margin:4px 0px;
}

#list_simplepage2 .list_simple_box .list_detail #list_other td {
	background:#eeeeee;
	width:68%;
	vertical-align:middle;
	padding:1em 1%;
	border: 2px solid #fff;
}



#list_simplepage2 h2.entry-title{
	font-weight: bold;
	padding: 6px 0 6px 0px;
	display: block;
	border-bottom: 6px solid #E0E0E0;
	/*background:url('./images/h3_bg.png') bottom left repeat-x transparent;*/
	font-size: 150%;
}

#list_simplepage2 h2.entry-title .title_text{
}

ul.setsubi_list {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
}

ul.setsubi_list li {
  background: none repeat scroll 0 0 #DEEDF1;
  display: inline-block;
  float: left;
  list-style-type: none;
  margin: 3px 5px;
  padding: 0 5px;
  white-space: nowrap;
}

#toiawasesaki{
	display: block;
	margin:0 0 20px ;
	line-height: 1.2;
}
#contact_form{
	display: block;
	margin:0 0 20px ;
}


/* 担当者コメント entry-content */
#main #content .entry-content p {
	padding: 10px;
	font-size: 12px;
	line-height: 1.2;
	margin: 0px;
}


/* 表下部・現況優先但書 */
.list_detail_bottom_info{
	clear : both;
	display: block;
	padding: 10px;
	text-align: right;
}


/* for wp3.6 youtube */
#main #content .list_detail .entry-content p iframe  {
	max-width: 470px;
}



/* マイリスト */
.mylist-title {	margin-bottom:0.5em !important;}
.member_data {
	border:1px solid #a0a0a0;
	padding:0.5em 2%;
	margin-bottom:3em !important;
}
.member_data dt {
	padding:0.5em;
	border-bottom:1px solid #a0a0a0;
}
.member_data dd {
	padding:1em 1.5em 0.5em;
}
.member_data dd ul {
}
.member_data dd li {
	width:45%;
	margin:0.5em 0;
	padding:0;
	float:left;
}
.member_data dd li:before {
	content:'・';
	display:inline-block;
}
.member_data dd li a {
	text-decoration:underline;
	color:#0071bc;
}


/* 不動産下層 */
.single-fudo .mylist {
	float:left;
	width:49%;
	padding-right:2px;
}
.single-fudo .fudo-fav-box { width:49%;}
.single-fudo .fudo-fav-box button {
	width: 100%;
	height: 3.5rem;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.single-fudo .mylist img { width:100%;}
.single-fudo .fudo-fav-box {
	clear:none;
}
.single-fudo .title_area {
	box-shadow:inset 0 0 25px #ebebeb;
	border:1px solid #a6a6a6;
	padding:10px;
	margin:30px 0 15px;
}
.single-fudo .title_area h2.entry-title {
	background:#0071bc;
	font-size:1rem !important;
	border:none !important;
	color:#ffd041;
	padding:0.7em 0.8em !important;
	margin-bottom:0.5em;
}
.single-fudo .title_area h2.entry-title .shubetsu_icon {
	padding:0 !important;
	margin:0 !important;
}
.single-fudo .title_area ul {
	border-bottom:1px dotted #a6a6a6;
	margin-bottom:25px;
}
.single-fudo .title_area li {
	line-height:1.7em;
	padding:0.5em 0;
}
.single-fudo .title_area li span {
	border:1px solid #000;
	padding:0.1em 0.3em;
	margin:0 0.3em 0 0;
}
.single-fudo .title_area li b {
	color:#F00;
	font-size:1.2rem;
	font-weight:bold;
}
.single-fudo .title_area li.price {
	width:45%;
	float:left;
	padding-right:2%;
}
.single-fudo .title_area li.address {
	width:49%;
	float:left;
	position:relative;
}
.single-fudo .title_area li.traffic {
	width:100%;
	clear:both;
	clear:left;
	border-top:1px dotted #a6a6a6;
}
.single-fudo .title_area .btn_contact {
	background:#e5e5e5;
	margin-bottom:0;
}
.single-fudo .btn_contact {
	text-align:center;
	padding:2em 0;
	margin-bottom:3em;
}
.single-fudo .btn_contact a {
	margin: 0.5em auto;
	display:block;
	width:70%;
}
.single-fudo .btn_contact a img { max-width:100%;}
.single-fudo .btn_area_sub {
	text-align:center;
	width:76%;
	margin:1em auto 3em;
}
.single-fudo .btn_area_sub a img { margin:0.5em 0; max-width:100%;}
.single-fudo .konobukken h4 {
	color:#0071bc;
	font-size:18px;
	border-bottom:3px solid #0071bc;
	padding:0.5em 1em;
	margin-bottom:1em;
}
.single-fudo .konobukken dl {
	margin-bottom:100px;
	border:1px solid #888888;
}
.single-fudo .konobukken dt {
	background:#eaf1f2;
	padding:0.5em;
	font-weight:bold;
}
.single-fudo .konobukken dd {	padding:0.5em;}
.single-fudo .syousai-content {
}
/* ----取扱不動産 */
.single-fudo #main #container #content h3 {
	position: relative;
	background: #f2f2f2 url("./images/line_dotted.jpg") repeat-x left bottom;
	padding:1em 0 19px 2em;
	border: none;
	font-size: 17px;
	line-height: 1em;
	font-weight: normal;
	color: #000;
	margin-bottom:1em;
}
.single-fudo #main #container #content h3:before {
	content:'';
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:0.2em;
	background:url("./images/line_double.jpg") repeat-y left top;
	background-size:100%;
}
.single-fudo #main #container #content h3:after {
	content: "";
	display: block;
	width: 0.6em;
	height: 0.6em;
	border: 4px solid #006ebe;
	border-radius: 10px;
	position: absolute;
	left: 0.6em;
	top:1em;
	margin: auto;
}
#company_info {
	background-color: #fff;
	-webkit-box-shadow: inset 0 0 25px #ebebeb;
	-moz-box-shadow: inset 0 0 25px #ebebeb;
	box-shadow: inset 0 0 25px #ebebeb;
	padding: 20px;
	border:1px solid #a6a6a6;
	margin-bottom:70px;
}
#company_info #role_company {
}
#company_info #role_company .role_kannri_company {
	font-size: 1.2rem;
	color: #000;
	margin-bottom:0.5em;
	display:block;
	font-weight: bold;
}
#company_info #role_company .corp_comment img { width:100%; margin-bottom:0.5em;}
#company_info .inner .contact { display:none;}
#company_info .contact {
	width: 80%;
	margin:1em auto;
}
#company_info .contact h4 {
	border: 1px solid #006ebe;
	border-radius: 4px;
	margin-bottom: 15px;
}
#company_info .contact h4 span {
	display: block;
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	line-height: 1em;
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 10px 0 8px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6ac5ed+0,1baae4+100 */
	background: rgb(106,197,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(106,197,237,1) 0%, rgba(27,170,228,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(106,197,237,1)), color-stop(100%,rgba(27,170,228,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(106,197,237,1) 0%,rgba(27,170,228,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(106,197,237,1) 0%,rgba(27,170,228,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(106,197,237,1) 0%,rgba(27,170,228,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(106,197,237,1) 0%,rgba(27,170,228,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ac5ed', endColorstr='#1baae4',GradientType=0 ); /* IE6-9 */
}
#company_info .contact .tel_num {
	font-size: 15px;
	color: #c1272d;
	text-align:center;
	font-weight: bold;
	margin-bottom: 10px;
}
#company_info .contact .tel_num:before {
	content:'';
	width:1em;
	height:1em;
	display:inline-block;
	background: url("http://tochi-navi.net/wp/wp-content/themes/expression_zoom/images/icon_tel.jpg") no-repeat left top;
	vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}
#company_info .contact .business {
	font-size: 13px;
	text-align: center;
}
#company_info .contact .bukken_num {
	-webkit-border-radius: 22px/22px 22px 21px 21px;
	-moz-border-radius: 22px/22px 22px 21px 21px;
	border-radius: 22px/22px 22px 21px 21px;
	background-color: #eee;
	-webkit-box-shadow: inset 0 0 5px rgba(191,191,191,.75);
	-moz-box-shadow: inset 0 0 5px rgba(191,191,191,.75);
	box-shadow: inset 0 0 5px rgba(191,191,191,.75);
	width: 100%;
	font-size: 16px;
	color: #0071bc;
	text-align: center;
	margin: 15px auto;
	padding: 12px 0;
	font-weight: bold;
}
#company_info .contact .bukken_num:before {
	content: "問合せ物件番号";
	font-size: 12px;
	color: #333;
	margin-right: 15px;
	font-weight: normal;
}
#company_info .contact .note {
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	margin: 0 auto;
}
#company_info #role_company .corp_info span {
	display: block;
	font-size: 13px;
	margin-bottom: 10px;
}
#company_info #role_company .corp_info span a {
	color: #0071bc;
}
#company_info #charge {
	background: #eee;
	border-radius: 4px;
	padding: 10px;
}
#company_info #charge .role_kannri_tanto_pic {
	width:100%;
	display: block;
	margin-bottom: 0.5em;
}
#company_info #charge .role_kannri_tanto_pic img {
	max-width: 30%;
}
#company_info #charge .charge_deta {
	width: 100%;
}
#company_info #charge span {
	display: block;
}
#company_info #charge .role_kannri_tanto_admin {
	font-size: 12px;
	line-height: 1em;
	font-weight: bold;
	margin-bottom: 10px;
}
#company_info #charge .role_kannri_tanto_comment {
	font-size: 11px;
	line-height: 1.5em;
	font-weight: normal;
}

/* 物件お問い合わせ */
.single-fudo  #contact_form {
	box-shadow:inset 0 0 25px #ebebeb;
	border:1px solid #a6a6a6;
}
.single-fudo  #content .wpcf7 {
	background: transparent !important;
}
.single-fudo  #contact_form dl {
	width:90%;
	margin:0.5em auto;
	padding:1em 0;
	border-bottom:1px solid #a6a6a6;
}
.single-fudo  #contact_form dt {
	width:100%;
	font-size:12px;
	padding:0;
	margin:0;
	font-weight:bold;
	vertical-align:middle;
}
.single-fudo  #contact_form dt strong { display:none;}
.single-fudo  #contact_form dd {
	width:90%;
	margin:0 auto;
}
.single-fudo  #contact_form label {
	width:100%;
	margin:0 auto;
	font-weight:normal;
	line-height:1.7em;
}.single-fudo  #contact_form input[type="text"] ,
.single-fudo  #contact_form input[type="email"]  ,
.single-fudo  #contact_form textarea {
	width:100%;
	font-size:12px;
	line-height:1.7em;
	margin:0.5em auto;
}
.single-fudo  #contact_form .submit-box input[type="submit"] {
	color:#fff;
	font-weight:bold;
	display:block;
	font-size:12px;
	padding:0.7em 0;
	width:90%;
	margin:2em auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1baae4+0,1baae4+50,006fbf+51,006fbf+100 */
background: rgb(27,170,228); /* Old browsers */
background: -moz-linear-gradient(top, rgba(27,170,228,1) 0%, rgba(27,170,228,1) 50%, rgba(0,111,191,1) 51%, rgba(0,111,191,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(27,170,228,1)), color-stop(50%,rgba(27,170,228,1)), color-stop(51%,rgba(0,111,191,1)), color-stop(100%,rgba(0,111,191,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(27,170,228,1) 0%,rgba(27,170,228,1) 50%,rgba(0,111,191,1) 51%,rgba(0,111,191,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(27,170,228,1) 0%,rgba(27,170,228,1) 50%,rgba(0,111,191,1) 51%,rgba(0,111,191,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(27,170,228,1) 0%,rgba(27,170,228,1) 50%,rgba(0,111,191,1) 51%,rgba(0,111,191,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(27,170,228,1) 0%,rgba(27,170,228,1) 50%,rgba(0,111,191,1) 51%,rgba(0,111,191,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1baae4', endColorstr='#006fbf',GradientType=0 ); /* IE6-9 */
border:1px solid #2c2b94;
/* box-shadow */
box-shadow:rgb(141, 208, 239) 0px 1px 0px 0px inset;
-webkit-box-shadow:rgb(141, 208, 239) 0px 1px 0px 0px inset;
-moz-box-shadow:rgb(141, 208, 239) 0px 1px 0px 0px inset;
-moz-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.71);
-webkit-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.71);
-ms-text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.71);
text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.71);
cursor:pointer;
}





/* 14= 物件詳細ページ関連物件  #syousai_box : 関連物件部分
---------------------------------------------------------------------- */

#list_simplepage2 .widget ul{ /zoom : 1;margin: 0 0 20px 0px;padding: 0px;}

#list_simplepage2 .widget ul:after{ content : ''; display : block; clear : both; height:0; }

#syousai_box ul.syousai-content li{
	display: block;
	width:97%;

	list-style-type: none;

	font-size: 12px;
	line-height: 1;
	float:left;

	border: 1px solid #ccc;

	padding: 0.7em 1.5% 1em;
	margin:0 0 0.5em;

	background: #f0f0f0;
	background: -moz-linear-gradient(top, #ffffff 70%, #F7F7F7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#ffffff), color-stop(100%,#F7F7F7));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F7F7F7',GradientType=0 );
	/* box-shadow */
	box-shadow:rgb(219, 219, 219) 0px 4px 3px 1px;
	-webkit-box-shadow:rgb(219, 219, 219) 0px 4px 3px 1px;
	-moz-box-shadow:rgb(219, 219, 219) 0px 4px 3px 1px;
}
#fudo_syousai-2 li{height: auto !important;}

#list_simplepage2 .widget ul li .top_price{
background:#fff;
line-height:22px;
font-size:16px;
}
#syousai_box ul.syousai-content li .fll{
	width:30%;
	padding-right:5%;
	float:left;
}
#syousai_box ul.syousai-content li .fll img { width:100%;}
#syousai_box ul.syousai-content li .flr{
	width:65%;
	float:right;
}
#syousai_box ul.syousai-content li h4 {
	display:block !important;
	font-size:14px;
	margin-bottom:0.4em;
}
#syousai_box ul.syousai-content li p.top_price {
	font-weight:bold;
	color:#F00 !important;
}
#syousai_box ul.syousai-content li p {
	margin-bottom:0.2em;
	font-size:12px;
}

#list_simplepage2 .widget ul li .box2image{
	width:80px; 
/*	height:80px;	*/
}

#syousai_box .carousel_inner_fudo_top_slider_syousai_2{
	max-width:490px; 
}

/* 関連物件 */
#list_simplepage2 .widget ul li {
	
}

#syousai_box .new_mark {
	font-family: Verdana, Geneva, sans-serif;

	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	
	display: block;
	padding: 2px 5px;
	width: 26px;

	position: absolute;
	top: 6px;
	right: 6px;
	
	border-radius: 4px;

	text-shadow:1px 1px 0px #900;

	background: #900; /* Old browsers */
	background: -moz-linear-gradient(top, #d20100 0%, #990000 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #d20100 0%,#990000 100%); /* Chrome10+,Safari5.1+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20100', endColorstr='#990000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d20100 0%,#990000 100%); /* W3C */
}

.page-template-showcase-php .new_mark, footer .new_mark, #footer .new_mark, #tertiary .new_mark, #primary .new_mark, #secondary .new_mark{
	width: auto;
}

/* 17= 物件検索 固定ページ用  .jsearch
---------------------------------------------------------------------- */


#container #content.jsearch{
	padding: 0 0 30px 0;
	line-height: 2;
}

/* カラム変更によるcontent余白調整 */

.singular #container #content.jsearch{
	width: 100%;
	float: none;
}

.right-sidebar #container #content.jsearch {
	margin: 0;
	width: 690px;
	float: right;
}

.left-sidebar #container #content.jsearch{
	width: 700px;
	float: left;
}

/*  */

#main #container #content.jsearch h3{
	border-bottom: 1px dotted #CCC;
	border-left: 4px solid #CCC;
	padding: 5px 0px 5px 10px;
	margin: 0px 0px 10px -10px;
	font-size: 16px;
	font-weight: bold;
	color: #333;
	text-shadow : none;
}

#container .jsearch h4{
	border-left: 4px solid #CCC;
	padding: 0px 0px 0px 6px;
	font-size: 13px;
	font-weight: bold;
	color: #505050;
	margin: 15px 0px 5px -10px;
}

#container .jsearch h5{
	margin: 10px 0px 0px -5px;
	font-size: 13px;
	font-weight: bold;
	color: #666;
}


.jsearch p{
	margin: 0;
	padding: 0px 10px 10px 0px;
}

#container .jsearch ul{
	margin: 0 0 10px;
	padding: 0px;
	overflow: hidden;
	/zoom: 1;
}

.jsearch li{
	margin: 0 1em 0 0;
	padding: 0;
	display: block;
	float: left;
	list-style-type: none;
}

.jsearch label {
	margin-right: 5px;
	color: #666;
}

#container .jsearch .submit input{ 
	width: 160px;
	border: 1px solid #298CBA;
	padding: 3px 10px;
	margin: 10px 10px 20px 0;
	color: #FFFFFF;
	font-weight: bold;

	cursor: pointer;

	border-radius: 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background: #298CBA; /* old browsers */
	background: -moz-linear-gradient(top, #0298CB 0%, #247CA4 50%, #206D93 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0298CB), color-stop(50%, #247CA4), color-stop(100%, #206D93)); /* webkit */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0298CB', endColorstr='#206D93', GradientType=0 ); /* ie */
	background: linear-gradient(top, #0298CB 0%, #247CA4 50%, #206D93 100%);
}

/* 17= 物件検索 固定ページ用  .jsearch 新
---------------------------------------------------------------------- */

	table.form_jsearch {
		border: 1px solid #E5E5E5;
		border-collapse: collapse;
		font-size: 87.6%;
		line-height: 18px;
		margin-bottom: 10px;
		width: 100%;
	}
	table.form_jsearch tr {
		border: 0 none currentcolor;
		font: inherit;
		margin: 0;
		padding: 0;
	}
	table.form_jsearch th {
		background:  #F6F6F6;
		border-bottom: 1px solid #E5E5E5;
		font-weight: bold;
		padding: 10px !important;
		text-align: left;
		width: 18%;
		vertical-align: top;	
	}
	table.form_jsearch td {
		border-bottom: 1px solid #E5E5E5;
		border-left: 1px solid #E5E5E5;
		margin: 0;
		padding: 10px !important;
		width: 81%;
		background-color: #fff;
	}

	table.form_jsearch h5 {
		margin: 10px 0 10px !important;
	}
	table.form_jsearch ul {
		margin: 0 !important;
	}





/* 00= Fudousan Plugin Copyright
---------------------------------------------------------------------- */

#nendebcopy {
	font-size: 12px;
	max-width: 68.5714rem;
	margin: -20px auto;
	text-align: right;
}

#nendebcopy a {
	color: #686868;
	text-decoration: none;
}




/* = widget Top Slider Style
-------------------------------------------------------------- */
	/* = sidebar only
	-------------------------------------------------------------- */
	#tertiary .carousel_inner,
	#primary .carousel_inner,
	#secondary .carousel_inner{
		padding-top: 0px;
		padding-left: 0px; 

		width: 210px;
	/*	height: 115px; */
		overflow: hidden;
		margin: 0;
	}

	#tertiary .grid-content li,
	#primary .grid-content li,
	#secondary .grid-content li{
		display: block;
		width: 200px;
		font-size: 10px;
		line-height: 1.2;
		float:left;

		list-style-type: none;
		
		padding: 8px;
	}

	#tertiary .box1image ,
	#primary .box1image ,
	#secondary .box1image{
		width: 100px;
		float:left;
		padding-right: 5px; 
	}



	/* 2011 */
	.two-column #secondary .grid-content li{
		width: 210px;
	}

	.showcase #content .grid-content .carousel_inner li {
		padding-top: 0px;
		padding-left: 0px; 

		width: 210px;
		height: 130px;
		overflow: hidden;
		margin: 0;

		font-size: 10px;
		line-height: 1.2;

	}


	/* 2010 */
	#main .widget-area ul ul.grid-content {
	    margin-left: -0.5em;
	}



	/* unpc*/
	#main .widget-area ul.grid-content{
		padding: 0;
	}
	.three-column.unpc .grid-content li{
		width: 175px;
	}
	.three-column.unpc #tertiary .grid-content li,
	.three-column.unpc #secondary .grid-content li{
		width: 175px;
		margin-left: -0.5em;
	}
	.three-column.unpc #tertiary .box1image,
	.three-column.unpc #secondary .box1image{
		width: 90px;
	}
	.three-column.unpc #tertiary .carousel_inner,
	.three-column.unpc #secondary .carousel_inner{
		width: 180px;
	}
	.two-column.unpc .grid-content li{
		width: 190px;
	}
	.two-column.unpc #secondary .grid-content li{
		width: 190px;
		margin-left: -0.5em;
	}
	.two-column.unpc #secondary .box1image{
		width: 75px;
	}
	.two-column.unpc #secondary .carousel_inner{
		width: 195px;
	}




	/* = footer only
	-------------------------------------------------------------- */
	footer .carousel_inner,
	#footer .carousel_inner{
		padding-top: 0px;
		padding-left: 0px; 

		width: 210px;
	/*	height: 115px; */
		overflow: hidden;
		margin: 0;
	}

	footer .grid-content li,
	#footer .grid-content li{
		display: block;
		width: 200px;
		font-size: 10px;
		line-height: 1.2;
		float:left;

		list-style-type: none;
		
		padding: 8px;
	}

	footer .box1image,
	#footer .box1image{
		width: 100px;
		float:left;
		padding-right: 5px; 
	}

	#footer .widget-area ul ul.grid-content {
	    margin-left: -0.5em;
	}


	/* = NEW/UP mark
	-------------------------------------------------------------- */

	.showcase #content .grid-content,
	footer .grid-content li,
	#footer .grid-content li,
	#tertiary .grid-content li,
	#primary .grid-content li,
	#secondary .grid-content li{
		position: relative;
	}

	.page-template-showcase-php .new_mark,
	footer .new_mark,
	#footer .new_mark,
	#tertiary .new_mark,
	#primary .new_mark,
	#secondary .new_mark {
		font-family: Verdana, Geneva, sans-serif;

		font-size: 10px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #FFF;
		
		display: block;
		padding: 2px 5px;
		width: auto;

		position: absolute;
		top: 3px;
		left: 5px;
		
		border-radius: 4px;

		text-shadow:1px 1px 0px #900;

		background: #900; /* Old browsers */
		background: -moz-linear-gradient(top, #d20100 0%, #990000 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, #d20100 0%,#990000 100%); /* Chrome10+,Safari5.1+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20100', endColorstr='#990000',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #d20100 0%,#990000 100%); /* W3C */
	}




	/* = 関連物件
	-------------------------------------------------------------- */
	#list_simplepage2 .widget ul li {
		position: relative;
	}

	#syousai_box .new_mark {
		font-family: Verdana, Geneva, sans-serif;

		font-size: 9px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: #FFF;
		
		display: block;
		padding: 2px 5px;
		width: auto;

		position: absolute;
		top: 6px;
		right: 6px;
		
		border-radius: 4px;

		text-shadow:1px 1px 0px #900;

		background: #900; /* Old browsers */
		background: -moz-linear-gradient(top, #d20100 0%, #990000 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(top, #d20100 0%,#990000 100%); /* Chrome10+,Safari5.1+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20100', endColorstr='#990000',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #d20100 0%,#990000 100%); /* W3C */
	}


/* 以下corners2012.css */

@charset "utf-8";


/* = common 
-------------------------------------------------------------- */


body, input, textarea, select, .page-title span, .pingback a.url {font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Arial, Helvetica, sans-serif; }
input[type=submit] { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Arial, Helvetica, sans-serif; }
pre { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Arial, Helvetica, sans-serif; }
code { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Arial, Helvetica, sans-serif; }


/* ロールオーバー */
a:hover img{
	opacity:0.8;
	filter: alpha(opacity=80);

}

a:hover{
	opacity:0.6;
	filter: alpha(opacity=60);
}

input[type=submit]:hover,
input[type=button]:hover
{
	opacity:0.75;
	filter: alpha(opacity=75);
}

a:link { color: #666; }    /* 未訪問のリンク */
a:visited { color: #666; } /* 訪問済みのリンク */
a:hover { color: #666; }   /* ポイント時のリンク */
a:active { color: #666; }  /* 選択中のリンク */

a {text-decoration:none}

/* = header 
-------------------------------------------------------------- */



/* = nav 
-------------------------------------------------------------- */



/* = TOP only
-------------------------------------------------------------- */

#top_fbox .widget_fudo_top_r ul {
	/zoom : 1; 
	margin: 0 0 20px 0px;
	padding:0px;
}

#top_fbox .widget_fudo_top_r li:after ,
#top_fbox .widget_fudo_top_r ul:after {
	content : '';
	display : block;
	clear : both;
	height:5px;
}
#top_fbox .widget_fudo_top_r ul li {
	margin:0 0 0.5em;
/* box-shadow */
	box-shadow:rgba(0, 0, 0, 0.270588) 1px 1px 2px 1px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.270588) 1px 1px 2px 1px;
	-moz-box-shadow:rgba(0, 0, 0, 0.270588) 1px 1px 2px 1px;
}

#top_fbox .widget_fudo_top_r ul li a {
	display:block;
	padding:1em;
}
#top_fbox .widget_fudo_top_r ul li .fll { width:30%;}
#top_fbox .widget_fudo_top_r ul li img { width:100%;}
#top_fbox .widget_fudo_top_r ul li .flr { width:63%;}
#top_fbox .widget_fudo_top_r ul li h4 {
	 margin-bottom:0.5em;
	 line-height:1.6em;
	}
#top_fbox .widget_fudo_top_r ul li p {
	font-weight:bold;
	line-height:1.6em;
	margin-bottom:0.1em;
}
#top_fbox .widget_fudo_top_r ul li p.top_price { color: #F00;}



/* carousel_fudo_top_slider */
.carousel_inner{
	width: 99% !important;
}






/* = TOP twitter
-------------------------------------------------------------- */

#top_fbox #content #twitter_update_list {
	/*	font-size: 12px; */
	padding: 10px;
	margin: 0 0 20px 0;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	clear: both;
}

#top_fbox #content #twitter_update_list a {
	color: #666;
	text-decoration: none;
	font-weight: normal;
}

#top_fbox #content #twitter_update_list li a.tw_date {
	display: block;
	width: 65px;
	float: left;
	margin: 0px 20px 0px 0px;
	line-height: 1.6;
	font-family: Arial, Helvetica, sans-serif;
}


#twitter_update_list li a.tw_date:after { content: ":" }

#top_fbox #container #content #twitter_update_list li .tw_status {
	display: block;
	line-height: 1.6;
	margin: 0 0 0 90px;
}

#top_fbox #container #content ul#twitter_update_list { padding-left: 15px; }

#top_fbox #container #content ul#twitter_update_list li {
	list-style:none;
	display: block;
	margin: 0px;
	padding: 0px 5px 5px;
	font-weight: normal;
}

#top_fbox #container #content ul#twitter_update_list li { zoom:1;}

#top_fbox #container #content ul#twitter_update_list li:after {
	content:'';
	display:block;
	clear:both;
}



/* = textwidget
-------------------------------------------------------------- */

#top_fbox #container #content .textwidget { 

	line-height: 1.6;

	margin: 0 0 20px 0;
	padding: 10px;

	border: 1px solid #ccc;
	border-radius: 6px;
}




/* = widget_search
-------------------------------------------------------------- */

.widget_search input[type="text"],
.widget_fudo_search input[type="text"]{
		/*
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    padding: 3px;
    width: 75%;
    */
}


/* = 物件カテゴリ
-------------------------------------------------------------- */
#page #main .widget.widget_fudo_b_c,
#page #main .widget.widget_fudo_b_r,
#page #main .widget.widget_fudo_r_c,
#page #main .widget.widget_fudo_r_r
{

}

#page #main .widget.widget_fudo_b_c ul,
#page #main .widget.widget_fudo_b_r ul,
#page #main .widget.widget_fudo_r_c ul,
#page #main .widget.widget_fudo_r_r ul
{
	margin:0;
	padding:0;
}

#page #main .widget.widget_fudo_b_c li.cat-item,
#page #main .widget.widget_fudo_b_r li.cat-item,
#page #main .widget.widget_fudo_r_c li.cat-item,
#page #main .widget.widget_fudo_r_r li.cat-item
{
	margin:0;
	padding:0;
	list-style-type: none;
}

#page #main .widget.widget_fudo_b_c li.cat-item a,
#page #main .widget.widget_fudo_b_r li.cat-item a,
#page #main .widget.widget_fudo_r_c li.cat-item a,
#page #main .widget.widget_fudo_r_r li.cat-item a
{
	font-weight: bold;
	display:block;
	line-height: 1.4;
	border-bottom:1px solid #b7b7b7;
}

#page #main .widget.widget_fudo_b_c ul.children,
#page #main .widget.widget_fudo_b_r ul.children,
#page #main .widget.widget_fudo_r_c ul.children,
#page #main .widget.widget_fudo_r_r ul.children
{
	margin:5px 0px;
	padding:0;
}

#page #main .widget.widget_fudo_b_c ul.children li,
#page #main .widget.widget_fudo_b_r ul.children li,
#page #main .widget.widget_fudo_r_c ul.children li,
#page #main .widget.widget_fudo_r_r ul.children li
{
	margin:5px 0px 5px 20px;
	padding:0;
	border:none;
	list-style-type: circle;
}

#page #main .widget.widget_fudo_b_c ul.children li a,
#page #main .widget.widget_fudo_b_r ul.children li a,
#page #main .widget.widget_fudo_r_c ul.children li a,
#page #main .widget.widget_fudo_r_r ul.children li a
{
	font-weight: normal;
	border:none;
	color:#219AC9;
}



/* = side-widget
-------------------------------------------------------------- */

#secondary .widget {
	display: block;
	margin: 0 0 20px 0;
	padding: 0px;
	border: 6px solid #EBEBEB;
	font-size: 12px;
}

#secondary .widget:after {
	content : '';
	display : block;
	clear : both;
	height:5px;
}


#secondary .widget .widget-title {
	color: #FFF;
	display: block;
	padding: 8px 6px 8px 16px;
	margin: 0 0 10px 0;
	font-size:16px;
	line-height:16px;
	background:url('./images/tri8.png') 7px center no-repeat #afafaf;
	font-weight: normal;
}

#secondary .widget li {
	list-style-type: circle;
	list-style-position: inside;
	margin: 0px 0px 4px;
	padding: 0px;
	width: 100%;
}

#secondary .widget li:after {
	content : '';
	display : block;
	clear : both;
	height: 0;
}


#secondary .widget li ul li {
	border: none;
	margin: 0px;
	padding: 0px;
}


#main #secondary ul li ul {
	margin: 0;
	padding: 0px 15px;
}

#main .widget-area ul {
	margin: 0px;
	padding: 6px;
}

#secondary .box1image{
	width: 75px;
}




#main .widget-area a:link { color:#666; }

#main .widget-area a:visited { color:#666; }

#main .widget-area a:hover, a:active { color:#3399ff; }

*:first-child+html .widget_search #s { width: 54%; }

.widget ul {
	margin: 0 0 10px;
}

#secondary .widget a { font-weight: normal; }


#secondary .widget input[type=submit],
#secondary .widget input[type=button]
{
	font-size:16px;
	display:block;
 	margin: 8px auto 2px;
	background:url('./images/button_ar.png') 97% center no-repeat #cfcfcf;
	color:#fff;
	width:95%;
	border:none;
  }

#secondary .widget input[type="text"],
#secondary .widget input[type="password"]{
		display:block;
		width: 90%;
		margin:3px auto;
    border: 1px solid #e5e5e5;
    padding: 3px;
    background:#eee;
}



/* 会員  */
#secondary .widget_fudo_kaiin { line-height: 1.8; }

#secondary.widget-area .widget_fudo_kaiin form#loginform label{
	padding-left: 4px;
}

#secondary.widget-area .widget_fudo_kaiin h3.widget-title{
	background:url('./images/wg_login_bg.png') 5px 4px no-repeat #afafaf;
	padding-left:38px;
}

#secondary .widget_fudo_kaiin form {
	margin: 0px 0px 1em;
	padding: 0 ;
}

#secondary .widget_fudo_kaiin ul{
	padding: 0 8px;
}


#secondary .widget_fudo_kaiin input[type="text"],
#secondary .widget_fudo_kaiin input[type="password"]{

}

/* キーワード検索 */
#secondary .widget #searchform input[type=submit]{
	display:none;
	background-color: #df7c2d;
  }


/* 物件検索 */

#secondary.widget-area .widget_fudo_b_k h3.widget-title,
#secondary.widget-area .widget_fudo_b_k_bus h3.widget-title
{
	background:url('./images/wg_jouken_bg.png') 5px 4px no-repeat #afafaf;
	padding-left:38px;
}

#searchitem_m,
#searchitem{ line-height: 1.2; }

#searchitem_m div,
#searchitem div{
	margin: 4px 0px 0px;
/*	padding: 0px 0px 0px 8px;
	text-indent: -4px;	*/
	line-height: 1.6;
}

#secondary .widget #searchitem_m input[type=submit],
#secondary .widget #searchitem input[type=submit]{
	background-color: #E2B43C;
  }

.jsearch_caution2,.jsearch_caution1{
	color:#8ED18E;
}

.jsearch_roseneki,
.jsearch_chiiki,
.jsearch_hofun,
.jsearch_chikunen,
.jsearch_memseki
{
	display:block;
	font-size:13px;
	line-height:13px;
	padding:3px 6px 3px 12px;
	color:#fff;
	background:url('./images/tri6.png') 5px center no-repeat #a69b9b;
	margin: 13px 0 4px;
}

.widget_fudo_b_k_m select,
.widget_fudo_b_k select,
.widget_fudo_b_k_bus select
{
	/*display: block;*/
	padding: 3px;
	margin: 2px;
	border: 1px solid #ccc;
}

#content .widget_fudo_b_k_m select,
#content .widget_fudo_b_k select,
#content .widget_fudo_b_k_bus select
{
	width: auto;
}

.widget_search form{
	margin:0;
}


#primary .widget li.widget_search, #secondary .widget li.widget_search {
	list-style-type: none;
}

li.widget_search{ list-style-type: none; }



input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea {
    padding: 3px;
}

.ie .menu-toggle, 
.ie input[type="submit"], 
.ie article.post-password-required input[type="submit"], 
.ie li.bypostauthor cite span{
	padding: 3px;
}

.ie .menu-toggle, 
.ie input[type="submit"], 
.ie article.post-password-required input[type="submit"], 
.ie li.bypostauthor cite span{
	border:none
}



/* map */
#map_menu select{
	width: 100%;

}
#map_menu{
	border-radius: 6px;
}
#searchmapitem {
    line-height: 1.2;
}


/* = footer
-------------------------------------------------------------- */

#colophon .widget-title{
	/*	font-size: 13px;	*/
	color: #666;
	border-bottom: 1px dotted #DDD;
	margin: 0px 0px 6px;
	padding: 4px 0px 0px 0px;
	line-height: 1.6;
	font-weight: bold;
}

#colophon .widget a{
	color: #666;
	/*	font-size: 12px;	*/
	font-weight: normal;
}

#colophon .widget ul{
	list-style-position: inside;
	list-style-type: circle;
}



/* = 見出し
-------------------------------------------------------------- */

#main #container #content h1 {
	border-bottom: 1px dotted #ccc;
	border-left: 3px solid #666;
	font-size: 18px;
	font-weight: normal;
	margin: 0 0 15px;
	padding: 0 0 2px 10px;
	line-height: 1.6;
	color: #666;
}

#main #top_fbox h3 {
	font-size: 21px;
	margin: 0px 0px 10px 0px;
	padding: 7px 0px 11px 0px;
	color: #1073b9;
	font-weight: normal;
	/*background:url('./images/h3_bg.png') bottom left repeat-x;*/
	border-bottom: 6px solid #1073b9;
}
#main .bukken-search img { width:100%; height:auto;}
#main .kodawari-search { margin-bottom:2em;}
#main .kodawari-search h3:before {
	content:'';
	display:inline-block;
	width:1em;
	height:1em;
	background:url('./images/ico_kodawari.png') left top no-repeat;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display:inline-block;
	margin: 0 0.4em 0 0.2em;
	vertical-align:bottom;
}
#main .widget_fudo_top_r h3:before {
	content:'';
	display:inline-block;
	width:1em;
	height:1em;
	background:url('./images/ico_osusume.png') left top no-repeat;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display:inline-block;
	margin: 0 0.4em 0 0.2em;
	vertical-align:bottom;
}
#top_fbox #content .kodawari-search li{
	float:left;
	width:44%;
	margin:0.7em 3%;
	position:relative;
	/* box-shadow */
box-shadow:rgba(0, 0, 0, 0.360784) 1px 2px 3px 1px;
-webkit-box-shadow:rgba(0, 0, 0, 0.360784) 1px 2px 3px 1px;
-moz-box-shadow:rgba(0, 0, 0, 0.360784) 1px 2px 3px 1px;
}
#top_fbox #content .kodawari-search h4{
	color:#fff;
	font-size:1rem;
	font-weight:normal;
	background-color: rgba(0,0,0,0.9);
	text-align:center;
	padding:0.7em 0;
	width:100%;
	position:absolute;
	bottom:0em;
	left:0;
}
#top_fbox #content .kodawari-search img {	width:100%;}
#top_fbox #content .kodawari-search li a{	display:block;}


/* = コメント欄
-------------------------------------------------------------- */

#comments {
	padding-top: 60px;
}

#comments-title em { font-style: normal; }

#comments li.comment { line-height: 1.2; }

#comments .comment-meta { /*	font-size: 10px;	*/ }

#respond { border-top-style: none; }

#main #comments #respond h3#reply-title { 
}

#cancel-comment-reply-link { margin-left: 2em; }



/* = Contact Form 7 checkbox hook
-------------------------------------------------------------- */


#content .wpcf7{
	line-height: 1.8;
}

#content .wpcf7 th{
	width:30%;
}

#content .wpcf7 td{
	width:60%;
}

#content .wpcf7-list-item label {
	display: block;
	float:left;
	margin-left:1em;
	margin-right:10px;	
}

#content .wpcf7 td input[type=text] ,
#content .wpcf7 td input[type=email] ,
#content .wpcf7 td textarea 
{
	background-color: #eee;
	width:98%;
}

#content form p:after {
	content:'';
	display:block;
	clear:both;
}


/* = 印刷用CSS Twenty Eleven +α
-------------------------------------------------------------- */

@media print {

	* { font-family:  "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif; }

	body, #wrapper,  #list_simplepage2,  .list_simple_box {
		margin: 0 !important;
		padding: 0 !important;
	}

	head+body {
		max-width: 100% !important;
		min-width: 80% !important;
		margin: 0 auto !important;
	}




	#site-title a {
		float: left !important;
		/*	font-size: 14pt !important;	*/
	}

	#site-description { font-size: 8pt; !important; }

	#container, .list_simple_box { width: 100% !important; }

	h1, h2, h3 {
		font-size: 13pt !important;
		font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
		border: none;
	}

	/* フォーム部分 */
		#list_simplepage2 .wpcf7 { display: none !important; }

	/* 地図 */
		#map_canvas {
		width: 514px !important;
		height: 340px !important;
	}
}

	@page{
		margin: 1cm 1cm !important;
	}



/* = TOP fudo_toukou_top-XX
-------------------------------------------------------------- */

#top_fbox #content ul#toukou_top {
	padding: 10px;
	margin: 0 0 20px;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	clear: both;
}

#top_fbox #content ul.toukou_top_post_excerpt {
	padding: 5px 0 0 10px;
	margin: 0 0 10px;
}


#top_fbox #content .toukou_top_post_title {
	line-height: 1.6;
}

#top_fbox #content #toukou_top li {
	line-height: 1.4;
	list-style:none;
	display: block;
}


#top_fbox #content #toukou_top img {
	float:left;
	margin: 0 10px 0 0;
	padding: 2px;
	width:75px;
/*	height:75px; */
}



/* = primary and secondary fudo_toukou_top-XX
-------------------------------------------------------------- */

#primary ul#toukou_top, #secondary ul#toukou_top {
	padding: 0px;
	margin: 0px;
	clear: both;
}

#primary ul.toukou_top_post_excerpt, #secondary ul.toukou_top_post_excerpt {
	padding: 5px 0 0 10px;
	margin: 0 !important;
}

#primary #toukou_top a, #secondary #toukou_top a { color: #333; }

#primary .toukou_top_post_title, #secondary .toukou_top_post_title {
	line-height: 1.4;
	font-weight:bold;
	color: #333;
}

#primary #toukou_top li, #secondary #toukou_top li {
	line-height: 1.4;
	list-style:none;
	display: block;
}


#primary #toukou_top img, #secondary #toukou_top img {
	float:left;
	padding: 0 5px 0 0;
	width:75px;
	height:75px;
}



/* = toukou
-------------------------------------------------------------- */

.entry-content {
	/*	font-size: 12px;	*/
	margin: 0px;
	line-height: 1.4;
}

.entry-content a { color: #333; }

.entry-meta {
	text-align: right;
	/*	font-size: 10px;	*/
}



/* = widget_twentyeleven_ephemera
-------------------------------------------------------------- */

.widget_twentyeleven_ephemera ol{
	margin: 0px;
	padding: 0px 0px 0px 20px;
	list-style-type: circle;
}



/* = 物件リストソート部
-------------------------------------------------------------- */
.nav-previous{
	/*	font-size: 12px;	*/
	padding: 10px 0px 10px 5px;
}


/* =  ページリスト
-------------------------------------------------------------- */
.nav-next{
	width: 100%;
	font-size:1rem;
	text-align:center;
	/*	font-size: 12px;	*/
}
.nav-next b {
	color:#0071bc;
	margin:0 0.5em;
}
.nav-next a {
	padding: 0 0.5em;
	text-decoration:underline;
	display:inline-block;
	margin:0 0.5em;
}
.nav-next a:hover { text-decoration:none;}
/* = NEW/UP mark
-------------------------------------------------------------- */
/* 物件リスト・詳細 */
.entry-title .new_mark {
	font-family: Verdana, Geneva, sans-serif;
	/*	font-size: 12px;	*/
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #C00;
	display: inline;
	padding: 0px 10px;
	border-radius: 4px;
	text-shadow:1px 1px 0px #fff;
	height: 20px;
	vertical-align: middle;
}

/* トップ */
#top_fbox #content .grid-content li{
	position: relative;
	padding-bottom:0px;
	/*height:357px;*/
}

/* 詳細を見るリンクと会員マーク*/
#top_fbox #content .grid-content li div.goto{
	position:absolute;
	bottom:0px;
	width:100%;
}

#top_fbox #content .grid-content li div.goto img{
	position: relative;
	top: -98px;
}


#top_fbox #content .grid-content li div.new_mark {
	font-family: Verdana, Geneva, sans-serif;

	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #FFF;
	
	display: block;
	padding: 2px 5px;
	width: 26px;

	position: absolute;
	top: -25px;
	right: 3px;
	bottom:inherit;
	border-radius: 4px;
	z-index: 10;
	text-shadow:1px 1px 0px #900;

	background: #900; /* Old browsers */
	background: -moz-linear-gradient(top, #d20100 0%, #990000 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #d20100 0%,#990000 100%); /* Chrome10+,Safari5.1+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20100', endColorstr='#990000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d20100 0%,#990000 100%); /* W3C */
}




/* 条件検索(固定ページ) */

#container .jsearch .setsubi,
#container .jsearch .menseki,
#container .jsearch .madori,
#container .jsearch .kakaku,
#container .jsearch .chikunen,
#container .jsearch .shiku,
#container .jsearch .eki,
#container .jsearch .shubetsu{
	padding:0 0 0 10px;
}

/*不動マイリスト用調整*/

.fudo-fav-box{
	padding:0;
}

/* flexslider */

#top_slider.flexslider{
	border:none;
}

#slider.flexslider{
		height:240px;
		padding-bottom: 25px;
}

#slider.flexslider .slides > li{
	overflow: hidden;
}

#slider.flexslider .slides img {
  display: block;
  max-height:240px;
  width:inherit;
  margin:0 auto;
}

#content .flexslider p.flex-caption{
	position: relative;
	top:0px;
	line-height: 28px;
	color:#888;
	text-align: center;
}

#slider .flex-viewport{

}

#slider .slides > li{
	overflow: hidden;
}


.flexslider .slide_cap
{
	text-align: center;
	font-size: 12px;
	font-weight: normal;
  background: none repeat scroll 0 0 #9CA2AF;
  color: #FFFFFF;
  display: block;
  line-height: 14px;
  min-height: 20px;
  margin:1px 0 0;
  /*left: 0;*/
  /*opacity: 0.5;
    filter: alpha(opacity=50);*/

  /*position: absolute;*/
  /*bottom:0px;*/
  width:100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} 


/* ブログ */
.post-type-archive-blog .type-blog {
	border-bottom:1px solid #ddd;
	padding:2em 0;
	margin:0;
}
.post-type-archive-blog .entry-header h2 {
	font-size:1.2rem;
}
.post-type-archive-blog .entry-header h2 a {
	color:#0074bf;
	text-decoration:underline;
}
.post-type-archive-blog .entry-header h2 a:hover { text-decoration:none;}
.entry-header .date {
	text-align:right;
	margin:1em 0;
}
.post-type-archive-blog p ,
.post-type-archive-blog .entry-meta { margin:0;}




/* 不動産履歴プラグイン　*/
/* 現時点ではcss干渉のため非対応　*/

.widget.widget_fudou_single_history{
display:none;
}




/*-----------[ 検索ページ ]-------------*/
.search_page header.entry-header {	margin-bottom:0;}
.baibaibukken h1.entry-title {	border-color:#f1970f;}
.tcintaibukken h1.entry-title {	border-color:#6ebe5e;}
.baibaibukken .entry-content {
	background:#fdf8ed;
	padding:0.5em 3%;
}
.tcintaibukken .entry-content {
	background:#edfdf7;
	padding:0.5em 3%;
}

.search_page .tab{
	text-align:center;
	margin:0;
}
.search_page .tab li{
	width:20%;
	display:inline-block;
	color:#fff;
	font-size:0.6rem;
	text-align:center;
	padding:0.9em 1%;
	letter-spacing:0.02em;
	margin:0;
	cursor:pointer;
	background:#a0a0a0;
	/* border */
	border:1px solid #a0a0a0;
	border-bottom:none 0px;
	
	/* border-radius */
	border-radius:8px 8px 0px 0px;
	-webkit-border-radius:8px 8px 0px 0px;
	-moz-border-radius:8px 8px 0px 0px;
	
	/* box-shadow */
	box-shadow:#fff 1px 1px 0px 0px inset,#fff -1px 1px 0px 0px inset;
	-webkit-box-shadow:#fff 1px 1px 0px 0px inset,#fff -1px 1px 0px 0px inset;
	-moz-box-shadow:#fff 1px 1px 0px 0px inset,#fff -1px 1px 0px 0px inset;
}
.baibaibukken .tab li.select{
	border:1px solid #f1970f;
	border-bottom:none 0px;
	background:#f1970f;
}
.tcintaibukken .tab li.select{
	border:1px solid #6ebe5e;
	border-bottom:none 0px;
	background:#6ebe5e;
}
.search_page .tab_content {	margin:0;}
.search_page .tab_content li{
	margin:0;
	padding:0;
}
.search_page .hide {display:none;}
.search_page .tab_content h4{
	color:#fff;
	font-size:1.1rem;
	font-weight:normal;
	padding:0.6em 1em;
	margin:0;
}
.baibaibukken .tab_content h4{	background:#f1970f;}
.tcintaibukken .tab_content h4{	background:#6ebe5e;}
.search_page .tab_content li > div ,
.search_page .tab_content li form > div {
	border:1px solid #a0a0a0;
	line-height:2.4em;
	padding:1em 3% 1.5em;
	background:#fff;
}
.search_page .tab_content li div.area,
.search_page .tab_content li div.ensen{
	padding-top:0.4em;
}
.search_page .tab_content li label {
	display:inline-block;
	margin-right:2em;
}
.search_page .tab_content li .bukkenshu label {
	display:block;
	margin-right:0;
}
.search_page .tab_content li select ,
.search_page .tab_content li input[type="checkbox"] {
	margin:0 0.3em;
}
.search_page .tab_content li span {
	font-weight:bold;
	padding-right:1.5em;
}
.search_page .tab_content li dt {
	padding:0.6em 1.4em;
	margin-bottom:1em;
	position:relative;
	cursor:pointer;
}
.baibaibukken .tab_content li dt {	background:#fad6a5;}
.tcintaibukken .tab_content li dt {	background:#b6e7ac;}
.search_page .tab_content li dt:after {
	content:'';
	width:30px;
	height:30px;
	position:absolute;
	right:1em;
	top:18%;
	background: url('./images/btn_list.png') 0 0 no-repeat;
}
.search_page .tab_content li dt.close:after {
	background: url('./images/btn_list_left.png') 0 0 no-repeat;
}
.search_page .tab_content li dd {
	line-height:2em;
	margin:0 auto 1.5em;
}
.search_page .tab_content li .area dd label {
	width:40%;
	padding:0;
}

.search_page input[type=submit] {
	display:block;
	margin: 1em auto;
	width: 70%;
	padding: 20px 0;
	text-align: center;
	font-size: 1.2rem;
	line-height: 1em;
	color: #fff;
	background: #0071bc;
	border: none;
	border-radius: 10px;
}
.search_page iframe {
	height:300px;
}


/*===============
	利用規約ページ
===============*/
#main #content .entry-content p.terms_txt {
	font-size: 1rem;
	line-height: 1.6em;
	margin-bottom: 2em;
}
#main #content .entry-content .terms {
	background: #edf5f8;
	border: 5px solid #c7e1ea;
	border-radius: 10px;
	padding: 2em 1em;
}
#main #content .entry-content .terms .terms_inner {
	margin-bottom: 2em;
}
#main #content .entry-content .terms .terms_inner h3 {
	margin: 0 0 1em;
	font-size: 1.2rem;
	line-height: 1.6em;
}
#main #content .entry-content .terms .terms_inner p ,
#main #content .entry-content .terms .terms_inner ul {
	margin: 0;
	font-size: 1rem;
	line-height: 1.6em;
}
#main #content .entry-content .terms .terms_inner ul li {
	margin: 0 auto;
	width:95%;
}


/*===============
	利用規約ページ
===============*/
#main #content .entry-content p.privacy_txt {
	font-size: 1rem;
	line-height: 1.6em;
	margin-bottom: 2em;
}
#main #content .entry-content .privacy {
	background: #edf5f8;
	border: 5px solid #c7e1ea;
	border-radius: 10px;
	padding: 2em 1em;
}
#main #content .entry-content .privacy .privacy_inner {
	margin-bottom: 2em;
}
#main #content .entry-content .privacy .privacy_inner h3 {
	margin: 0 0 1em;
	font-size: 1.2rem;
	line-height: 1.6em;
}
#main #content .entry-content .privacy .privacy_inner p {
	margin: 0;
	font-size: 1rem;
	line-height: 1.6em;
}


/*-----------[ home.php / odenwa ]-------------*/
#top_fbox .odenwa{
	width:85%;
	margin:0 auto;
	padding:2em 0;
	border:3px solid #dddddd;
}
#top_fbox .odenwa dl {
	width:85%;
	margin:0 auto;
}
#top_fbox .odenwa dt {
	padding-bottom:1.5em;
	margin-bottom:1.5em;
	border-bottom:2px solid #dddddd;
}
#top_fbox .odenwa dt h4 {
	text-align:center;
	font-size:1.1rem;
	margin-bottom:0.5em;
}
#top_fbox .odenwa dt p.phone_num {
	text-align:center;
	font-size:2rem;
	color:#c1272d;
	font-weight:bold;
	position:relative;
	margin-bottom:0.5em;
}
#top_fbox .odenwa dt p.phone_num:before {
	content:'';
	width:0.9em;
	height:0.9em;
	background:url('./images/img_contact.jpg') left top no-repeat;
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	display:inline-block;
	margin-right:0.2em;
	vertical-align:bottom;
}
#top_fbox .odenwa dt p.times {
	text-align:center;
	font-size:1rem;
}
#top_fbox .odenwa dt p.times span {
	font-size:0.8rem;
	background:#c1272d;
	color:#fff;
	padding:0.3em;
	margin-right:1em;
}
#top_fbox .odenwa dd p {
	text-align:center;
	font-size:1rem;
	font-weight:bold;
	margin-bottom:0.5em;
}
#top_fbox .odenwa dd p span {
	display:block;
	font-weight:bold;
	font-size:0.9rem;
	margin:1em 0;
}
#top_fbox .odenwa dd p.btn_area a {
	display:block;
	font-size:1.1rem;
	text-align:left;
	color:#fff;
	padding:1.4em 1.5em;
	letter-spacing:0.03em;
	border:1px solid #ff7200;
	margin:15px 0 2em;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc65a+0,ff7200+50,ff7200+100 */
	background: rgb(255,198,90); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,198,90,1) 0%, rgba(255,114,0,1) 50%, rgba(255,114,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,198,90,1)), color-stop(50%,rgba(255,114,0,1)), color-stop(100%,rgba(255,114,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,198,90,1) 0%,rgba(255,114,0,1) 50%,rgba(255,114,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,198,90,1) 0%,rgba(255,114,0,1) 50%,rgba(255,114,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,198,90,1) 0%,rgba(255,114,0,1) 50%,rgba(255,114,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,198,90,1) 0%,rgba(255,114,0,1) 50%,rgba(255,114,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc65a', endColorstr='#ff7200',GradientType=0 ); /* IE6-9 */
	position:relative;
}
#top_fbox .odenwa dd p.btn_area a:after {
	content:'';
	width:0;
	height:0;
	position:absolute;
	top:30%;
	right:8px;
	display:block;
	z-index:1;
	border-left:13px solid #fff;
	border-right:13px solid transparent;
	border-top:8px solid transparent;
	border-bottom:8px solid transparent;
}
#top_fbox .odenwa dd p.btn_jisha a {
	width:58%;
	display:block;
	font-size:1rem;
	text-align:left;
	font-weight:bold;
	padding:1.4em 1.5em;
	border:1px solid #dddddd;
	margin:1rem auto;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e8e7e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e7e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e8e7e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e8e7e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e8e7e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e8e7e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e7e8',GradientType=0 ); /* IE6-9 */
	position:relative;
}
#top_fbox .odenwa dd p.btn_jisha a:after {
	content:'';
	width:0;
	height:0;
	position:absolute;
	top:40%;
	right:5px;
	display:block;
	z-index:1;
	border-left:7px solid #999999;
	border-right:7px solid transparent;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
}

/*-----------お問い合わせ-------------*/
body.login div#login { width:95% !important;}
#post-58 .entry-content {
	padding: 0;
}
#contact-form {
	border: 1px solid #d2d2d2;
	border-radius: 5px;
}
#contact-form table {
	border: none;
}
#contact-form dl { margin-top:1em;}
#contact-form dt {
	background:#9cd8f5;
	font-weight:bold;
	font-size:1.2rem;
	padding:0.8em 4%;
	width:92%;
	margin:0 auto 1em;
	cursor:pointer;
	position:relative;
}
#contact-form dt span {
	text-indent:-999px;
	overflow:hidden;
	width:30px;
	height:30px;
	position:absolute;
	right:1em;
	top:18%;
	background: url('./images/btn_list.png') 0 0 no-repeat;
}
#contact-form dt.close span {
	background: url('./images/btn_list_left.png') 0 0 no-repeat;
}

#contact-form table,
#contact-form table tbody,
#contact-form table tr,
#contact-form table tr th,
#contact-form table tr td {
	display: block!important;
	width: 100%!important;
}
#contact-form table tr {
	width: 96.666666%!important;
	margin: 0 auto;
	border-top: 2px solid #b4b4b4;
}
#contact-form table tr:first-child {
	border-top: none;
}
#contact-form table tr th {
	font-size: 1.2em;
	color: #000;
	width: 94.8275%!important;
	margin: 0 auto 2%;
	padding: 0.5em 0;
}
#contact-form table tr th span.req {
	font-weight: normal;
	color: #fff;
	font-size: 0.9em;
	background: #db0909;
	margin-left: 3%;
	border-radius: 6px;
	padding: 0 2%;
	float:right;
	text-align: center;
}
#contact-form table tr td {
	border: none;
	width: 94.8275%!important;
	margin: 0 auto;
	padding:0 0  0.5em 0;
	font-size: 1em;
	color: #000;
}
#contact-form table tr td button,
#contact-form table tr td br,
#contact-form table tr td .exam {
	display: none;
}
#contact-form table tr td .wpcf7-list-item {
	display:block;
	font-size:1rem;
}
#fwt_hensaiForm #contact-form td input[type=text] {
	width:45% !important;
	display:inline !important;
}
#contact-form table tr td input[type=text] {
	display: block;
	width: 85%!important;
	margin: 0 auto;
	background: #fff!important;
}
#contact-form table tr td input[name="h-add-3"] {
	display: inline;
	width: 90%!important;
	margin-left: 3%;
	margin-bottom: 2%;
}
#contact-form table tr td input[name="h-add-4"] {
	display: inline;
	width: 85.5%!important;
	margin-left: 3%;
}
#contact-form table tr td input[name="h-add-6"] {
	margin-bottom: 2%;
}
#contact-form table tr td textarea {
	display: block;
	width: 85%!important;
	margin: 0 auto;
	resize: none;
	background: #fff!important;
}
#contact-form .submit {
	padding: 5% 0;
	margin: 0;
	background: #e6f6fb;
	border-radius: 0 0 5px 5px;
	text-align:center;
}
#contact-form .submit img {
	display: none;
}
#contact-form .submit input[name="fwt_clear"] {
	margin-right: 5%;
	width: 40%;
	background:#999;
}
#contact-form .submit input[name="fwt_calc"] {
	width: 40%;
}
#contact-form .submit input {
	display: inlineblock;
	width: 54%;
	margin: 0 auto;
	padding: 3% 0;
	font-size: 1.2em;
	font-weight: normal;
	color: #fff;
	background: #1073b9;
	border: none;
	border-radius: 10px;
}
#contact-form table tr.mail_c {
	border-top: none;
}
#contact-form table tr.mail_c th {
	padding-top: 0;
}
#contact-form table tr.mail td {
	padding-bottom: 0;
}
#primary .privacy_txt h4 {
	font-size:1.2rem;
	border-bottom:4px solid #006ebe;
}
#primary .privacy_txt p {
}

/*-----------サイトマップ-------------*/
.sitemap_inner p {
	display: none;
}
.sitemap_inner h3,
.sitemap_inner ul,
.sitemap_inner li {
	margin: 0;
}
.sitemap_inner .fll,
.sitemap_inner .flr {
	float: none;
}
.sitemap_inner h3 {
	background: #eee;
	font-size: 1.2rem;
	margin: 8% 0 4%;
	padding: 2% 3.5%;
}
.sitemap_inner li {
	margin-left: 3%;
}
.sitemap_inner li a {
	color: #1073b9;
	font-size: 1.2rem;
	line-height: 2.2em;
}
.sitemap_inner li a:before {
	content: "\025B6";
	margin-right: 3%;
}
