<style type="text/css">
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure,
main, footer, header, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
ul, ol {
  list-style: none;
}
table {
  width : 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
img {
  border: none;
  vertical-align: bottom;
}
.cl01{
	color : #595959;	
}
.mt15{
	margin-top : 16px;	
}

.mb5{
	margin-bottom : 5px;	
}

.mb10{
	margin-bottom : 10px;	
}

.mb15{
	margin-bottom : 15px;	
}
.mb20{
	margin-bottom : 20px;	
}
.mb30{
	margin-bottom : 30px;	
}
.t_left{
	text-align : left;	
}
.t_center{
	text-align : center;	
}
.t_right{
	text-align : right;	
}
.bdr{
	border-right : 1px solid #323232;
}
.f14{
	font-size: 14px;	
}
.f18{
	font-size: 18px;	
}
.f23{
	font-size: 23px;	
}
.bold{
	font-weight: bold;	
}
.lh1_3{
	line-height: 1.3;	
}
.va_m{
	vertical-align : middle;	
}

body {

}

/* outer layout */

#container {
  min-height: 100%;
  color: #323232;
  font-family: Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

	width: 1025px;
	margin: 0 auto;
	text-align: left;
	padding : 0 10px;
}

#header{
	margin-bottom: 20px;
	overflow:hidden;	
}

#left-Column {
	float: left;
	width: 624px;
}

#right-Column  {
	float: right;
	width: 380px;
}

#content{
	clear : left;	
}

/* inner layout */

/* header left */
.header_title {
	font-size: 28px;
	font-weight: bold;
	padding-left : 40px;
	margin-bottom : 30px;
	background: url(img/icon.png) no-repeat;
	background-position: left center;
}

.header_left_table{
	border-top : 2px solid #323232;
	border-bottom : 2px solid #323232;
	margin-bottom: 24px;
}

.header_left_table td.destination{
	padding : 5px 0;
}

.destination h2{
	font-size: 25px;
	font-weight: bold;	
}

.w275{
	width : 275px;	
}

.header_left_table td.tantou{
	width : 33.33%;
	padding-bottom : 5px;
}

.header_left_table td.to_tel{
	width : 33.33%;
	padding-bottom : 5px;
}

.header_left_table td.to_fax{
	width : 33.33%;
	padding-bottom : 5px;
}

/* header right */

.header_right_table{
	
}

.header_right_table th{
	vertical-align:middle;
	text-align : center;
	width : 25px;
	color : #595959;
	background-color: #f2f2f2;
	border : 1px solid #323232;
	line-height: 2.8;
}

.header_right_table td{
	padding : 0 3px;
	border-top : 1px solid #323232;
	border-bottom : 1px solid #323232;	
}


/* content */
.ask{
	font-size: 22px;
	padding-left:25px;
	background: url(img/icon02.png) no-repeat;
	background-position: left center;		
}

.ask_pd_l{
	padding-left : 12px;	
}

.cnt_table{
	font-size: 12px;
	margin-bottom: 20px;
}

.cnt_table th{
	border : 1px solid #323232;
	background-color: #8e8e8e;
	color: #fff;
	padding : 3px 5px;
	text-align: center;
}

.w01{
	width : 50px;	
}

.w02{
	width : 48px;	
}

.w03{
	width : 161px;	
}

.w04{
	width : 215px;	
}

.w05{
	width : 73px;
}

.w06{
	width : 46px;	
}

.w07{
	width : 82px;	
}

.w08{
	width : 60px;	
}

.cnt_table td{
	padding : 3px 5px;
	border : 1px solid #323232;
	text-align: center;
}

.cnt_table td.td_left{
	text-align : left;	
}

address{
	font-size:1.2em;
}

address span{
	font-weight:bold;
	font-size:1.3em;
}
</style>