<style tyle="text/css">
<!--
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
main, footer, header, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure,
main, footer, header, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
ul, ol {
  list-style: none;
}
strong, b, cite {
  font-size: 100%;
  font-style: normal;
  font-weight: bold;
}
small, address {
  font-size: 100%;
  font-style: normal;
}
q:before, q:after {
  content: '';
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
}
input, textarea {
  font-size: 100%;
  vertical-align: middle;
  font-family: inherit;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  overflow: auto;
  resize: vertical;
}
img {
  border: none;
  vertical-align: bottom;
}
hr {
  visibility: hidden;
}
a {
  color: #03f;
}
a:link {
  text-decoration: underline;
  outline: none;
}
a:hover, a:active {
  text-decoration: none;
}
.mb5{
	margin-bottom : 5px;	
}

.mb10{
	margin-bottom : 10px;	
}

.mb15{
	margin-bottom : 15px;	
}

body {
  min-height: 100%;
  color: #333;
  font-family: Meiryo, sans-serif;
  font-size: 100%;
  line-height: 1.3;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

/* outer layout */

#container {
  width: 1000px;
  height:780px;
  margin: 0 auto;
  text-align: left;
}

#upper {
  border: 1px solid #333;
  overflow: hidden;
  _zoom: 1;
  border-radius: 10px;
  margin: 0 0 10px 0;
height:550px;
}

#left-Column {
  float: left;
  width: 558px;
  height:540px;
  padding: 10px 0 0 10px;
}

#right-Column  {
  float: right;
  width: 400px;
  height:540px;
  padding: 10px 10px 10px 0;
}

/* inner layout */

/* header */
#header{
	height:60px;
}
.header_title {
  font-size: 26px;
  font-weight: bold;
  margin: 0 ;
}

.header_access{
  font-size: 11px;
  font-weight: bold;	
}

#content{
  height:480px;	
}
/* special */
.special {
	margin-left : -10px;
	width : 100%;
    border-collapse:separate;
	border-spacing:10px 5px;
	font-size: 12px;
	height:50px;
}

.special td{
	padding : 5px;
	height : 40px;
	border : 1px solid #e50012;
	vertical-align : middle;
}
.rentpdf .special td{
	border : 1px solid #356be5;
}
.specialspan{
	font-size:14px;
	font-weight:bold;
	color:#E50012;
/*	padding-left:5px;*/
	vertical-align:middle;
	padding:10px 5px;
}



.specialspan:after{
	content : "　";	
}

/* main */
#main-img {
  overflow: hidden;
  _zoom: 1;
  margin: 0 0 5px 0;
 height:320px;
}

#main-img .img-left {
  float: left;
  width: 160px;
  margin-left:10px;
}

#main-img .img-left p{
  border:1px solid #999;
  height:150px;
  width:150px;
  vertical-align: middle; /* 画像を垂直に */

}

/*
#main-img .img-left img{
  width:250px;
}*/

#main-img .img-right {
	float: right;
	width: 360px;
	text-align : center;
	padding :0 7px;
}

#main-img .img-right .menseki {
	font-weight: bold;
	font-size: 14px;
	padding : 5px;
	margin-bottom: 5px;
	height:30px;
}

#main-img .img-right .menseki .specialspan{
	font-size:18px;
}

#main-img .img-right .landmadori{
	height:260px;
}

#main-img .img-right p{
	height:300px;
	vertical-align:middle;
	border : 1px solid #999;
}
#main-img .img-right .bd01 {
 	border : 1px solid #E50012;	
}

#main-img .img-right .bd02 {
 	border : 1px solid #999;	
}

#main-img .img-right .photo {
 	padding : 5px;	
}

#main-img .img-right img{
	vertical-align : middle;
}

.ir{
border:1px solid #999;
}

/* sales commnet */
.comment_bd{
	padding : 2px;
	border : 2px solid #eee;
	border-radius : 0 25px 0 0;
	background-color : #eae5d8;	
	height:110px;
	overflow:hidden;
	bottom:0;
}
.lcon .comment_bd{
	height:160px;
}
#comment {
  font-size : 10px;
  height:105px;
  width: 548px;
  autosize:5;
}

.lcon #comment{
  height:158px;
}

.sales_comment{
	font-weight: bold;
	color: #E5505C;
	font-size : 12px;	
}

.comment_space{
	padding : 5px;
	font-size:14px;
}

.tochitama  {
	width : 95px;
}

/* right table */
#right_table .font1 {
  font-size: 30px;
  font-weight: bold;
  text-align:center;
}

#right_table .fontsub{
  font-size: 20px;
  font-weight: bold;
  border-left-style: hidden;
}

#right_table .font_color {
	color : #E50012;
}

#right_table {
  font-size: 10px;
  width: 100%;
  height:509px;
  autosize:2.5;
}

#right_table th {
  width : 54px;
  border: 1px solid #333;
  padding : 5px 3px;
  background-color : #fef0f1;
  vertical-align:middle;
height:30px;
}
.rentpdf #right_table th{
	background-color : #f3f6ff;
}
#right_table td {
  width : 100px;
  border: 1px solid #333;
  padding : 5px 3px;
  vertical-align:middle;
height:30px;
/*font-size:14px;*/
}


#right_table .setubi th,#right_table .setubi td{
height:140px;
}
.rentpdf #right_table .setubi th,.rentpdf #right_table .setubi td{
height:120px;
}
/* footer */
#footer{
	height:170px;
}

#footer_upper_wrap {
  border: 1px solid #333;
  padding: 5px 10px ;
  clear : both;
}

.telimg{
 	vertical-align:middle;
	padding:5px;
	width:40px;
}

.tbl1{
	padding:0 10px;
}

/* footer upper table */
#footer_upper_table .font1{
	font-weight: bold;
	font-size: 20px;
	padding:0 10px;
}


#footer_upper_table .font2{
	font-weight:bold;
	font-size: 30px;
	color : #E50012;
}

.logoimg{
	width:190px;

}

.tel{
font-weight:bold;
}

#footer_upper_table {
  width : 100%;
  height:110px;
  font-size: 10px;
  margin-bottom: 5px;
}

#footer_upper_table th {
  text-align: left;
  vertical-align: middle;
  width: 200px;
}

#footer_upper_table td {
  text-align: left;
  vertical-align: middle;
}

#footer_upper_table td span {
	padding-left : 5px;
}

/* footer bottom */
.footer_btm_table{
	width : 100%;
	font-size : 10px;	
}

.t_right{
	text-align : right;	
}

.f_right{
	float : right;	
}

.fontl{
	font-size:12px;
}

.fontf{
	font-size:14px;
}

.bwidth_a{
	width:450px;
}
.bwidth_b{
	width:310px;
}

.bfont{
	font-size:12px;
	width:390px;
}

#footer_upper_table .baddress{
	font-size:14px;
}

.fontsmall{
	font-size:8px;
}
-->
</style>
