@charset 'utf-8';
/* = 
 * Twenty Fourteen
 * widget_fudo Style
 * corners2014.css サイトパーツの装飾
 * @package WordPress4.1
 * Version: 1.5.7
-------------------------------------------------------------- */



/* = common 
-------------------------------------------------------------- */
body,
input,
textarea,
select,
.page-title span,
.pingback a.url,
input[type=submit],
pre,
code {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Arial, Helvetica, sans-serif;
}

/* = header 
-------------------------------------------------------------- */


/* = nav 
-------------------------------------------------------------- */


/* = トップ物件表示
-------------------------------------------------------------- */
/* primary */


#content #top_fbox ul:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

#content #top_fbox .grid-content li {
    font-size: 96%;

    display: block;

    width: 48%;
    margin: 0 10px 0 0;
    padding: 0;

    list-style-type: none;
}

#content #top_fbox .grid-content li .box1image {
    display: block;

    max-width: 100%;
    margin: 0 auto;
}

/* 物件詳細へ */



.top_title {
    font-weight: bold;
}
.top_price {
    font-weight: bold;color: #e30;
}
.top_madori {
    font-weight: bold;
}






/* スライダー */
#content #top_fbox .carousel_inner {
    width: 99% !important;
}

/* = widget Slider Style
-------------------------------------------------------------- */

/* = sidebar/footer only  */
#content-sidebar .widget_fudo_top_slider ul,
#primary-sidebar .widget_fudo_top_slider ul,
#primary   .carousel_inner,
#secondary .carousel_inner {
    overflow: hidden;

    margin: 0;
    padding-top: 0;
}

#colophon  .grid-content li,
#secondary .grid-content li,
#content-sidebar  .grid-content li,
#primary   .grid-content li {
    font-size: 82%;
    line-height: 1.4 !important;

    display: block;
    float: left;

    padding: 0;

    list-style-type: none;
}
#content-sidebar  .grid-content li {
    width: 100% !important;
}

#colophon  .grid-content li,
#secondary .grid-content li {
    font-size: 100% !important;

    width: 100% !important;
}


#content-sidebar  .grid-content li:after,
#primary   .grid-content li:after,
#colophon  .grid-content li:after,
#secondary .grid-content li:after {
    display: block;
    clear: both;

    height: 25px;

    content: '';
}

#colophon  .grid-content li:after,
#content-sidebar  .grid-content li:after {
    height: 15px;
}


#content-sidebar  .box1image,
#primary   .box1image {
    float: left;

    width: 100px;
    padding-right: 5px;
}


#colophon  .box1image,
#secondary .box1image {
    float: left;

    width: 75px !important;
    padding-right: 5px !important;
}

#colophon  h1 .btns {
    margin: -10px;
}
.btns input {
    border: none;
}

/* スライダー 表示サイズ*/
#content-sidebar .carousel_inner div.carousel_box li {
    width: 295px;
    margin: 0 10px 0 0;
}
#secondary .carousel_inner div.carousel_box li {
    font-size: 96%;

    width: 160px;
    margin: 0 4px 0 0;
}
footer .carousel_inner,
#colophon .carousel_inner div.carousel_box li {
    width: 255px;
    margin: 0 10px 0 0;
}



/* = TOP twitter
-------------------------------------------------------------- */

#content #top_fbox ul#twitter_update_list {
    margin: 0 0 48px 0;
}

#content #top_fbox #twitter_update_list a {
    font-weight: normal;

    text-decoration: none;
}

#content #top_fbox #twitter_update_list li a.tw_date {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

    display: block;
    float: left;

    width: 80px;
}

#twitter_update_list li:after {
    display: block;
    clear: both;

    height: 10px;

    content: '';
}

#twitter_update_list li .tw_status {
    line-height: 1.6;

    display: block;
}

#content #top_fbox #twitter_update_list li .tw_status {
    margin: 0 0 0 90px;
}

#content #top_fbox ul#twitter_update_list li {
    font-weight: normal;

    display: block;

    margin: 0;
    padding: 0 5px 5px;

    list-style: none;
}


/* = textwidget
-------------------------------------------------------------- */
#content #top_fbox .textwidget {
    line-height: 1.6;

    margin: 0 0 4.8rem 0;
}

/*
-------------------------------------------------------------- */
#content #top_fbox ul.cookie_fudou_jsearch {
    line-height: 1.6;

    margin: 0 0 4.8rem 0;
    padding: 10px;

    border: none;
}


/* = widget_search
-------------------------------------------------------------- */
#searchsubmit {
    display: none;
}

/* = side-widget
-------------------------------------------------------------- */


.footer-sidebar .widget .widget-title,
.primary-sidebar .widget .widget-title {
    font-size: 13px;
}

#content-sidebar .widget-title:before {
    width: 36px;
    margin-top: -1px;
    margin-right: 10px;
    padding: .6rem 0 .9rem;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    background-color: #000;
}

#content-sidebar .widget-title {
    line-height: 2.3;

    padding-top: 0;

    word-wrap: break-word;
}


#content-sidebar h1.widget-title:before {
    font: 18px/1 Genericons; 

    display: inline-block;

    padding: 8px 0;content: '　';
}

#secondary .widget-title:before {
    width: 22px;
    margin: 0 0 0 -3px;

    vertical-align: middle;
}

/* 更新情報 widget_fudo_twitter2 */
#content-sidebar .widget_fudo_twitter2 h1.widget-title:before,
#secondary .widget_fudo_twitter2 h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f202';
}

/* 閲覧履歴 widget_fudou_single_history */
#content-sidebar .widget_fudou_single_history h1.widget-title:before,
#secondary .widget_fudou_single_history h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f403';
}

/* 検索履歴 widget_fudou_jsearch_history */
#content-sidebar .widget_fudou_jsearch_history h1.widget-title:before,
#secondary .widget_fudou_jsearch_history h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f403';
}

/* 条件検索 widget_fudo_b_k */
#content-sidebar .widget_fudo_b_k_m h1.widget-title:before,
#secondary .widget_fudo_b_k_m h1.widget-title:before,
#content-sidebar .widget_fudo_b_k h1.widget-title:before,
#secondary .widget_fudo_b_k h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f400';
}

/* テキスト widget_text*/
#content-sidebar .widget_text h1.widget-title:before,
#secondary .widget_text h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f411';
}

/* 物件カウント表示 widget_fudo_bukkensu */
#content-sidebar .widget_fudo_bukkensu h1.widget-title:before,
#secondary .widget_fudo_bukkensu h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f106';
}

/* 会員ログインwidget_fudo_kaiin */
#content-sidebar .widget_fudo_kaiin h1.widget-title:before,
#secondary .widget_fudo_kaiin h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f470';
}

/* 賃貸地域カテゴリ widget_fudo_r_c */
#content-sidebar .widget_fudo_r_c_m h1.widget-title:before,
#secondary .widget_fudo_r_c_m h1.widget-title:before,
#content-sidebar .widget_fudo_r_c h1.widget-title:before,
#secondary .widget_fudo_r_c h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}

/* 賃貸路線カテゴリ widget_fudo_r_r */
#content-sidebar .widget_fudo_r_r_m h1.widget-title:before,
#secondary .widget_fudo_r_r_m h1.widget-title:before,
#content-sidebar .widget_fudo_r_r h1.widget-title:before,
#secondary .widget_fudo_r_r h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}

/* 売買地域カテゴリ widget_fudo_b_c */
#content-sidebar .widget_fudo_b_c_m h1.widget-title:before,
#secondary .widget_fudo_b_c_m h1.widget-title:before,
#content-sidebar .widget_fudo_b_c h1.widget-title:before,
#secondary .widget_fudo_b_c h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}

/* 売買路線カテゴリ widget_fudo_b_r */
#content-sidebar .widget_fudo_b_r_m h1.widget-title:before,
#secondary .widget_fudo_b_r_m h1.widget-title:before,
#content-sidebar .widget_fudo_b_r h1.widget-title:before,
#secondary .widget_fudo_b_r h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}

/* 最近の投稿記事 widget_fudo_toukou_top */
#content-sidebar .widget_fudo_toukou_top h1.widget-title:before,
#secondary .widget_fudo_toukou_top h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f108';
}

/*最近の投稿  widget_recent_entries*/
#content-sidebar .widget_recent_entries h1.widget-title:before,
#secondary .widget_recent_entries h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f108';
}

/*物件検索(キーワード) widget_fudo_search  */
#content-sidebar .widget_fudo_search h1.widget-title:before,
#secondary .widget_fudo_search h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f411';
}

/*物件カテゴリ  widget_fudo_widget */
#content-sidebar .widget_fudo_widget h1.widget-title:before,
#secondary .widget_fudo_widget h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}

/*物件投稿タグ(タグクラウド widget_fudo_tag */
#content-sidebar .widget_fudo_tag h1.widget-title:before,
#secondary .widget_fudo_tag h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}

/*サイトの検索フォーム widget_search  */
#content-sidebar .widget_search h1.widget-title:before,
#secondary .widget_search h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f411';
}

/*物件カウント表示  widget_fudo_bukkensu*/
#content-sidebar .widget_fudo_bukkensu h1.widget-title:before,
#secondary .widget_fudo_bukkensu h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f419';
}

/*トップ物件表示   widget_fudo_top_r*/
#content-sidebar .widget_fudo_top_r h1.widget-title:before,
#secondary .widget_fudo_top_r h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f419';
}

/*トップ物件表示(スライダー)   widget_fudo_top_slider*/
#content-sidebar .widget_fudo_top_slider h1.widget-title:before,
#secondary .widget_fudo_top_slider h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f459';
}

/*カテゴリー widget_categories  */
#content-sidebar .widget_categories h1.widget-title:before,
#secondary .widget_categories h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f100';
}

/*サイトの投稿のカレンダー  widget_calendar*/
#content-sidebar .widget_calendar h1.widget-title:before,
#secondary .widget_calendar h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f307';
}

/*タグクラウド  widget_tag_cloud*/
#content-sidebar .widget_tag_cloud h1.widget-title:before,
#secondary .widget_tag_cloud h1.widget-title:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f100';
}


/* 売買バスカテゴリ widget_fudo_b_bus */
#content-sidebar .widget_fudo_b_bus_m h1.widget-title:before,
#secondary .widget_fudo_b_bus_m h1.widget-title:before,
#content-sidebar .widget_fudo_b_bus h1.widget-title:before,
#secondary .widget_fudo_b_bus h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}


/* 賃貸バスカテゴリ widget_fudo_r_bus */
#content-sidebar .widget_fudo_r_bus_m h1.widget-title:before,
#secondary .widget_fudo_r_bus_m h1.widget-title:before,
#content-sidebar .widget_fudo_r_bus h1.widget-title:before,
#secondary .widget_fudo_r_bus h1.widget-title:before {font: 18px/1 Genericons; 	

    display: inline-block; content: '\f100';
}





/* 会員 */
.widget_fudo_kaiin {
    line-height: 2.2;
}

#rememberme {
    margin: 1rem 0 1rem;
}

#secondary .widget_fudo_kaiin input[type='text'],
#secondary .widget_fudo_kaiin input[type='password'] {
    width: 100%;
}

/*
#content-sidebar select{
	font-size: 110%;
}
*/
/* 物件検索 */
.widget_fudo_b_k input {
    margin-top: 8px;
}

.widget_fudo_b_k_bus select,
.widget_fudo_b_k_m select,
.widget_fudo_b_k select {
    width: 100%;
    margin: 2px 0;
    padding: 3px;

    border: 1px solid #ccc;
}

#chikunen,
#memseki,
#hofun,
#kakaku_b,
#kakaku_c,
#chiiki,
#roseneki,
#caution1,
#shubetsu,
#setsubi_cb,
#madori_cb,
#busline {
    margin: 0 0 5px;
}

.memseki select,
.kakaku_c select,
.kakaku_b select {
    width: 46.2%;
}

.widget_fudo_b_k_bus .jsearch_caution1,
.widget_fudo_b_k_bus .jsearch_caution2,
.widget_fudo_b_k_m   .jsearch_caution1,
.widget_fudo_b_k_m   .jsearch_caution2,
.widget_fudo_b_k .jsearch_caution1,
.widget_fudo_b_k .jsearch_caution2 {
    font-size: 11.5px;
}
.widget_fudo_b_k_bus .jsearch_caution2,
.widget_fudo_b_k_m   .jsearch_caution2,
.widget_fudo_b_k .jsearch_caution2 {
    margin: 10px 0;
}


.widget_fudo_b_k_bus .madori_cb label,
.widget_fudo_b_k_bus .setsubi_cb label,
.widget_fudo_b_k_m .madori_cb label,
.widget_fudo_b_k_m .setsubi_cb label,
.widget_fudo_b_k .madori_cb label,
.widget_fudo_b_k .setsubi_cb label {
    padding: 0 8px 0 2px;
}


/* キーワード */
input[type='text']#s {
    width: 100%;
}

/* 路線・地域・バス*/
.content-sidebar .widget_fudo_b_bus ul,
.content-sidebar .widget_fudo_r_bus ul,
.content-sidebar .widget_fudo_b_c ul,
.content-sidebar .widget_fudo_r_c ul,
.content-sidebar .widget_fudo_b_r ul,
.content-sidebar .widget_fudo_r_r ul,
.content-sidebar .widget_fudo_b_c_m ul,
.content-sidebar .widget_fudo_r_c_m ul,
.content-sidebar .widget_fudo_b_r_m ul,
.content-sidebar .widget_fudo_r_r_m ul {
    margin: 0 0 0 10px;
}
.content-sidebar .widget li:first-child,
.content-sidebar .widget li {
    /*	border-top: medium none;	*/
}
.content-sidebar {
    font-size: 16px;
}

/* list */
.widget_fudo_b_bus li,
.widget_fudo_r_bus li,
.widget_fudo_b_c li,
.widget_fudo_r_c li,
.widget_fudo_b_r li,
.widget_fudo_r_r li,
.widget_fudo_b_c_m li,
.widget_fudo_r_c_m li,
.widget_fudo_b_r_m li,
.widget_fudo_r_r_m li {
    list-style-position: inside;
    list-style-type: circle;
}

#colophon        .widget li > ul,
#content-sidebar .widget li > ul,
#secondary       .widget li > ul {
    margin: 0 0 1rem 30px;
}

/* checkbox */
.widget input[type='checkbox'],
.widget input[type='radio'] {
    border: medium none;
}

/* バス */
.widget_fudo_b_bus h4,
.widget_fudo_r_bus h4 {
    margin: 5px 0 5px 0;
}
.content-sidebar .widget_fudo_b_bus h4,
.content-sidebar .widget_fudo_r_bus h4 {
    margin: 5px 0 5px 7px;
}



/* = in-map 
-------------------------------------------------------------- */

.page_gmap .site-content .entry-title {
    margin: -24px 0 20px;
}

.page_gmap #content #map_canvas {
    max-width: 640px;
    margin: -20px 0 0;
}

.content-sidebar #map_search h3.sub_nav_heading {
    font-size: 14px;
    font-weight: 900;

    margin-bottom: 18px;

    text-transform: uppercase;

    color: #2b2b2b;
    border-top: 5px solid #000;
}

.content-sidebar #map_search h3.sub_nav_heading:before {font: 18px/1 Genericons; 

    display: inline-block; content: '\f419';
}
.content-sidebar #map_search h3.sub_nav_heading:before {
    width: 36px;
    margin-top: -1px;
    margin-right: 10px;
    padding: 8px 0;

    text-align: center;
    vertical-align: middle;

    color: #fff;
    background-color: #000;
}

/* = footer
-------------------------------------------------------------- */

#colophon .widget-title {
    font-weight: bold;
    line-height: 1.6;

    margin: 0 0 6px;
    padding: 4px 0 0 0;
    /*	font-size: 13px;	*/

    border-bottom: 1px dotted #ddd;
}

#colophon .widget a {
    font-weight: normal;
}


/* = コメント欄
-------------------------------------------------------------- */

/* = Contact Form 7 checkbox hook
-------------------------------------------------------------- */

#list_simplepage2 .wpcf7 {
    line-height: 1.8;
}


#list_simplepage2 .wpcf7-list-item label {
    display: block;
    float: left;

    margin-right: 10px;
    margin-left: 1em;
}

#list_simplepage2 form p:after {
    display: block;
    clear: both;

    content: '';
}




/* = 会員用ボタン
-------------------------------------------------------------- */

#main #maching_mail a {
    font-size: 12px !important;
    font-weight: normal !important;

    display: block;

    width: auto !important;
    margin: 10px 0 !important;
    padding: 5px 15px 4px !important;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border-radius: 0 !important;
    background: none !important;
    background-color: #24890d !important;
    text-shadow: none !important;
}
#main #maching_mail a:active,
#main #maching_mail a:hover {
    text-decoration: none !important;

    background-color: #41a62a !important;
}





/* = 印刷用CSS
-------------------------------------------------------------- */

@media print {
    *
    {
        font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
    }

    body,
    #wrapper,
    #list_simplepage2,
    .list_simple_box
    {
        margin: 0 !important;
        padding: 0 !important;
    }

    head + body
    {
        min-width: 80% !important;
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    #site-title a
    {
        float: left !important;
    }

    #site-description
    {
        font-size: 8pt !important;
    }

    #container,
    .list_simple_box
    {
        width: 100% !important;
    }

    h1,
    h2,
    h3
    {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
        font-size: 13pt !important;

        border: none;
    }

    /* 非表示部分 */
    #secondary,
    #content-sidebar,
    #colophon,
    #contact_form
    {
        display: none !important;
    }

    /* 地図 */
    #map_canvas
    {
        width: 100% !important;
        height: 340px !important;
    }
}

@page {
    margin: 1cm 1cm !important;
}



/* = fudo_toukou_top-XX
-------------------------------------------------------------- */

#toukou_top li:after {
    display: block;
    clear: both;

    height: 10px;

    content: '';
}

ul#toukou_top {
    clear: both;

    margin: 0;
    padding: 0;
}

ul.toukou_top_post_excerpt {
    margin: 0 !important;
}


#primary .toukou_top_post_title,
#secondary .toukou_top_post_title {
    font-weight: bold;
    line-height: 1.4;
}

#toukou_top img {
    float: left;

    width: 75px;
    height: auto;
    padding: 0 5px 0 0;
}



/* = toukou
-------------------------------------------------------------- */

.entry-content {
    line-height: 1.4;

    margin: 0;
    /*	font-size: 12px;	*/
    padding: 10px;
}


.entry-meta {
    text-align: right;
    /*	font-size: 10px;	*/
}



/* = widget_twentyeleven_ephemera
-------------------------------------------------------------- */

.widget_twentyfourteen_ephemera {
    margin-bottom: 30px !important;
}

#top_fbox .widget_twentyfourteen_ephemera h1.widget-title {
    font-size: 33px;
}



.widget_twentyeleven_ephemera ol {
    margin: 0;
    padding: 0 0 0 20px;

    list-style-type: circle;
}



.widget_twentyfourteen_ephemera .entry-header {
    margin-top: 0 !important;
}


/* = 物件リストソート部
-------------------------------------------------------------- */
.nav-previous {
    float: left;

    padding: 10px 0;
}

/* = 物件リスト ページリスト
-------------------------------------------------------------- */
.nav-next {
    float: right;

    padding: 10px 0;
}

.nav-next a {
    padding: 1px 5px;

    border: 1px solid #ccc;
}
.site-content .navigation:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}


/* = NEW/UP mark
-------------------------------------------------------------- */

/* 物件リスト・詳細 */
.entry-title .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px !important;
    font-weight: bold;

    position: static !important;

    display: inline;
    display: inline !important;

    padding: 0 10px !important;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #c00 !important;
    background: none !important;
}



.grid-content li {
    position: relative;
}

.up_mark,
.new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 3px;
    left: 3px;

    display: block;

    width: 28px !important;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    background:         linear-gradient(top, #d20100 0%,#900 100%); /* W3C */
    text-shadow: 1px 1px 0 #900;
}



/* 関連物件 */
#syousai_box ul.syousai-content li {
    position: relative;
}

#syousai_box .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    font-weight: bold;

    position: absolute;
    top: 6px;
    right: 6px;

    display: block;

    width: 26px;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    background:         linear-gradient(top, #d20100 0%,#900 100%); /* W3C */
    text-shadow: 1px 1px 0 #900;
}


/*  = 会員ログイン page
---------------------------------------------------------------------- */

/* テーブル */
table.form_register {
    font-size: 87.6%;
    line-height: 18px;

    width: 100%;
    margin-bottom: 10px;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}
table.form_register tr {
    font: inherit;

    margin: 0;
    padding: 0;

    border: 0 none currentcolor;
}
table.form_register th {
    font-weight: bold;

    width: 22%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
table.form_register td {
    font-size: 12px;

    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

table.form_register h5 {
    margin: 10px 0 10px !important;
}
table.form_register ul {
    margin: 0 !important;
}




/* 強度インジケータ */
#pass-strength-result {
    display: none;

    width: auto;
    margin: 5px 0;
    padding: 5px;

    text-align: center;

    border-width: 1px;
    border-style: solid;
    border-color: #ddd !important;
    background-color: #eee;
}

#pass-strength-result.bad {
    border-color: #ff853c !important;
    background-color: #ffb78c;
}

#pass-strength-result.good {
    border-color: #fc0 !important;
    background-color: #ffec8b;
}

#pass-strength-result.short {
    border-color: #f04040 !important;
    background-color: #ffa0a0;
}

#pass-strength-result.strong {
    border-color: #8dff1c !important;
    background-color: #c3ff88;
}



/* ボタン */
.page_login #maching_mail a {
    font-size: 14px;
    font-weight: bold;

    display: block;

    width: 150px;
    margin: 5px 0;
    padding: 5px 8px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background: #ff9b9d;
    text-shadow: 1px 1px 1px #cc5559;
}

.page_login #maching_mail a:hover {
    text-decoration: underline;

    background: #ff9b9d;
}

.page_login #maching_mail a:active {
    text-decoration: none;

    background: #faa8cd;
}


/*  = 会員登録 page
---------------------------------------------------------------------- */

.page_login ul:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}



.page_register #kaiin_kiyaku {
    padding: 10px;

    border: 1px solid #e5e5e5;
}

.page_login .login_error,
.page_register .login_error {
    margin: 0 0 16px !important;
    padding: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: #c00;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffebe8;
}

.page_login p.message,
.page_register p.message {
    margin: 0 0 16px !important;
    padding: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: #e6db55;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffffe0;
}



/*  */










/* =Media Queries
----------------------------------------------- */
/* Mobile list style for iphone */
@media screen and (max-width: 400px) {
    /* トップ物件表示サイズ*/
    #content #top_fbox .grid-content li
    {
        width: 90%;
        min-width: 295px;
        margin: 0 10px 0 0 !important;
    }

    /* スライダー 表示サイズ*/
    #content #top_fbox .grid-content .carousel li,
    #content-sidebar .grid-content .carousel li,
    #secondary .carousel_inner,
    #secondary .carousel_inner div.carousel_box li,
    footer .carousel_inner,
    #colophon .carousel_inner div.carousel_box li
    {
        width: 290px  !important;
        margin: 0 15px 0 0  !important;
    }

    /* 物件リスト */
    #list_simplepage .list_simple_box .list_picsam
    {
        float: none;

        max-width: 100%;
    }

    .list-view .content-area
    {
        padding: 0 !important;
    }

    /* マージン */
    #content #top_fbox
    {
        /* トップ */
        margin: 0 10px;
    }
    .archive-fudo .site-content .page-header,
    /* 物件リスト */
    .archive-fudo .site-content .navigation,
    .archive-fudo .site-content .pageback,
    #list_simplepage
    {
        margin: 0 10px;
    }
    #list_simplepage2
    {
        /* 物件詳細 */
        margin: 0 10px;
    }
    .secondary-navigation
    {
        font-size: 14px;
    }
}

@media screen and (min-width: 401px) {
    /* トップ物件表示サイズ*/
    #content #top_fbox .grid-content li
    {
        width: 47%;
    }


    /* スライダー 表示サイズ*/
    #content #top_fbox .grid-content .carousel li,
    #content-sidebar .grid-content .carousel li,
    #secondary .carousel_inner,
    #secondary .carousel_inner div.carousel_box li,
    footer .carousel_inner,
    #colophon .carousel_inner div.carousel_box li
    {
        width: 275px  !important;
        margin: 0 10px 0 0  !important;
    }


    /* マージン */
    #content #top_fbox
    {
        /* トップ */
        margin: 0 10px;
    }
    .archive-fudo .site-content .page-header,
    /* 物件リスト */
    .archive-fudo .site-content .navigation,
    .archive-fudo .site-content .pageback,
    #list_simplepage
    {
        margin: 0 10px;
    }
    #list_simplepage2
    {
        /* 物件詳細 */
        margin: 0 10px;
    }

    #content #top_fbox
    {
        /*	margin-top: 0;
			margin-top: -24px; */
    }

    .featured-content
    {
        /*	margin-bottom: 0;
			margin-bottom: 48px; */
    }

    /* 物件詳細 画像 */
    #list_simplepage2 .list_picsam img
    {
        width: 140px;
    }

    /* 物件リスト */
    #list_simplepage .list_simple_box .list_picsam
    {
        float: none;

        max-width: 100%;
    }

    /* 物件リスト 画像*/
    #list_simplepage .list_simple_box .list_picsam img
    {
        float: left;

        width: auto;
    }
    #list_simplepage .list_simple_box .list_picsam_img
    {
        width: auto;
    }

    #list_simplepage .list_simple_box .list_picsam_img:before
    {
        display: block;
        clear: both;

        height: 0;

        content: '';
    }

    /* サイドメニュー */
    .secondary-navigation
    {
        font-size: 14px;
    }
}

@media screen and (min-width: 594px) {
    /* 物件リスト */
    #list_simplepage .list_simple_box .list_picsam
    {
        float: left;

        max-width: 200px;
    }

    /* 物件リスト 画像*/
    #list_simplepage .list_simple_box .list_picsam img
    {
        float: none !important;

        width: 90px !important;
    }
    #list_simplepage .list_simple_box .list_picsam_img
    {
        width: 196px;
    }
}

@media screen and (min-width: 673px) {
    /* 物件詳細 物件リスト */
    .single-fudo .main-content,
    .archive-fudo .main-content
    {
        float: left;
    }
}

@media screen and (min-width: 782px) {
}
@media screen and (min-width: 810px) {
}

@media screen and (min-width: 846px) {
}

@media screen and (min-width: 1008px) {
    /* サイドメニュー */
    .secondary-navigation
    {
        font-size: 12px;
    }
}
@media screen and (min-width: 1040px) {
}

@media screen and (min-width: 1080px) {
}

@media screen and (min-width: 1110px) {
}

@media screen and (min-width: 1218px) {
    /* トップ物件表示サイズ*/
    #content #top_fbox .grid-content li
    {
        width: 47%;
    }

    /* スライダー 表示サイズ*/
    #content #top_fbox .grid-content .carousel li
    {
        width: 307px !important;
        margin: 0 10px 0 0;
    }

    #content-sidebar .carousel_inner div.carousel_box li
    {
        width: 295px !important;
        margin: 0 10px 0 0;
    }
    #secondary .carousel_inner div.carousel_box li
    {
        font-size: 96%;

        width: 160px !important;
        margin: 0 4px 0 0;
    }
    footer .carousel_inner,
    #colophon .carousel_inner div.carousel_box li
    {
        width: 255px !important;
        margin: 0 10px 0 0;
    }

    /* マージン */

    #content #top_fbox
    {
        max-width: 640px;
        /* トップ */
        margin: -24px 0 0 30px;
    }
    .archive-fudo .site-content .page-header,
    /* 物件リスト */
    .archive-fudo .site-content .navigation,
    .archive-fudo .site-content .pageback,
    #list_simplepage
    {
        max-width: 640px;
        margin: 0 0 0 30px;
        padding: 0;
    }
    .archive-fudo .site-content
    {
        /* 物件リスト */
        margin-top: -24px;
    }
    #list_simplepage2
    {
        /* 物件詳細 */
        margin: -24px 0 0 30px;
    }

    /* 物件詳細 画像 */
    #list_simplepage2 .list_picsam img
    {
        width: 150px !important;
    }
}

@media screen and (min-width: 1260px) {
}

/*  */
