@charset 'utf-8';

/* = 
 * Twenty Ten
 * widget_fudo Style
 * corners2010.css サイトパーツの装飾
 * @package WordPress4.1
 * Version: 1.6.0
-------------------------------------------------------------- */



/* = common 
-------------------------------------------------------------- */


body {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
    margin-bottom: 0;
}

/* ロールオーバー */
a:hover img {
    opacity: .8;
}


input,
textarea,
select,
.page-title span,
.pingback a.url {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}

input[type=submit] {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}
pre {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}
code {
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
}

#colophon,
#branding,
#main,
#wrapper {
    width: 960px;
}

#wrapper {
    margin: 0 auto;
    padding: 0 10px;

    background: none;
    background: url('../img/wrap_fbg1.png') repeat-y left top;
}

#main {
    width: 940px;
    margin: 0;
    padding: 20px 10px 10px;
}

#container,
#content {
    margin: 0;
    padding: 0;
}

#container {
    width: 700px;
} /* leftside-width */




/* = header 
-------------------------------------------------------------- */

#header {
    margin: 0 0 0 10px;
    padding-top: 20px;
}

#site-title {
    font-size: 32px;
    /* サイト名の長さによってwidthを調節して下さい */

    width: 400px;
    margin-bottom: 10px;
    padding-left: 15px;

    text-shadow: 0 1px 1px #ccc;
}

#site-title a {
    letter-spacing: -.05em;

    color: #333;
}

#branding img {
    border-top: 3px solid #4a535d;
}

#site-description {
    font-style: normal;
    line-height: 1.6;
    /* サイト右上の説明部分の長さによってwidthやmarginを調節して下さい */

    width: 500px;
    margin: 10px 0 0;
    padding-right: 24px;

    text-align: right;
}

/* = nav 
-------------------------------------------------------------- */

#access {
    border-top: 1px solid #4a535d;
    border-bottom: 3px solid #d9d9d9;
    background: #34373a; /* old browsers */
    background: -moz-linear-gradient(top, #34373a 0%, #000 93%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34373a), color-stop(93%,#000)); /* webkit */
}

#access a {
    width: auto !important;
    width: 70px; 		/* min-width最小値 */
    min-width: 70px;

    text-align: center;
    letter-spacing: .1em;

    text-shadow: 1px 1px 0 #000;
}

/* = TOP only
-------------------------------------------------------------- */

#top_fbox #content ul {
    margin-bottom: 10px;
}

#top_fbox #content ul:after {
    display: block;
    clear: both; 
    height: 0; 
    content: '';
}

#top_fbox #content .grid-content li {
    /*	height: 260px;	*/
    font-size: 12px;
    line-height: 1.4;

    display: block;
    float: left;

    width: 150px;
    margin: 0 8px 8px 0;
    padding: 8px;

    list-style-type: none;

    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: 1px solid #ccc;
}

*:first-child + html #top_fbox #content .grid-content li {
    margin: 0 6px 6px 0; 
    border: 1px solid #ccc;
}

* html #top_fbox #content .grid-content li {margin: 0 6px 6px 0;

    border: 1px solid #ccc;
}



#top_fbox #container #content table {
    margin: 0;
    padding: 0;

    border: none;
}

#top_fbox #container #content tr td {
    margin: 0;
    padding: 0;

    border: none;
}

.box1low {
    font-size: 10px;
    line-height: 1.0;

    margin: 0 0 -5px 0;
    padding: 5px 0 0 0;
}
.box1low a {
    text-decoration: none;

    color: #333;
}


.top_price {
    font-weight: bold;color: #e30;
}
.top_madori {
    font-weight: bold;
}







/* = TOP twitter
-------------------------------------------------------------- */

#top_fbox #content #twitter_update_list {
    font-size: 12px;

    clear: both;

    margin: 0 0 20px 0;
    padding: 10px;

    border: 1px solid #dfdfdf;
    border-radius: 4px;
}

#top_fbox #content #twitter_update_list a {
    text-decoration: none;

    color: #666;
}

#top_fbox #content #twitter_update_list li a.tw_date {
    line-height: 1.2;

    display: block;
    float: left;

    width: 85px;
    margin: 0;
    padding: 4px 0 0 0;
}

#top_fbox #container #content #twitter_update_list li .tw_status {
    line-height: 1.2;

    display: block;
    float: left;

    width: 580px;
    margin: 0;
    padding: 4px 0 0 0;
}


#top_fbox #container #content ul#twitter_update_list {
    padding-left: 15px;
}

#top_fbox #container #content ul#twitter_update_list li {
    display: block;

    list-style: none;
}

#top_fbox #container #content ul#twitter_update_list li:after {
    display: block;
    clear: both;

    content: '';
}


/* = textwidget
-------------------------------------------------------------- */
#top_fbox #container #content .textwidget {
    font-size: 12px;
    line-height: 1.4;

    margin: 0 0 20px 0;
    padding: 15px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

#top_fbox #container #content .textwidget a {
    color: #333;
}


/* = side-widget
-------------------------------------------------------------- */

#primary,
#secondary {
    width: 222px;
}

.widget_fudo_b_k_bus select,
.widget_fudo_b_k_m select,
.widget_fudo_b_k select {
    width: 100%;
    margin: 2px 0;
    padding: 2px;

    border: 1px solid #ccc;
}

#chikunen,
#memseki,
#hofun,
#kakaku_b,
#kakaku_c,
#chiiki,
#roseneki,
#caution1,
#shubetsu,
#setsubi_cb,
#busline {
    margin: 0 0 10px !important;
}

.memseki select,
.kakaku_c select,
.kakaku_b select {
    width: 47%;
}

#main #primary .widget-container,
#main #secondary .widget-container {
    width: 210px;
    margin: 0 0 8px;
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
}

#primary .widget-container h3,
#secondary .widget-container h3 {
    font-size: 16px;

    display: block;

    margin: 0 0 10px 0;
    padding: 6px 6px 6px 10px;

    color: #666;
    border-radius: 4px;
    background: #f9f9f9; /* old browsers */
    background: -moz-linear-gradient(top, #fff 0%, #f6f6f6 47%, #ededed 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* webkit */
}

#primary .widget-container li,
#secondary .widget-container li {
    /*	border-bottom: 1px dotted #CCC;*/
    margin-bottom: 4px;

    list-style-type: circle;
}

#primary .widget-container li ul li,
#secondary .widget-container li ul li {
    margin: 0;
    padding: 0;

    border: none;
}

#main #primary ul li ul,
#main #secondary ul li ul {
    /*margin: 0;*/
    padding: 0 4px;
}

#main .widget-area ul {
    margin: 0;
    padding: 0;
}

#main .widget-area a:link {
    color: #666;
}

#main .widget-area a:visited {
    color: #333;
}

#main .widget-area a:hover,
a:active {
    color: #39f;
}


*:first-child + html .widget_search #s {
    width: 54%;
}

/* バス */
.widget_fudo_b_bus h4,
.widget_fudo_r_bus h4 {
    margin: 5px 0 0 5px;
}





/* 会員  */

#primary .widget_fudo_kaiin input[type='text'],
#primary .widget_fudo_kaiin input[type='password'] {
    width: 110px;
}
#primary .widget_fudo_kaiin {
    line-height: 1.8;
}

#primary .widget_fudo_kaiin form {
    margin: 0 0 1em;
    padding: 0 ;
}

#primary .widget_fudo_kaiin div {
    padding: 0 5px;
}

/* バス  */
.widget_fudo_r_bus ul h4,
.widget_fudo_b_bus ul h4 {
    font-weight: bold;

    margin: 5px 0 0 -13px;
}



/* = footer
-------------------------------------------------------------- */

#footer {
    overflow: hidden;

    margin-bottom: 0;

    border-top: 3px solid #ccc;
}

#colophon {
    width: 940px;
    padding: 10px;
}

#footer #site-info a {
    font-size: 20px;
    font-weight: bold;

    text-shadow: 0 1px 1px #ccc;
}

#footer #site-info {
    width: 650px;
    padding-top: 20px;
}

#footer #site-generator {
    padding-top: 20px;
}


/* = footer widget
-------------------------------------------------------------- */

#footer-widget-area {
    font-size: 12px;

    padding-bottom: 10px;

    border-bottom: 1px solid #ccc;
}
#footer-widget-area a {
    color: #666;
}


#footer-widget-area h3 {
    font-size: 13px;

    margin: 0 0 3px;
    padding: 0;

    color: #666;
    border-bottom: 1px solid #ddd;
}

/*
#footer-widget-area .widget-container li{
	list-style-type: none;
	margin: 4px;
	line-height: 1.5;
}
*/

#footer-widget-area .widget-container li {
    line-height: 1.5;

    margin: 0 0 3px 10px;

    list-style-type: circle;
}


#footer-widget-area .widget-container ul {
    margin: 0 0 0 4px;
}



#footer-widget-area li.widget-container ul li a {
    line-height: 1.6;

    color: #3e3e3e;
}

#footer-widget-area li.widget-container ul li ul a {
    line-height: 1.2;

    color: #828282;
    border-bottom: none;
}


/* = 見出し
-------------------------------------------------------------- */
#main #container #content h1 {
    margin: 0 0 15px;
    padding: 0 0 0 10px;
    border-bottom: 1px dotted #ccc;
    border-left: 3px solid #666;
}
#main #container #content h3 {
    margin: 0 0 15px;
    padding: 0 0 0 10px;

    border-bottom: 1px dotted #ccc;
    /*font-size: 24px;*/
    border-left: 3px solid #666;
    text-shadow: 1px 1px 0 #ccc;
}

#comments h3#comments-title {
    /*	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	margin-top: 20px;
*/
}



/* コメント欄 */

#comments {
    font-size: 12px;

    padding-top: 60px;
}

#comments-title em {
    font-style: normal;
}

#comments li.comment {
    line-height: 1.2;
}

#comments .comment-meta {
    font-size: 10px;
}



#respond {
    border-top-style: none;
}

#main #comments #respond h3#reply-title {
    /*	font-size: 14px;
	font-weight: normal;
	color: #666;
	border-top: 0px none #FFF;
	border-right: 0px none #FFF;
	border-bottom: 0px none #FFF;
	border-left: 2px solid #CCC;
*/
}



#cancel-comment-reply-link {
    margin-left: 2em;
}





/* = Contact Form 7 checkbox hook
-------------------------------------------------------------- */

#list_simplepage2 .wpcf7-list-item label {
    display: block; float: left; margin-left: 1em;
}

#list_simplepage2 form p:after {
    display: block;
    clear: both;

    content: '';
}


/* = 印刷用CSS Twenty Ten +α
-------------------------------------------------------------- */

@media print {
    *
    {
        font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', serif;
    }

    body,
    #wrapper,
    #list_simplepage2,
    .list_simple_box {
        margin: 0 !important;
        padding: 0 !important;
    }

    head + body {
        min-width: 80% !important;
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    #site-title a {font-size: 14pt !important;

        float: left !important;
    }

    #site-description {
        float: right !important;
    }

    #container,
    .list_simple_box {
        width: 100% !important;
    }

    h1,
    h2,
    h3,
    #header {
        font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
        font-size: 13pt !important;

        border: none;
    }

    /* フォーム部分 */
    #list_simplepage2 .wpcf7 {
        display: none !important;
    }

    /* 地図 */
    #map_canvas {
        width: 514px !important; height: 340px !important;
    }
}





/* = TOP fudo_toukou_top-XX
-------------------------------------------------------------- */
#top_fbox #content ul#toukou_top {
    font-size: 12px;

    clear: both;

    margin: 0 0 20px;
    padding: 10px;

    border: 1px solid #dfdfdf;
    border-radius: 4px;
}
#top_fbox #content ul.toukou_top_post_excerpt {
    font-size: 12px;

    margin: 0;
    padding: 5px 0 0 10px;
}
#top_fbox #content #toukou_top a {
    color: #333;
}
#top_fbox #content .toukou_top_post_title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;

    color: #333;
}
#top_fbox #content #toukou_top li {
    line-height: 1.4;

    display: block;

    list-style: none;
}
#top_fbox #content #toukou_top img {
    float: left;

    width: 75px;
    padding: 0 5px 0 0;
    height: auto;
}



/* = primary and secondary fudo_toukou_top-XX
-------------------------------------------------------------- */
#primary ul#toukou_top,
#secondary ul#toukou_top {
    clear: both;

    margin: 0;
    padding: 0;
}
#primary ul.toukou_top_post_excerpt,
#secondary ul.toukou_top_post_excerpt {
    font-size: 10px;

    margin: 0 !important ;
    padding: 5px 0 0 10px;
}
#primary #toukou_top a,
#secondary #toukou_top a {
    color: #333;
}
#primary .toukou_top_post_title,
#secondary .toukou_top_post_title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;

    color: #333;
}
#primary #toukou_top li,
#secondary #toukou_top li {
    line-height: 1.4;

    display: block;

    list-style: none;
}
#primary #toukou_top img,
#secondary #toukou_top img {
    float: left;

    width: 75px;
    height: 75px;
    padding: 0 5px 0 0;
}



/* = toukou
-------------------------------------------------------------- */
.entry-content {
    font-size: 12px;
    line-height: 1.4;

    margin: 0;
    padding: 10px;
}

.entry-content a {
    color: #333;
}


.entry-meta {
    font-size: 10px;

    text-align: right;
}

/* = 物件リストソート部
-------------------------------------------------------------- */
.nav-previous {
    font-size: 12px;

    padding: 10px 0 10px 5px;
}

/* =  ページリスト
-------------------------------------------------------------- */
.nav-next {
    font-size: 12px;

    width: 48%;
    padding: 10px 0 10px 5px;
}

.nav-next a {
    padding: 5px;

    border: 1px solid #ccc;
}


/* = NEW/UP mark
-------------------------------------------------------------- */
/* 物件リスト・詳細 */
.entry-title .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    font-weight: bold;

    display: inline;

    height: 20px;
    padding: 0 10px;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #c00;
    border-radius: 4px;
    text-shadow: 1px 1px 0 #fff;
}

/* トップ */
#top_fbox #content .grid-content li {
    position: relative;
}

#top_fbox #content .grid-content .box1 img {
    display: block;

    max-width: 100%;
    margin: 0 auto;
}

#top_fbox .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 12px;
    right: 10px;

    display: block;

    width: 26px;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: 1px 1px 0 #900;
}


/* 関連物件 */
#syousai_box ul.syousai-content li {
    position: relative;
}

#syousai_box .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    font-weight: bold;

    position: absolute;
    top: 6px;
    right: 6px;

    display: block;

    width: 26px;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: 1px 1px 0 #900;
}


.page-template-showcase-php .new_mark,
footer .new_mark,
#footer .new_mark,
#tertiary .new_mark,
#primary .new_mark,
#secondary .new_mark {
    width: auto;
}



/* = Fudousan Plugin Copyright
-------------------------------------------------------------- */

#nendebcopy {font-family: Arial,Helvetica;font-size: 10px;

    width: 960px;margin: 5px auto;padding: 0 0 5px;text-align: right;text-decoration: none;color: #999;
}
#nendebcopy a {font-family: Arial,Helvetica;
    font-size: 10px;float: right;text-decoration: none;color: #999;
}

#nendebcopy {
    overflow: hidden;

    margin: 0 auto;
    padding: 10px 10px 0 10px;

    background: url('../img/wrap_fbg2.png') no-repeat left top;
}


/* 条件検索(固定ページ) */

#container .jsearch .setsubi,
#container .jsearch .menseki,
#container .jsearch .madori,
#container .jsearch .kakaku,
#container .jsearch .chikunen,
#container .jsearch .shiku,
#container .jsearch .eki,
#container .jsearch .shubetsu {
    padding: 0 0 0 10px;
}



/*  = 問合せフォーム table
---------------------------------------------------------------------- */

table.form_set {
    font-size: 87.6%;
    line-height: 18px;

    width: 100%;
    margin-bottom: 10px;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}
table.form_set tr {
    font: inherit;

    margin: 0;
    padding: 0;

    border: 0 none currentcolor;
}
table.form_set th {
    font-weight: bold;

    width: 18%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
table.form_set td {
    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

table.form_set h5 {
    margin: 10px 0 10px !important;
}
table.form_set ul {
    margin: 0 !important;
}







/*  = 会員ログイン page
---------------------------------------------------------------------- */

/* テーブル */
table.form_register {
    font-size: 87.6%;
    line-height: 18px;

    width: 100%;
    margin-bottom: 10px;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}
table.form_register tr {
    font: inherit;

    margin: 0;
    padding: 0;

    border: 0 none currentcolor;
}
table.form_register th {
    font-weight: bold;

    width: 22%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
table.form_register td {
    font-size: 12px;

    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

table.form_register h5 {
    margin: 10px 0 10px !important;
}
table.form_register ul {
    margin: 0 !important;
}




/* 強度インジケータ */
#pass-strength-result {
    display: none;

    width: auto;
    margin: 5px 0;
    padding: 5px;

    text-align: center;

    border-width: 1px;
    border-style: solid;
    border-color: #ddd !important;
    background-color: #eee;
}

#pass-strength-result.bad {
    border-color: #ff853c !important;
    background-color: #ffb78c;
}

#pass-strength-result.good {
    border-color: #fc0 !important;
    background-color: #ffec8b;
}

#pass-strength-result.short {
    border-color: #f04040 !important;
    background-color: #ffa0a0;
}

#pass-strength-result.strong {
    border-color: #8dff1c !important;
    background-color: #c3ff88;
}



/* ボタン */
#main #maching_mail a {
    font-size: 14px;
    font-weight: bold;

    display: block;

    width: 150px;
    margin: 5px 0;
    padding: 5px 8px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background: #ff9b9d;
    text-shadow: 1px 1px 1px #cc5559;
}

#main #maching_mail a:hover {
    text-decoration: underline;

    background: #ff9b9d;
}

#main #maching_mail a:active {
    text-decoration: none;

    background: #faa8cd;
}


/*  = 会員登録 page
---------------------------------------------------------------------- */

.page_register #kaiin_kiyaku {
    padding: 10px;

    border: 1px solid #e5e5e5;
}

.page_login .login_error,
.page_register .login_error {
    margin: 0 0 16px !important;
    padding: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: #c00;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffebe8;
}

.page_login p.message,
.page_register p.message {
    margin: 0 0 16px !important;
    padding: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: #e6db55;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffffe0;
}


/*  */
