@charset 'utf-8';

/* = 
 * Twenty Fourteen
 * widget_fudo Style
 * style2014.css サイト基本の装飾
 * @package WordPress4.1
 * Version: 1.6.3
-------------------------------------------------------------- */


/* 基本サイズ */

/* トップ */
#content #top_fbox {
    /*	margin: -24px 0 0 30px; */
    max-width: 640px;
}


/* 基本タイトル */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal !important;
    /*	margin: 0 0 12px !important; */
}

.widget-title {
    font-size: 16px;
    font-weight: normal;
}

/* トップウィジェットタイトル */
#top_fbox h3 {
    font-size: 33px;
    font-weight: normal;
}




/* サイトカラー  変更したい場合は各色を設定してください。
---------------------------------------------------------------------- */
/* 背景色 */
/*
	.site:before,
	.site-header,
	.primary-navigation,
	.grid .featured-content .entry-header,
	.featured-content .entry-header,
	#secondary,
	.site-footer,
	#supplementary,
	#nendebcopy
	{
		background: #ff0000 !important;
	}

	.grid .featured-content .entry-header{
		border-color: transparent !important;
	}
*/

/* 文字色 */
/*
	.site-title a,
	.primary-navigation a,
	.site-description,
	.featured-content a,
	#secondary,
	.secondary-navigation a,
	.widget-area .widget-title,
	.widget-area .widget-title a,
	.widget-area a,
	.site-footer, 
	.site-footer a,
	.site-info, 
	.site-info a,
	#nendebcopy a
	{
		color: #000 !important;
	}
*/
/* ボックス色 */
/*
	.widget-area input[type="text"], 
	.widget-area input[type="email"], 
	.widget-area input[type="url"], 
	.widget-area input[type="search"], 
	.widget-area input[type="password"], 
	.widget-area textarea
	{
		background: #fff !important;
		border: 1px solid #ccc;
		color: #000;
	}
*/




/* 3= カラー修正---------------------------------------------------------------------- */

#primary .widget a,
#primary .entry-meta a {
    color: #2b2b2b;
}

#primary .widget a {
    color: #24890d;
}

/* 3= 汎用css
---------------------------------------------------------------------- */

.dpoint1 {
    font-size: 150%;
    font-weight: normal;
    line-height: 1.2;

    float: left;

    padding: 4px;

    color: #c00;
}

.dpoint2 {
    font-size: 130%;
    font-weight: normal;

    float: left;

    padding: 4px;

    color: #000;
}

.dpoint3 {
    font-size: 120%;
    font-weight: bold;

    display: inline;

    color: #000;
}

.dpoint4 {
    font-size: 20px;
    font-weight: bold;

    display: inline;

    color: #000;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}



/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */
.archive-fudo a img {
    display: inline;
}

#list_simplepage .list_simple_box:after {
    display: block;
    clear: both;

    height: 48px;

    content: '';
}

.list_detail dl.list_price_others {
    margin: -24px 0 0;
}

#list_simplepage table,
#list_simplepage th,
#list_simplepage td {
    border-width: 0;
}

.list_price_others table td,
.list_address table td {
    border-bottom: 1px solid #ccc !important;
}

.list_detail table td {
    padding: 2px;
}

#list_simplepage .list_simple_box .list_detail dt {
    font-weight: normal;

    display: inline;

    white-space: nowrap;
}

#list_simplepage .list_simple_box .list_detail dd {
    display: inline;

    max-width: 320px;
    margin: 0 0 0 .3em;
    padding: 0;

    color: #333;
}

/* 左 */
#list_simplepage .list_simple_box .list_picsam {
    float: left;

    max-width: 200px;
}

#list_simplepage .list_simple_box .list_picsam img {
    width: 90px;
    /*height: 90px;	*/
    margin: 1px 1px 5px;
    padding: 2px;

    border: 1px solid #333;
}

#list_simplepage .list_simple_box .list_picsam_img {
    display: block;

    width: 196px;
}

/* 右 */
#list_simplepage .list_simple_box .list_detail {
    font-size: 87.5%;
    line-height: 1.8;

    overflow: hidden;

    max-width: 100%;
    /*width: 63%; */
    /*float: left; */
    margin: 0 3px 0 0;
    padding: 0 0 0 10px;
}

/* 種別カラー */
#list_simplepage .list_price {
    background-color: #ebf6fc;
}

#list_simplepage .list_price.rent {
    background-color: #fdedf0;
}

/* 抜粋 */
#list_simplepage .entry-excerpt {
    padding-bottom: 10px;
    padding-left: 5px;
}

/* 戻るリンク */
.archive-fudo .pageback {
    float: right;
}

/* 物件の詳細を見るボタン */
#list_simplepage .list_simple_box .list_details_button {
    font-size: 87.5%;
    font-weight: bold;

    display: block;
    clear: both;

    max-width: 176px;
    margin: 0 0 3px 0;
    padding: 10px;

    text-align: center;

    color: #fff;
    border: medium none;
    background-color: #24890d;
}

#list_simplepage .list_simple_box a > .list_details_button:active,
#list_simplepage .list_simple_box a > .list_details_button:hover {
    text-decoration: none !important;

    background-color: #41a62a !important;
}





/* 13= 物件詳細ページ #list_simplepage2 
---------------------------------------------------------------------- */

#list_simplepage2 {
    max-width: 630px;
    margin: -24px 0 0 30px;
    padding: 0;
}

#list_simplepage2 .widget {
    max-width: none;
}

#list_simplepage2 a img {
    display: inline;
}

#list_simplepage2 .list_simple_box .list_detail {
    display: block;
    float: left;
    /*	max-width: 620px;*/

    width: 100%;
    margin: 0;
}


#list_simplepage2 .entry-excerpt {
    padding: 0 0 10px;
}



/* 物件情報 */
#list_simplepage2 .list_simple_box .list_detail dt {
    font-weight: normal;

    display: inline;

    color: #333;
}

#list_simplepage2 .list_simple_box .list_detail dd {
    display: inline;

    margin: 0 .6em 0 .4em;
    padding: 0;

    color: #333;
}

#list_simplepage2 .list_simple_box:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

#list_simplepage2 .list_detail table {
    margin: 0;
    padding: 0;

    border: none;
}

/* 見出し */




/* 画像 */
#list_simplepage2  #second_img,
#list_simplepage2 .list_picsam {
    display: block;

    margin: 0 0 48px;
}

#list_simplepage2 .list_picsam img {
    width: 150px;
    margin: 0 0 4px 0;

    border: 1px solid #000;
}

#list_simplepage2 #second_img img {
    width: 120px;
    height: auto;
    margin: 0 4px 4px 0;

    border: 1px solid #000;
}


#list_simplepage2 td {
    border-width: 0;
}



/* 賃貸/売買 背景色 */

#list_simplepage2 .list_price {
    line-height: 2;

    margin: 0;
    padding: 0 0 4px 1em;
    /*	background:	-moz-linear-gradient(left, #ebf6fc, #fff);
		background:	-webkit-gradient(linear, left top, right top, from(#ebf6fc), to(#fff));	*/

    background-color: #ebf6fc;
}
#list_simplepage2 .list_price.rent {
    /*	background:	-moz-linear-gradient(left, #fdedf0, #fff);
		background:	-webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));	*/
    background-color: #fdedf0;
}

#list_simplepage2 .list_detail table {
    font-size: 86%;
}

#list_simplepage2 .list_simple_box .list_detail #list_add th {
    line-height: 1.4;

    padding: 5px;

    text-align: left;
    white-space: nowrap;

    border-bottom: 1px solid #eee;
}

#list_simplepage2 .list_simple_box .list_detail #list_add td {
    line-height: 1.4;

    margin: 0;
    padding: .5em;

    white-space: normal;

    border-bottom: 1px solid #eee;
}

#list_simplepage2 .list_simple_box .list_detail #list_other th {
    line-height: 1.4;

    width: 21%;
    padding: 5px;

    text-align: left;

    border-right: 1px dotted #ccc;
    border-bottom: 1px solid #eee;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th.th2 {
    border-left: 1px dotted #ccc;
}


#list_simplepage2 .list_simple_box .list_detail #list_other td {
    line-height: 1.2;

    width: 30%;
    padding: 5px;

    white-space: normal;

    border-bottom: 1px solid #eee;
}



#toiawasesaki {
    display: block;

    margin: 0 0 48px;
}
#contact_form {
    display: block;

    margin: 0 0 48px;
}


/* 担当者コメント entry-content */
.site-content #list_simplepage2 .entry-content {
    font-size: 86%;

    max-width: 640px !important;
    margin: 0 0 48px !important;
    padding: 14px 0 0 !important;
}


/* 表下部・現況優先但書 */
.list_detail_bottom_info {
    font-size: 86%;

    margin: -48px -10px 48px 0;
    padding: 0;

    text-align: right;
}



/* 関連物件表示(物件詳細ページ)スライダー */
#primary #syousai_box .carousel .carousel_inner {
    width: 97% !important;
    max-width: 589px;
}

.widget_fudo_top_slider_syousai {
    margin: 0 0 48px !important;
}


/* 閲覧履歴 */
#primary .syousai_widgets ul {
    padding: 5px;
}


/* Contact Form 7 */
.wpcf7 input[type='text'],
.wpcf7 input[type='email'],
.wpcf7 input[type='url'],
.wpcf7 input[type='search'],
.wpcf7 input[type='password'] {
    width: 100%;
}

/* for wp3.6 youtube */
#main #content .list_detail .entry-content p iframe {
    max-width: 630px;
}

/* places */
#main #content .list_detail .places {
    width: 100%;
    max-width: 630px;
    margin: -48px 0 58px;
    padding: 5px 0;

    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
}
#main #content .list_detail .places:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
#main #content .list_detail .places label {
    font-size: 85%;

    display: block;
    float: left;

    margin: 0 5px;
}

/* map */
/*
	#content #map_canvas img {margin: 0;height: auto;max-width: none;width: auto;}
	#content #map_canvas .msg {margin: 5px;font-size:12px;}
*/
#content #map_canvas {
    z-index: 1;

    max-width: 640px;
    height: 340px;
    /*	margin: 20px 0 ; */
    margin: 0 0 48px;

    border: 1px solid #979797;
    background-color: #e5e3df;
}

/* ふきだし内 */
#map_canvas .gm-style-iw {
    width: auto !important;
    height: auto !important;
}

#map_canvas table {
    overflow: hidden;

    margin: 8px;
    padding: 0;

    border-style: none;
}

#map_canvas table {
    width: auto;
}

#map_canvas table {
    border-spacing: 2px;
    border-collapse: separate ;
}

#map_canvas td {
    line-height: 1.4;

    margin: 0;
    padding: 0;

    vertical-align: middle;

    border-width: 0 !important;
    border-top: medium none !important;
}

.gmapballoon {
    font-size: 10px;

    color: #3f3f3f;
    border-style: none;
}
.gmapballoon img {
/*    width: 100px; */
    height: auto;
    padding: 2px;

    border: 1px solid #ccc;
}

.gmapballoon img.gmap_img {
    margin: 0 5px 0 0;
}

.gmaptitle {
    font-size: 12px;
    font-weight: bold;
}

.gmapkakaku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: #f30;
    border-bottom: 1px dotted #ccc;
}
.gmapmadori {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: #333;
    border-bottom: 1px dotted #ccc;
}









/* 14= 物件詳細ページ関連物件  #syousai_box : 関連物件部分
---------------------------------------------------------------------- */

#syousai_box ul {
    padding-left: 5px;
}

#syousai_box ul:after {display: block; clear: both; height: 0; 

    content: '';
}

#syousai_box ul.syousai-content li {
    font-size: 12px;
    line-height: 1;

    display: block;
    float: left;

    width: 80px;
    margin: 0 5px 4px 0;
    padding: 6px;

    list-style-type: none;

    border: 1px solid #ccc;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 70%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#fff), color-stop(100%,#f7f7f7));
}

#syousai_box ul.syousai-content li span {
    font-size: 10px;

    margin-top: 5px;
}

#syousai_box ul.syousai-content li img {
    padding-bottom: 5px;
}


#syousai_box ul.syousai-content li .box2image {
    width: 80px;
    height: auto;
}

#syousai_box .carousel_inner_fudo_top_slider_syousai_2 {
    max-width: 490px;
}



/* 17= 物件検索 固定ページ用  .jsearch 新
---------------------------------------------------------------------- */
.jsearch .entry-header,
.jsearch .entry-content {
    max-width: none;
    margin-right: 0;
}

.jsearch li {
    display: block;
    float: left;

    margin: 0 1em 0 0;
    padding: 0;

    list-style-type: none;
}

.jsearch .eki ul,
.jsearch .shiku ul {
    padding: 0 0 25px 10px;
}

table.form_jsearch {
    width: 100%;
    margin-bottom: 10px;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}
table.form_jsearch th {
    font-weight: normal;

    width: 18%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
table.form_jsearch td {
    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
table.form_jsearch h5 {
    font-size: 100%;

    margin: 0;
}
table.form_jsearch ul {
    margin: 0 !important;
}

table.form_jsearch input[type='checkbox']{
    margin: 0 5px 0 0;
}


	/*------------------------------------------------------------------
	  ページ条件検索 バス
	----------------------------------------------------------------- */

	.jsearch table.form_jsearch td.bus ul{
		padding: 0 0 0 10px !important;
	}


	.jsearch table.form_jsearch td.bus ul li ul li.buscorse,
	.jsearch table.form_jsearch td.bus ul li.buscorp{
		display : block;
		clear : both;
		margin: 5px 0;
	}

	.jsearch table.form_jsearch td.bus ul li ul li.buscorse ul li.busstop{
		float: left;
		margin: 0 0 0 10px;
	}

/* バス停 */
/*
#bus ul li ul li ul {
    margin: 0 0 10px 20px !important;
}
.jsearch #bus li {
    float: none;
}
*/

/* 00= Fudousan Plugin Copyright
---------------------------------------------------------------------- */

#nendebcopy {
    font-size: 12px;

    max-width: 1240px;
    padding: 0 20px 0 0;

    text-align: right;

    background-color: #000;
}

#nendebcopy a {
    text-decoration: none;

    color: rgba(255, 255, 255, .55);
}
#nendebcopy a:hover {
    color: #fff;
}



/*  */
