@charset 'utf-8';

/* = 
 * Twenty Thirteen
 * widget_fudo Style
 * style2013.css サイト基本の装飾
 * @package WordPress4.1
 * Version: 1.6.3
-------------------------------------------------------------- */


/* 基本サイズ */

.site-main {
    max-width: 980px;
    margin: 0 auto;
}


.site-content {
    width: 70.8% !important;
    max-width: 696px;
    margin: 0 0 0 5px;
}

.site-content .widget {
    padding: 20px 0 0 0;
}

.site-main .widget-area {
    margin-right: 0;
}

.site-main .sidebar-container {
    top: 19px;
}

#tertiary .widget-area {
    width: 240px !important;
}

@media (max-width: 999px) {
    .site-main .sidebar-container
    {
        position: absolute;
        z-index: 1;
        top: 40px;

        width: 100%;
        max-width: 1020px;
        height: 0;
    }
    .site-main .widget-area
    {
        float: right;

        margin: 0;
    }
}

@media (max-width: 873px) {
    #list_simplepage2 .list_simple_box .list_detail,
    #list_simplepage2 .list_picsam
    {
        width: auto !important;
    }
}

@media (max-width: 767px) {
    .site-main .sidebar-container
    {
        position: relative;
        top: 20px;

        height: auto;
        margin: 0 auto;
    }

    .site-main .widget-area
    {
        float: none;

        width: 100%;
        margin: 0;
    }
    #tertiary .widget-area
    {
        width: auto !important;
    }
    .site-content
    {
        width: 95% !important;
        max-width: 696px;
        margin: 0 auto;
    }
}



/* サイズ調整 */
.sidebar .entry-header,
.sidebar .entry-content,
.sidebar .entry-summary,
.sidebar .entry-meta {
    padding: 0 !important;
}
.sidebar .comments-title,
.sidebar .comment-list,
.sidebar .must-log-in,
.sidebar #reply-title,
.sidebar .comment-navigation,
.sidebar #respond #commentform {
    padding-right: 0 !important;
}

/* content image alignright */
.entry-content img.alignright,
.entry-content .wp-caption.alignright {
    margin-right: auto;
}
.entry-content img.alignleft,
.entry-content .wp-caption.alignleft {
    margin-left: auto;
}

#commentform label {
    width: 150px !important;
}

#commentform textarea {
    width: 60% !important;
}

table {
    margin: 0;
}

/* main navi */
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
    font-style: normal;
}


input[type='radio'],
input[type='checkbox'] {
    border: none;
}

label {
    white-space: nowrap;
}




.error404 .page-title {
    width: 1050px;
}


.error404 .site-content {
    width: auto !important;
    max-width: 1040px !important;
}
.error404 .page-content {
    max-width: 700px !important;
}







/* = title
-------------------------------------------------------------- */

h3 {
    padding: 0 0 5px;

    border-bottom: 3px solid #bc360a;
}

.page-title {
    padding: 40px 0;
}

h2.entry-title {
    padding: 0 0 5px;

    border-bottom: 3px solid #bc360a;
}



/* = widget
-------------------------------------------------------------- */

#tertiary .widget {
    margin: 0;
}

#content .widget {
    /*	background-color: rgba(247, 245, 231, 0.7); */
    background-color: transparent;
}

.widget ul {
    padding: 0 0 0 15px;

    list-style-type: circle;
}


/* 3= 汎用css
---------------------------------------------------------------------- */

.dpoint1 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2;

    float: left;

    padding: 4px;

    color: #c00;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.dpoint2 {
    font-size: 22px;
    font-weight: normal;

    float: left;

    padding: 4px;

    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.dpoint3 {
    font-size: 18px;
    font-weight: bold;

    display: inline;

    color: #000;
}

.dpoint4 {
    font-size: 20px;
    font-weight: bold;

    display: inline;

    color: #bc360a;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}



/* = TOP 物件表示
-------------------------------------------------------------- */

#top_fbox #content ul {
    margin: 0 0 20px 0;
    padding-left: 2px;
}

#top_fbox #content ul:after {
    display: block;
    clear: both;

    height: 5px;

    content: '';
}

#top_fbox #content .grid-content li {
    font-size: 86%;

    display: block;
    float: left;

    width: 161px;
    margin: 0 8px 8px 0;
    padding: 8px;

    list-style-type: none;

    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    outline: 1px solid #ccc;
}

.ie7 #top_fbox #content .grid-content li {
    width: 143px;

    border: 1px solid #ccc;
}



#top_fbox #container #content table {
    margin: 0;
    padding: 0;

    border: none;
}

#top_fbox #container #content tr td {
    margin: 0;
    padding: 0;

    border: none;
}

.box1low {
    margin: 0 0 -5px 0;
    padding: 5px 0 0 0;
}

.box1low a {
    text-decoration: none;

    color: #333;
}


.top_price {
    font-weight: bold;color: #e30;
}
.top_madori {
    font-weight: bold;
}







/* top_slider */
.carousel_inner {
    width: 100% !important;
    max-width: 671px !important;
}

.widget_fudo_top_slider input {
    border: medium none;
}

#tertiary .grid-content .carousel_inner li {
    width: 200px;
}
#secondary .grid-content .carousel_inner li {
    width: 188px;
}

.ie7 #secondary .grid-content .carousel_inner li {
    width: 230px;
}




/* ウィジェット */
#tertiary .grid-content li,
#secondary .grid-content li {
    font-size: 10px;
    line-height: 1.2;

    display: block;
    float: left;

    width: 190px;
    padding: 0;

    list-style-type: none;
}
/* ウィジェット */
#secondary .grid-content li {
    width: auto;
}


#tertiary .box1image,
#secondary .box1image {
    float: left;

    width: 100px;
    padding-right: 5px;
}

#tertiary ul.grid-content,
#secondary ul.grid-content {
    padding: 0;
}

#tertiary .grid-content li:after,
#secondary .grid-content li:after {
    display: block;
    clear: both;

    height: 15px;

    content: '';
}

#tertiary .widget_fudo_top_r:after {
    display: block;
    clear: both;

    height: 15px;

    content: '';
}



/* = TOP 更新情報(twitter)
-------------------------------------------------------------- */

#top_fbox #content #twitter_update_list {
    clear: both;

    margin: 0 0 20px 0;
    /*	font-size: 12px; */
    padding: 10px;
}

#top_fbox #content #twitter_update_list a {
    font-weight: normal;

    text-decoration: none;
}

#top_fbox #content #twitter_update_list li a.tw_date {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;

    display: block;
    float: left;

    width: 70px;
    margin: 0 20px 0 0;
}


#twitter_update_list li a.tw_date:after {
    content: ':';
}

#top_fbox #container #content #twitter_update_list li .tw_status {
    line-height: 1.6;

    display: block;

    margin: 0 0 0 90px;
}

#top_fbox #container #content ul#twitter_update_list {
    padding-left: 15px;
}

#top_fbox #container #content ul#twitter_update_list li {
    font-weight: normal;

    display: block;

    margin: 0;
    padding: 5px 5px 5px;

    list-style: none;
}

#top_fbox #container #content ul#twitter_update_list li:after {
    display: block;
    clear: both;

    content: '';
}


/* = textwidget
-------------------------------------------------------------- */

#top_fbox #container #content .textwidget {
    margin: 0 0 20px 0;
    padding: 10px;
}




/* = TOP 投稿表示
-------------------------------------------------------------- */

#top_fbox #content ul#toukou_top {
    clear: both;

    margin: 0 0 20px;
    padding: 10px;
}

#top_fbox #content ul.toukou_top_post_excerpt {
    margin: 0 0 10px;
    padding: 5px 0 0 10px;
}


#top_fbox #content .toukou_top_post_title {
    font-size: 130%;
}

#top_fbox #content #toukou_top li {
    display: block;

    list-style: none;
}


#top_fbox #content #toukou_top img {
    float: left;

    width: 75px;
    margin: 0 10px 0 0;
    padding: 2px;
    /*	height:75px; */
}


/* = tertiaryand secondary 投稿表示
-------------------------------------------------------------- */

#tertiary ul#toukou_top,
#secondary ul#toukou_top {
    clear: both;

    margin: 0;
    padding: 0;
}

#tertiary ul.toukou_top_post_excerpt,
#secondary ul.toukou_top_post_excerpt {
    margin: 0 !important;
    padding: 5px 0 0 10px;
}

/*	#secondary #toukou_top a , */
#tertiary #toukou_top a {
    color: #333;
}

#tertiary .toukou_top_post_title,
#secondary .toukou_top_post_title {
    font-weight: bold;
}

#secondary .toukou_top_post_title {
    color: #e6402a;
}

#tertiary #toukou_top li,
#secondary #toukou_top li {
    font-size: 12px;

    list-style: none;
}

#tertiary #toukou_top li:after,
#secondary #toukou_top li:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

#tertiary #toukou_top img,
#secondary #toukou_top img {
    float: left;

    width: 75px;
    height: 75px;
    padding: 0 5px 0 0;
}




/* バス */
.widget_fudo_b_bus h4,
.widget_fudo_r_bus h4 {
    font-size: 110%;
    font-weight: normal;

    margin: 5px 0 0 0;
}




/* = NEW/UP mark
-------------------------------------------------------------- */

/* トップ */
#top_fbox #content .grid-content li {
    position: relative;
}

#top_fbox .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 12px;
    right: 10px;

    display: block;

    padding: 2px 5px;

    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
}

/* 物件リスト・詳細 */
.entry-title .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    font-weight: bold;

    display: inline;

    height: 20px;
    padding: 0 10px;

    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: uppercase;

    color: #c00;
    border-radius: 4px;
    text-shadow: 1px 1px 0 #fff;
}


/* ウィジェット */
#tertiary .grid-content li,
#secondary .grid-content li {
    position: relative;
}

#tertiary .new_mark,
#secondary .new_mark {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 3px;
    left: 2px;

    display: block;

    width: auto;
    padding: 2px 5px;

    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px 4px 4px 4px;
    background: #900;
    background: -moz-linear-gradient(center top , #d20100 0%, #900 100%) repeat scroll 0 0 transparent;
    text-shadow: 1px 1px 0 #900;
}



/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */


#list_simplepage .list_simple_boxtitle h2 {
    font-size: 26px;

    padding: 20px 0 5px;

    border-bottom: 3px solid #bc360a;
}



#list_simplepage .list_simple_box:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

#list_simplepage .list_simple_box {
    margin: 0 0 40px 0;
    padding: 0;
}

#list_simplepage .list_simple_box .list_detail dt {
    font-weight: normal;

    display: inline;
}

#list_simplepage .list_simple_box .list_detail dd {
    display: inline;

    margin: 0;
    padding: 0;
}

#list_simplepage .list_simple_box .list_picsam {
    float: left;

    width: 215px;
}

#list_simplepage .list_simple_box .list_picsam img {
    float: left;

    width: 100px;
    margin: 1px 7px 5px 0;
    padding: 1px;

    border: 1px solid #888;
}



#list_simplepage a:link,
a:visited .list_details_button {
    text-decoration: none;
}

#list_simplepage a:hover .list_details_button {
    text-decoration: underline;

    color: #39f;
}

#list_simplepage .list_simple_box .list_detail {
    float: left;

    width: 67%;
    margin: 0 3px 0 0;
    padding: 4px;
}

#list_simplepage .list_simple_box .list_detail dl {
    margin: 0;
}
#list_simplepage .list_detail table tr {
    margin-bottom: 4px;
}

#list_simplepage .list_detail table td {
    padding: 4px 0;
}

#list_simplepage .list_detail .list_price table td {
    border: medium none;
}
#list_simplepage .list_detail .list_price table {
    border-bottom: medium none;
}
#list_simplepage .list_detail .list_address table {
    border-bottom: medium none;
}

#list_simplepage .list_price {
    padding: 5px;

    background: -moz-linear-gradient(left, #ebf6fc, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#ebf6fc), to(#fff));
    background-color: #ebf6fc;
}

#list_simplepage .list_price.rent {
    background: -moz-linear-gradient(left, #fdedf0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));
    background-color: #fdedf0;
}

#list_simplepage .list_detail .list_address dd {
    display: block;
}

#list_simplepage .entry-excerpt {
    padding-bottom: 10px;
    padding-left: 5px;
}


/* 物件の詳細を見るボタン */

#list_simplepage .list_simple_box .list_details_button {
    display: inline-block;

    width: 207px;
    padding: 15px 0 10px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #b93207;
    border-radius: 2px 2px 2px 2px;
    background: #b93207; /* Old browsers */
    background:    -moz-linear-gradient(to bottom, #e05d22 0%, #d94412 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(to bottom, #e05d22 0%,#d94412 100%); /* Chrome10+,Safari5.1+ */
}
#list_simplepage .list_simple_box a .list_details_button {
    text-decoration: none;

    color: #fff;
}









/* 13= 物件詳細ページ #list_simplepage2 
---------------------------------------------------------------------- */

#list_simplepage2 h2.entry-title {
    /*	font-weight: bold; */
    font-size: 130%;

    margin: 0 0 15px;
    padding: 0 0 5px;

    border-bottom: 3px solid #bc360a;
}

#list_simplepage2 .entry-excerpt {
    padding-bottom: 10px;
    padding-left: 5px;
}


#list_simplepage2 {
    margin: 0;
    padding: 0;
}

#list_simplepage2 .list_simple_box .list_detail dt {
    font-weight: normal;

    display: inline;

    color: #333;
}

#list_simplepage2 .list_simple_box .list_detail dd {
    display: inline;

    margin: 0 .6em 0 .4em;
    padding: 0;

    color: #333;
}

#list_simplepage2 .list_simple_box:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

#list_simplepage2 .list_detail table {
    margin: 0;
    padding: 0;

    border: medium none;
}

#list_simplepage2 .list_detail table tr td {
    border: medium none;
}

#list_simplepage2 .list_simple_box {
    margin: 0 0 20px 0;
}

#list_simplepage2 .list_simple_box .list_detail {
    display: block;
    float: left;

    width: 76%;
    margin: 0;
}

#list_simplepage2 .list_picsam {
    display: block;
    float: left;

    width: 140px;
    margin: 0 5px 0 0;

    color: #000;
}

#list_simplepage2 .list_picsam img {
    width: 130px;
    /*	height: 130px;	*/
    margin: 0 0 4px 0;
    padding: 1px;

    border: 1px solid #999;
    background-color: #fff;
}

#main #content #second_img {
    padding: 10px 0;
}

#main #content #second_img img {
    width: 103px;
    height: 103px;
    margin: 0 1px 0 0;
    padding: 1px;

    border: 1px solid #999;
    background-color: #fff;
}

#list_simplepage2 .list_price {
    line-height: 2;

    margin: 0;
    padding: 0 0 4px 1em;

    background: -moz-linear-gradient(left, #ebf6fc, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#ebf6fc), to(#fff));
    background-color: #ebf6fc;
}
#list_simplepage2 .list_price.rent {
    background: -moz-linear-gradient(left, #fdedf0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));
    background-color: #fdedf0;
}


#list_simplepage2 .list_simple_box .list_detail #list_add th {
    font-weight: normal;
    line-height: 1.4;

    padding: 5px;

    text-align: left;
    white-space: nowrap;

    border-bottom: 1px solid #eee;
}

#list_simplepage2 .list_simple_box .list_detail #list_add td {
    line-height: 1.4;

    margin: 0;
    padding: .5em;

    white-space: normal;

    border-bottom: 1px solid #eee;
}

#list_simplepage2 .list_simple_box .list_detail #list_other th {
    font-weight: normal;
    line-height: 1.4;

    width: 21%;
    padding: 5px;

    text-align: left;

    border-right: 1px dotted #ccc;
    border-bottom: 1px solid #eee;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th.th2 {
    border-left: 1px dotted #ccc;
}


#list_simplepage2 .list_simple_box .list_detail #list_other td {
    line-height: 1.2;

    width: 30%;
    padding: 5px;

    white-space: normal;

    border-bottom: 1px solid #eee;
}


/* コンテント */
#list_simplepage2 .entry-content {
    font-size: 14px;

    margin: 15px 0;
}


/* 問合わせ先 */
#toiawasesaki {
    display: block;

    margin: 0 0 40px ;
}

/* 問合わせフォーム */
#contact_form {
    display: block;

    margin: 0 0 40px ;
}

/* 担当者コメント entry-content */
#main #content .entry-content p {
    font-size: 12px;
    line-height: 1.2;

    margin: 0;
    padding: 10px;
}

/* 表下部・現況優先但書 */
.list_detail_bottom_info {
    font-size: 14px;

    display: block;
    clear: both;

    padding: 0 0 10px;

    text-align: right;
}



/* places */
#main #content .list_detail .places {
    width: 100%;
    margin: 0 ;
    padding: 5px 0;

    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
}
#main #content .list_detail .places:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
#main #content .list_detail .places label {
    font-size: 85%;

    display: block;
    float: left;

    margin: 0 5px;
}

/* ふきだし内 */
#map_canvas .gm-style-iw {
    width: auto !important;
    height: auto !important;
}

#map_canvas table {
    overflow: hidden;

    margin: 8px;
    padding: 0;

    border-style: none;
}

#map_canvas table {
    width: auto;
}

#map_canvas table {
    border-spacing: 2px;
    border-collapse: separate ;
}

#map_canvas td {
    line-height: 1.4;

    margin: 0;
    padding: 0;

    vertical-align: middle;

    border-width: 0 !important;
    border-top: medium none !important;
}

.gmapballoon {
    font-size: 10px;

    color: #3f3f3f;
    border-style: none;
}
.gmapballoon img {
    width: 100px;
    height: auto;
    padding: 2px;

    border: 1px solid #ccc;
}

.gmaptitle {
    font-size: 12px;
    font-weight: bold;
}

.gmapkakaku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: #f30;
    border-bottom: 1px dotted #ccc;
}
.gmapmadori {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

    color: #333;
    border-bottom: 1px dotted #ccc;
}



/* 14= 物件詳細ページ関連物件  #syousai_box : 関連物件部分/slider
---------------------------------------------------------------------- */
.syousai_widgets ul,
#syousai_box ul {
    padding-left: 0;
}

.syousai_widgets ul .carousel_inner,
#syousai_box ul .carousel_inner {
    width: 99% !important;
}

#syousai_box ul:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

.syousai_widgets ul.cookie_fudou_single li,
#syousai_box ul.syousai-content li {
    font-size: 12px;
    line-height: 1;

    display: block;
    float: left;

    width: 100px !important;
    margin: 0 5px 4px 0;
    padding: 6px;

    list-style-type: none;

    border: 1px solid #ccc;
}

.syousai_widgets ul.cookie_fudou_single li span,
#syousai_box ul.syousai-content li span {
    font-size: 10px;

    margin-top: 5px;
}

.syousai_widgets ul.cookie_fudou_single li img,
#syousai_box ul.syousai-content li img {
    padding-bottom: 5px;
}


.syousai_widgets ul.cookie_fudou_single li .box1image,
#syousai_box ul.syousai-content li .box2image {
    width: 86px !important;
}


.syousai_widgets ul.cookie_fudou_single li {
    position: relative;
}


.syousai_widgets .new_mark,
#syousai_box .new_mark {
    font-family: Verdana,Geneva,sans-serif;
    font-size: 9px;
    font-weight: bold;

    position: absolute;
    top: 6px;
    right: 6px;

    display: block;

    padding: 3px;

    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px 4px 4px 4px;
    background: #900;
    background: -moz-linear-gradient(center top , #d20100 0%, #900 100%) repeat scroll 0 0 transparent;
    text-shadow: 1px 1px 0 #900;
}

.syousai_widgets dl {
    margin: 0;
}

.btns input {
    border: none;
}




/* 物件検索 ウィジェット用
----------------------------------------------*/
#searchitem,
searchitem_m {
    line-height: 1.2;
}

#searchitem_m div,
#searchitem div {
    line-height: 1.6;

    margin: 4px 0 10px;
}

#searchitem_m .jsearch_caution1,
#searchitem .jsearch_caution1 {
    font-size: 96%;
}
#searchitem_m .jsearch_caution2,
#searchitem .jsearch_caution2 {
    font-size: 80%;
}


#searchitem_m input,
#searchitem input {
    margin: 4px;
}

.widget_fudo_b_k_bus select,
.widget_fudo_b_k_m select,
.widget_fudo_b_k select {
    width: 100%;
    margin: 2px 0;
    padding: 3px;

    border: 2px solid #d4d0ba;
}

.memseki select,
.kakaku_c select,
.kakaku_b select {
    width: 46%;
}

#content .widget_fudo_b_k select {
    width: auto;
}

.widget_search form {
    margin: 0;
}

li.widget_search {
    list-style-type: none;
}

.ie .menu-toggle,
.ie input[type='submit'],
.ie article.post-password-required input[type='submit'],
.ie li.bypostauthor cite span {
    padding: 3px;
}

.ie .menu-toggle,
.ie input[type='submit'],
.ie article.post-password-required input[type='submit'],
.ie li.bypostauthor cite span {
    border: none;
}

form #searchitem_m button[disabled],
form #searchitem_m input[type='button']:disabled,
form #searchitem button[disabled],
form #searchitem input[type='button']:disabled {
    padding: 100px;

    color: #fff !important;
}


/* 17= 物件検索 固定ページ用  .jsearch
---------------------------------------------------------------------- */




#container #content.jsearch h1 {
    padding: 40px 0 0;
}

#container #content.jsearch h5 {
    font-size: 14px;
    font-weight: normal;

    margin: 0 0 10px !important;
    padding: 0;
}

#container #content.jsearch {
    line-height: 2;

    padding: 0 0 30px 0;
}

#container #content.jsearch ul {
/*    overflow: hidden; */

    margin: 0 0 10px;
    padding: 0 0 0 10px;

    list-style-type: none;
}

#container #content.jsearch table.form_jsearch li {
    display: block;
    float: left;
    margin: 0 1em 0 0;
    padding: 0;
    list-style-type: none;
}



#container #content.jsearch label {
    margin: 5px;
}


table.form_jsearch {
    line-height: 18px;

    width: 100%;
    margin-bottom: 10px;

    border-collapse: collapse;

    border: 2px solid #d4d0ba;
}
table.form_jsearch tr {
    font: inherit;

    margin: 0;
    padding: 0;

    border: 0 none currentcolor;
}
table.form_jsearch th {
    font-weight: normal;

    width: 18%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 2px solid #d4d0ba;
    background: #f7f5e7;
}
table.form_jsearch td {
    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 2px solid #d4d0ba;
    border-left: 2px solid #d4d0ba;
}


/* バス停 */
#bus ul li ul li ul {
    margin: 0 0 10px 20px !important;
}
.jsearch #bus li {
    float: none;
}




/* 物件検索(キーワード) 非可視
---------------------------------------------------------------------- */
#searchform [type='submit'] {
    display: none;
}





/* マッチングメール
---------------------------------------------------------------------- */

#main #maching_mail a {
    font-size: 14px;
    font-weight: bold;

    display: block;

    width: auto !important;
    margin: 5px 0;
    padding: 10px 8px !important;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    border-radius: 6px 6px 6px 6px;
    background: #ce6166;
    background: -moz-linear-gradient(center top , #ff9b9d 0%, #ce6166 100%) repeat scroll 0 0 transparent;
    text-shadow: 1px 1px 1px #cc5559;
}











/* 00= Fudousan Plugin Copyright
---------------------------------------------------------------------- */

#nendebcopy {
    font-size: 14px;

    overflow: hidden;

    width: 100%;
    max-width: 1040px;
    margin: -50px auto;
    padding: 0;

    text-align: right;
    text-decoration: none;

    color: #666;
}

#nendebcopy a {
    float: right;

    text-decoration: none;

    color: #686758;
}


/* = widget Top Slider Style
-------------------------------------------------------------- */
/* = sidebar only
	-------------------------------------------------------------- */
#tertiary .carousel_inner,
#primary .carousel_inner,
#secondary .carousel_inner {
    /*	height: 115px; */
    overflow: hidden;

    width: 210px;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}

#tertiary .grid-content li,
#primary .grid-content li,
#secondary .grid-content li {
    font-size: 10px;
    line-height: 1.2;

    display: block;
    float: left;

    width: 200px;
    padding: 8px;

    list-style-type: none;
}

#tertiary .box1image,
#primary .box1image,
#secondary .box1image {
    float: left;

    width: 100px;
    padding-right: 5px;
}



/* 2011 */
.two-column #secondary .grid-content li {
    width: 210px;
}

.showcase #content .grid-content .carousel_inner li {
    font-size: 10px;
    line-height: 1.2;

    overflow: hidden;

    width: 210px;
    height: 130px;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}


/* 2010 */
#main .widget-area ul ul.grid-content {
    margin-left: -.5em;
}



/* unpc*/
#main .widget-area ul.grid-content {
    padding: 0;
}
.three-column.unpc .grid-content li {
    width: 175px;
}
.three-column.unpc #tertiary .grid-content li,
.three-column.unpc #secondary .grid-content li {
    width: 175px;
    margin-left: -.5em;
}
.three-column.unpc #tertiary .box1image,
.three-column.unpc #secondary .box1image {
    width: 90px;
}
.three-column.unpc #tertiary .carousel_inner,
.three-column.unpc #secondary .carousel_inner {
    width: 180px;
}
.two-column.unpc .grid-content li {
    width: 190px;
}
.two-column.unpc #secondary .grid-content li {
    width: 190px;
    margin-left: -.5em;
}
.two-column.unpc #secondary .box1image {
    width: 75px;
}
.two-column.unpc #secondary .carousel_inner {
    width: 195px;
}




/* = footer only
	-------------------------------------------------------------- */
footer .carousel_inner,
#footer .carousel_inner {
    /*	height: 115px; */
    overflow: hidden;

    width: 210px;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}

footer .grid-content li,
#footer .grid-content li {
    font-size: 10px;
    line-height: 1.2;

    display: block;
    float: left;

    width: 200px;
    padding: 8px;

    list-style-type: none;
}

footer .box1image,
#footer .box1image {
    float: left;

    width: 100px;
    padding-right: 5px;
}

#footer .widget-area ul ul.grid-content {
    margin-left: -.5em;
}


/* = NEW/UP mark
	-------------------------------------------------------------- */

.showcase #content .grid-content,
footer .grid-content li,
#footer .grid-content li,
#tertiary .grid-content li,
#primary .grid-content li,
#secondary .grid-content li {
    position: relative;
}

.page-template-showcase-php .new_mark,
footer .new_mark,
#footer .new_mark,
#tertiary .new_mark,
#primary .new_mark,
#secondary .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 3px;
    left: 5px;

    display: block;

    width: auto;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: 1px 1px 0 #900;
}




/* = 関連物件
	-------------------------------------------------------------- */
#syousai_box ul.syousai-content li {
    position: relative;
}

#syousai_box .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    font-weight: bold;

    position: absolute;
    top: 6px;
    right: 6px;

    display: block;

    width: auto;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: 1px 1px 0 #900;
}



/*  = 会員ログイン page
---------------------------------------------------------------------- */

#container #content.jsearch h3 {
    font-size: 48px;

    margin-bottom: 30px;
    padding: 40px 0 0;

    border: none;
}


/* テーブル */
table.form_register {
    font-size: 87.6%;
    line-height: 18px;

    width: 100%;
    margin-bottom: 10px;

    border-collapse: collapse;

    border: 1px solid #e5e5e5;
}
table.form_register tr {
    font: inherit;

    margin: 0;
    padding: 0;

    border: 0 none currentcolor;
}
table.form_register th {
    font-weight: bold;

    width: 22%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
table.form_register td {
    font-size: 12px;

    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

table.form_register h5 {
    margin: 10px 0 10px !important;
}
table.form_register ul {
    margin: 0 !important;
}




/* 強度インジケータ */
#pass-strength-result {
    display: none;

    width: auto;
    margin: 5px 0;
    padding: 5px;

    text-align: center;

    border-width: 1px;
    border-style: solid;
    border-color: #ddd !important;
    background-color: #eee;
}

#pass-strength-result.bad {
    border-color: #ff853c !important;
    background-color: #ffb78c;
}

#pass-strength-result.good {
    border-color: #fc0 !important;
    background-color: #ffec8b;
}

#pass-strength-result.short {
    border-color: #f04040 !important;
    background-color: #ffa0a0;
}

#pass-strength-result.strong {
    border-color: #8dff1c !important;
    background-color: #c3ff88;
}



/* ボタン */
#main #maching_mail a {
    font-size: 14px;
    font-weight: bold;

    display: block;

    width: 150px;
    margin: 5px 0;
    padding: 5px 8px;

    text-align: center;
    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    background: #ff9b9d;
    text-shadow: 1px 1px 1px #cc5559;
}

#main #maching_mail a:hover {
    text-decoration: underline;

    background: #ff9b9d;
}

#main #maching_mail a:active {
    text-decoration: none;

    background: #faa8cd;
}


/*  = 会員登録 page
---------------------------------------------------------------------- */

.page_register #kaiin_kiyaku {
    padding: 10px;

    border: 1px solid #e5e5e5;
}

.page_login .login_error,
.page_register .login_error {
    margin: 0 0 16px !important;
    padding: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: #c00;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffebe8;
}

.page_login p.message,
.page_register p.message {
    margin: 0 0 16px !important;
    padding: 12px;

    border-width: 1px;
    border-style: solid;
    border-color: #e6db55;
    border-radius: 3px 3px 3px 3px;
    background-color: #ffffe0;
}



	/*------------------------------------------------------------------
	  ページ条件検索 バス
	----------------------------------------------------------------- */

	.jsearch table.form_jsearch td.bus ul{
		padding: 0 0 0 10px !important;
	}


	.jsearch table.form_jsearch td.bus ul li ul li.buscorse,
	.jsearch table.form_jsearch td.bus ul li.buscorp{
		display : block;
		clear : both;
		margin-bottom: 5px;
	}

	.jsearch table.form_jsearch td.bus ul li ul li.buscorse ul li.busstop{
		float: left;
		margin: 0;
	}

/*  */
