@charset 'utf-8';
/* = 
 * Twenty Eleven
 * widget_fudo Style
 * style2011.css サイト基本の装飾
 * @package WordPress4.1
 * Version: 1.6.3
-------------------------------------------------------------- */

/* = style2011.css 基本レイアウトと物件関連の装飾css


1= reset : スタイルのリセット
2= twentyeleven/style.css : 打ち消し用css
3= 汎用css : 物件表示部分用
4= layout  : 基本レイアウト部分

5= １カラム .one-column : 1カラムレイアウト時用
6= サイドバー右 <body class="right-sidebar"> : 2カラム（左がメインコンテンツ）レイアウト時用
7= サイドバー左  <body class="left-sidebar"> : 2カラム（右がメインコンテンツ）レイアウト時用

8= シングル ページ Singular : 投稿ページ
9= ショーケーステンプレート
10= ショーケーステンプレート サイドバー右  <body class="right-sidebar">
11= ショーケーステンプレート サイドバー左  <body class="left-sidebar">

12= 物件リストページ #list_simplepage : 不動産プラグイン物件一覧ページ
13= 物件詳細ページ #list_simplepage2 : 不動産プラグイン物件詳細ページ
14= 物件詳細ページ関連物件  #syousai_box : 関連物件部分
15= トップページ 物件表示部分  .grid-content / #top_fbox内
16= 物件検索 : 不動産プラグイン物件検索form・キーワード検索
17= 条件検索 個別ページ用  .jsearch

00= Fudousan Plugin Copyright


---------------------------------------------------------------------- */



/* 1= reset
---------------------------------------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

img {
    -ms-interpolation-mode: bicubic;
}

#main #content table tr {
    margin: 0;
    padding: 0;

    border: none;
}

#main #content table tr td {
    margin: 0;
    padding: 0;

    vertical-align: top;

    border-top: none;
}

#container,
#content {
    margin: 0;
    padding: 0;
}

#content p,
#content ul,
#content dd,
#content pre {
    margin: 0;
}

.widget {
    /*	margin: 0 0 10px !important; */
}

blockquote {
    font-style: normal;
}

.widget a {
    font-weight: normal;

    text-decoration: none;
}

/* 見出し */

h1.page-title {
    font-size: 14px;

    border-bottom: 1px dotted #ccc;
}

#main #container #content h3 {
    border-bottom: 1px dotted #ccc;
}


/* 2= twentyeleven/style.css 打ち消し用css
---------------------------------------------------------------------- */

/* Images 打消*/
.entry-content img,
.comment-content img,
.widget img {
    max-width: 100%; /* Fluid images for posts, comments, and widgets */
}

/* IE7 打ち消し用  #ie7 */

#ie7 article.intro {
    margin: 0 0 10px 0;
    padding: 10px;

    border-bottom: none;
    background: #f9f9f9;
}

#ie7 section.featured-post {
    margin: 0 0 10px 0;
}

#ie7 .right-sidebar section.recent-posts {
    float: left;

    width: 700px;
    margin: 0 0 10px 0;
}

#ie7 .left-sidebar section.recent-posts {
    float: right;

    width: 700px;
    margin: 0 0 10px 0;
}

#ie7 #branding img {
    margin-bottom: -16px;
}


/* サイドバー ipad 縦表示用 */

#main #secondary,
#main #content {
    margin: 0;
}

/* フッター幅を減らしfloatさせる ipad 縦表示用 */

@media (max-width: 800px) {
    #colophon #supplementary .widget-area
    {
        float: left;

        width: auto;
        margin-right: 3.7%;
    }
}


/* 3= 汎用css
---------------------------------------------------------------------- */

.dpoint1 {
    font-size: 26px;
    font-weight: normal;
    line-height: 1.2;

    float: left;

    padding: 4px;

    color: #c00;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.dpoint2 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;

    float: left;

    padding: 4px;

    color: #000;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

.dpoint3 {
    font-size: 18px;
    font-weight: bold;

    display: inline;

    color: #000;
}

.dpoint4 {
    font-size: 20px;
    font-weight: bold;

    display: inline;

    color: #000;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}


/* 4= layout ：基本レイアウト部分
---------------------------------------------------------------------- */

#main {
    overflow: hidden;

    margin: 0;
    padding: 20px;
}

#page {
    width: 1000px;
    margin: 0 auto;
}


/* 5= １カラム .one-column 
---------------------------------------------------------------------- */

/* サイド非表示 */

.one-column #secondary {
    display: none;
}

/* １カラム コンテナ */

.one-column #page {
    max-width: 960px;
}

.one-column #main {
    overflow: hidden;

    margin: 0;
    padding: 20px 40px ;
}

.one-column #content {
    margin: 0;
}


/* 6= サイドバー右  <body class="right-sidebar">
---------------------------------------------------------------------- */

.right-sidebar #main #container {
    float: left;

    width: 700px;
    margin: 0;
}

.right-sidebar #content {
    width: 705px;
    margin: 0;
}

.right-sidebar #primary {
    float: left;

    width: 700px;
    margin: 0;
}

.right-sidebar #top_fbox {
    float: left;

    width: 700px;
}

.right-sidebar #main #secondary {
    float: right;

    width: 230px;
    margin: 0;
    padding: 0;
}


/* 7= サイドバー左  <body class="left-sidebar">
---------------------------------------------------------------------- */

.left-sidebar #main #container {
    float: right;

    width: 700px;
    margin: 0;
}

.left-sidebar #content {
    width: 705px;
    margin: 0;
}

.left-sidebar #primary {
    float: right;

    width: 700px;
    margin: 0;
}

.left-sidebar #top_fbox {
    float: right;

    width: 700px;
}

.left-sidebar #main #secondary {
    float: left;

    width: 230px;
    margin: 0;
    padding: 0;
}


/* 8= シングル ページ Singular
---------------------------------------------------------------------- */

.singular #content,
.sidebar-content.singular #content,
.left-sidebar.singular #content {
    /*    position: relative;*/
    width: 100%;
    margin: 0;
}

.singular #primary {
    float: left;

    width: 100%;
    margin: 0;
}

.singular .entry-header,
.singular .entry-content,
.singular footer.entry-meta,
.singular #comments-title {
    width: 100%;
    margin: 0 auto;
}

.singular .hentry {
    position: relative;

    padding: 0;

    border-bottom: medium none;
}

.singular.page .hentry {
    padding: 0;
}

.singular .entry-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 2;

    color: #000;
}

.singular .entry-meta .edit-link a {
    position: relative;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;

    color: #fff;
}

/* 投稿 entry-content */
.singular #main #content .entry-content p {
    font-size: 12px;
    line-height: 1.6;

    padding: 10px;
}


/* 9= ショーケーステンプレート
---------------------------------------------------------------------- */

/* Intro */
article.intro {
    margin: 0 0 10px 0;
    padding: 10px;

    border-bottom: none;
    background: #f9f9f9;
}

/* 見出し */
h1.showcase-heading {
    font-size: 16px;
    line-height: 2;
}

/* 続きを読む */
article.feature-image.small .entry-summary p a {
    position: relative;
    top: 20px;
    left: 0;

    display: block;

    width: 180px;
    padding: 4px 26px 4px 85px;

    text-decoration: none;

    color: #eee;
    background: #222;
}

.page-template-showcase-php #main #primary {
    width: 100%;
    margin: 0;
}

.page-template-showcase-php #primary #content {
    width: 100%;
    margin: 0;
}

.page-template-showcase-php section.recent-posts {
    width: 100%;
    margin: 0;
}

.page-template-showcase-php #main .widget-area {
    margin: 0;
    padding: 0;
}

/* ショーケース１カラム用 */
.one-column #main .widget-area {
    display: none;
}

/* ショーケースウィジット  .widget */

.page-template-showcase-php #main .widget-area .widget {
    width: 210px;
    margin: 0 0 8px;
    padding: 8px;

    border: 1px solid #ccc;
    border-radius: 6px;
    background: #fff;
}


/* 10= ショーケーステンプレート サイドバー右  <body class="right-sidebar">
---------------------------------------------------------------------- */

.right-sidebar section.recent-posts {
    float: left;

    width: 700px;
}

.right-sidebar #main .widget-area {
    float: right;

    width: 230px;
}

/*
.content-sidebar section.recent-posts {
	float: left;
	width: 700px;
}

.content-sidebar #main .widget-area{
	float: right;
	width: 230px;
}
*/


/* 11= ショーケーステンプレート サイドバー左  <body class="left-sidebar">
---------------------------------------------------------------------- */

.left-sidebar section.recent-posts {
    float: right;

    width: 700px;
}

.left-sidebar #main .widget-area {
    float: left;

    width: 230px;
}

/*
.content-sidebar section.recent-posts {
	float: left;
	width: 700px;
}

.content-sidebar #main .widget-area{
	float: right;
	width: 230px;
}
*/


/* 12= 物件リストページ #list_simplepage
---------------------------------------------------------------------- */

#main #content #list_simplepage {
    margin: 0;
    padding: 0;
}

#main #content #list_simplepage .list_detail table {
    font-size: 12px;

    margin: 0;
    padding: 0;

    border: none;
}

#list_simplepage .list_simple_boxtitle {
    clear: both;

    border-top: 3px solid #4a535d;
    border-right: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
}

#list_simplepage .list_simple_boxtitle h2 a {
    font-size: 18px;
    font-weight: bold;

    display: block;

    padding: 4px 0 3px 12px;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #fff;
    background-color: #f8f8f8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#list_simplepage .list_simple_boxtitle .entry-title {
    margin: 0;
    padding: 0;
}

.list_simple_box:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}

#list_simplepage .list_simple_box {
    margin: 0 0 10px 0;
    padding: 6px;

    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background-color: #fefefe;
}

#main #content #list_simplepage .list_detail dl {
    font-size: 12px;

    margin: 0;
    padding: 5px;
}

#main #content .list_detail dt {
    font-weight: normal;

    display: inline;

    color: #333;
}

#main #content .list_detail dd {
    display: inline;

    margin: 0 .6em 0 .4em;
    padding: 0;

    color: #333;
}

#main #content .list_picsam {
    float: left;

    width: 216px;

    color: #000;
}

#main #content .list_picsam img {
    float: left;
    /*	height: 100px;	*/

    width: 100px;
    margin: 1px 1px 5px;
    padding: 1px;

    border: 1px solid #333;
    background-color: #fff;
}



/* 物件の詳細を見るボタン */

#list_simplepage .list_details_button {
    font-size: 13px;
    font-weight: bold;

    display: block;
    clear: both;

    width: 208px;
    height: 24px;
    margin: 0 0 3px 0;
    padding-top: 3px;

    text-align: center;
    letter-spacing: .1em;

    color: #00329b;
    border: 1px solid #999;
    border-radius: 3px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(.49, #eee), color-stop(.5, #ddd), color-stop(1, #fff));
    background: -moz-linear-gradient(top, #fff 0%, #eee 49%, #ddd 50%, #fff 100%);
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 1px 0 #fff;
       -moz-box-shadow: 0 1px 0 #fff;
            box-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
}

#list_simplepage a:link,
a:visited .list_details_button {
    text-decoration: none;
}

#list_simplepage a:hover .list_details_button {
    text-decoration: underline;

    color: #39f;
}

#list_simplepage .list_detail {
    line-height: 1.8;

    float: right;

    width: 65%;
    margin: 0 3px 0 0;
    padding: 4px;

    border: 1px solid #b7b7b7;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px #bec2c6;
       -moz-box-shadow: 0 2px 1px #bec2c6;
            box-shadow: 0 2px 1px #bec2c6;
}

#main #content #list_simplepage .list_detail table tr {
    margin-bottom: 4px;

    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #ccc;
}

#main #content #list_simplepage .list_price {
    padding: 5px;

    background: -moz-linear-gradient(left, #ebf6fc, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#ebf6fc), to(#fff));
    background-color: #ebf6fc;
}

#main #content #list_simplepage .list_price.rent {
    background: -moz-linear-gradient(left, #fdedf0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));
    background-color: #fdedf0;
}





#main #content #list_simplepage .list_detail .list_price tr {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #cae7f4;
}

#main #content #list_simplepage .list_detail .list_address dd {
    display: block;
}

#list_simplepage .entry-excerpt {
    padding-bottom: 10px;
    padding-left: 5px;
}

#list_simplepage2 .entry-excerpt {
    padding-bottom: 10px;
    padding-left: 5px;
}


/* 13= 物件詳細ページ #list_simplepage2 
---------------------------------------------------------------------- */

#main #content #list_simplepage2 {
    width: 700px;
    margin: 0;
    padding: 0;
}

#main #content #list_simplepage2 .list_detail table {
    margin: 0;
    padding: 0;

    border: none;
}

#main #container #content #list_simplepage2 .list_simple_box {
    margin: 0 0 10px 0;
    padding: 10px;

    border: 1px solid #ccc;
    background: #f8f8f8;
}

#main #container #content #list_simplepage2 .list_simple_box .list_detail {
    float: left;

    width: 76%;
    margin: 0;
    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 1px #bec2c6;
       -moz-box-shadow: 0 2px 1px #bec2c6;
            box-shadow: 0 2px 1px #bec2c6;
}

#main #container #content #list_simplepage2 .list_detail h3 {
    font-size: 14px;
    font-weight: bold;

    margin: 8px 0;
    padding: 0 0 0 8px;

    color: #666;
}

#main #content #list_simplepage2 .list_detail table tr {
    padding-top: 2px;
    padding-bottom: 2px;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eee;
}

#main #content #list_simplepage2 .list_picsam {
    float: left;

    width: 140px;
    margin: 0 4px 0 0;

    color: #000;
}

#main #content #list_simplepage2 .list_picsam img {
    /*	height: 130px;	*/
    width: 130px;
    margin: 0 0 4px 0;
    padding: 1px;
    /*	display: block;	*/

    border: 1px solid #999;
    background-color: #fff;
}

#main #content #second_img {
    padding: 10px 0;
}

#main #content #second_img img {
    width: 98px;
    height: 98px;
    margin: 0 1px 0 0;
    padding: 1px;

    border: 1px solid #999;
    background-color: #fff;
}

#main #content #list_simplepage2 .list_price {
    line-height: 2;

    margin: 0;
    padding: 0 0 4px 1em;

    background: -moz-linear-gradient(left, #ebf6fc, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#ebf6fc), to(#fff));
    background-color: #ebf6fc;
}
#main #content #list_simplepage2 .list_price.rent {
    background: -moz-linear-gradient(left, #fdedf0, #fff);
    background: -webkit-gradient(linear, left top, right top, from(#fdedf0), to(#fff));
    background-color: #fdedf0;
}

#main #content #list_simplepage2 .list_detail table {
    font-size: 14px;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_add th {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;

    margin: 0;
    padding: .5em;

    text-align: left;
    white-space: nowrap;

    color: #666;
    border-bottom: 1px solid #eee;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_add td {
    line-height: 1.4;

    margin: 0;
    padding: .5em;

    white-space: normal;

    color: #555;
    border-bottom: 1px solid #eee;
}

#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th {
    line-height: 1.2;

    width: 20%;
    margin: 0;
    padding: .5em;

    text-align: left;
    white-space: nowrap;

    color: #444;
    border-right: 1px dotted #ccc;
    border-bottom: 1px solid #eee;
}
#main #content #list_simplepage2 .list_simple_box .list_detail #list_other th.th2 {
    border-left: 1px dotted #ccc;
}



#main #content #list_simplepage2 .list_simple_box .list_detail #list_other td {
    line-height: 1.2;

    width: 30%;
    margin: 0;
    padding: .5em;

    white-space: normal;

    border-bottom: 1px solid #eee;
}

#list_simplepage2 h2.entry-title {
    font-size: 21px;
    font-weight: bold;

    display: block;

    margin: 0;
    padding: 4px 0 3px 12px;

    border-top: 3px solid #4a535d;
    border-right: 1px solid #b7b7b7;
    border-left: 1px solid #b7b7b7;
    background-color: #f8f8f8;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

#toiawasesaki {
    line-height: 1.2;

    display: block;

    margin: 0 0 20px ;
}
#contact_form {
    display: block;

    margin: 0 0 20px ;
}



/* 担当者コメント entry-content */

#main #content .entry-content p {
    font-size: 12px;
    line-height: 1.2;

    margin: 0;
    padding: 10px;
}


/* 表下部・現況優先但書 */

.list_detail_bottom_info {
    font-size: 10px;

    float: right;

    width: 530px;

    text-align: right;
}


/* for wp3.6 youtube */
#main #content .list_detail .entry-content p iframe {
    max-width: 480px;
}


/* places */
#main #content .list_detail .places {
    width: 100%;
    margin: 0 ;
    padding: 5px 0;

    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
}
#main #content .list_detail .places:after {
    display: block;
    clear: both;

    height: 0;

    content: '';
}
#main #content .list_detail .places label {
    font-size: 85%;

    display: block;
    float: left;

    margin: 0 5px;
}


/* ふきだし内 */
#list_simplepage2 #map_canvas .gm-style-iw {
    width: auto !important;
    height: auto !important;
}

#list_simplepage2 #map_canvas table {
    overflow: hidden;

    width: 260px !important;
    margin: 8px;
    padding: 0;

    border-style: none;
}


#list_simplepage2 #map_canvas table {
    border-spacing: 2px;
    border-collapse: separate ;
}

#list_simplepage2 #map_canvas td {
    font-size: 10px;
    line-height: 1.2;

    margin: 0;
    padding: 0;

    vertical-align: middle;

    color: #3f3f3f;
    border-width: 0 !important;
    border-top: medium none !important;
}
#list_simplepage2 .gmapballoon img {
    width: 75px;
    height: auto;
    padding: 2px;

    border: 1px solid #ccc;
}

#list_simplepage2 .gmaptitle {
    font-size: 12px;
    font-weight: bold;
}

#list_simplepage2 .gmapkakaku {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
    font-weight: bold;

    color: #f30 !important;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}
#list_simplepage2 .gmapmadori {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px !important;
    font-weight: bold;

    color: #333 !important;
    border-bottom: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}




/* 14= 物件詳細ページ関連物件  #syousai_box : 関連物件部分
---------------------------------------------------------------------- */

#syousai_box ul {
    padding-left: 10px;
}

#syousai_box ul:after {display: block; clear: both; height: 0; 

    content: '';
}

#syousai_box ul.syousai-content li {
    font-size: 12px;
    line-height: 1;

    display: block;
    float: left;

    width: 80px;
    margin: 0 5px 4px 0;
    padding: 6px;

    list-style-type: none;

    border: 1px solid #ccc;
    background: #f0f0f0;
    background: -moz-linear-gradient(top, #fff 70%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(70%,#fff), color-stop(100%,#f7f7f7));
}

#syousai_box ul.syousai-content li span {
    font-size: 10px;

    margin-top: 5px;
}

#syousai_box ul.syousai-content li img {
    padding-bottom: 5px;
}

#syousai_box ul.syousai-content li .box2image {
    width: 80px;
    /*	height:80px;	*/
}


/* 15= トップページ 物件表示部分  .grid-content / #top_fbox内
---------------------------------------------------------------------- */

#content .grid-content {
    padding-bottom: 20px;
}

#content .grid-content li {
    font-size: 12px;
    line-height: 1.4;

    display: block;
    float: left;

    width: 150px;
    margin: 2px;
    padding: 2px;

    list-style-type: none;
}

#main #top_fbox #container #content table {
    margin: 0;
    padding: 0;

    border: none;
}

#main #top_fbox #container #content tr td {
    margin: 0;
    padding: 0;

    border: none;
}


/* 16= 物件検索 : 不動産プラグイン物件検索form・キーワード検索
---------------------------------------------------------------------- */

/* form */

#secondary .widget-container form,
#primary .widget-container form {
    line-height: 1.2; padding-left: 5px;
}
#secondary .widget-container form div,
#primary .widget-container form div {
    margin-bottom: 6px;
}

/* キーワード検索 */
.widget_fudo_search #s {
    width: 77%;
}



/* 17= 物件検索 固定ページ用  .jsearch
---------------------------------------------------------------------- */


#container #content.jsearch {
    font-size: 12px;
    line-height: 2;

    padding: 0 0 30px 0;
}

/* カラム変更によるcontent余白調整 */

.singular #container #content.jsearch {
    float: none;

    width: 100%;
}

.right-sidebar #container #content.jsearch {
    float: right;

    width: 690px;
    margin: 0;
}

.left-sidebar #container #content.jsearch {
    float: left;

    width: 700px;
}

/*  */

#main #container #content.jsearch h3 {
    font-size: 16px;
    font-weight: bold;

    margin: 0 0 10px -10px;
    padding: 5px 0 5px 10px;

    color: #333;
    border-bottom: 1px dotted #ccc;
    border-left: 4px solid #ccc;
    text-shadow: none;
}

#container .jsearch h4 {
    font-size: 13px;
    font-weight: bold;

    margin: 15px 0 5px -10px;
    padding: 0 0 0 6px;

    color: #505050;
    border-left: 4px solid #ccc;
}

#container .jsearch h5 {
    font-size: 13px;
    font-weight: bold;

    margin: 10px 0 0 -5px;

    color: #666;
}


.jsearch p {
    margin: 0;
    padding: 0 10px 10px 0;
}

#container .jsearch ul {
/*    overflow: hidden; */

    margin: 0 0 10px;
    padding: 0;
}

.jsearch li {
    display: block;
    float: left;

    margin: 0 1em 0 0;
    padding: 0;

    list-style-type: none;
}

.jsearch label {
    margin-right: 20px;

    color: #666;
}

#container .jsearch .submit input {
    font-weight: bold;

    width: 160px;
    margin: 10px 10px 20px 0;
    padding: 3px 10px;

    cursor: pointer;

    color: #fff;
    border: 1px solid #298cba;
    border-radius: 10px;
    background: #298cba; /* old browsers */
    background: -moz-linear-gradient(top, #0298cb 0%, #247ca4 50%, #206d93 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0298cb), color-stop(50%, #247ca4), color-stop(100%, #206d93)); /* webkit */
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

/* バス停 */
#bus ul li ul li ul {
    margin: 0 0 10px 20px !important;
}
.jsearch #bus li {
/*    float: none; */
}


/* 17= 物件検索 固定ページ用  .jsearch 新
---------------------------------------------------------------------- */

table.form_jsearch {
    /*	font-size: 87.6%; */
    line-height: 18px;
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
}
table.form_jsearch tr {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0 none currentcolor;
}
table.form_jsearch th {
    font-weight: bold;

    width: 18%;
    padding: 10px !important;

    text-align: left;
    vertical-align: top;

    border-bottom: 1px solid #e5e5e5;
    background: #f6f6f6;
}
table.form_jsearch td {
    width: 81%;
    margin: 0;
    padding: 10px !important;

    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}

table.form_jsearch h5 {
    margin: 10px 0 10px !important;
}
table.form_jsearch ul {
    margin: 0 !important;
}

table.form_jsearch input[type='checkbox']{
    margin: 0 5px 0 0;
}


	/*------------------------------------------------------------------
	  ページ条件検索 バス
	----------------------------------------------------------------- */

	.jsearch table.form_jsearch td.bus ul{
		padding: 0 0 0 10px !important;
	}


	.jsearch table.form_jsearch td.bus ul li ul li.buscorse,
	.jsearch table.form_jsearch td.bus ul li.buscorp{
		display : block;
		clear : both;
		margin: 5px 0 0;
	}

	.jsearch table.form_jsearch td.bus ul li ul li.buscorse ul li.busstop{
		float: left;
		margin: 0;
	}


/* 00= Fudousan Plugin Copyright
---------------------------------------------------------------------- */

#nendebcopy {
    font-family: Arial, Helvetica;
    font-size: 10px;

    overflow: hidden;

    width: 990px;
    margin: 0 auto;
    padding: 5px 0 0;

    text-align: right;
    text-decoration: none;

    color: #666;
}

#nendebcopy a {
    font-family: Arial, Helvetica;
    font-size: 10px;

    float: right;

    text-decoration: none;

    color: #666;
}

/* TwentyEleven1.2 */
#branding {
    z-index: 2 !important;
}



/* = widget Top Slider Style
-------------------------------------------------------------- */
/* = sidebar only
	-------------------------------------------------------------- */
#tertiary .carousel_inner,
#primary .carousel_inner,
#secondary .carousel_inner {
    /*	height: 115px; */
    overflow: hidden;

    width: 210px;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}

#tertiary .grid-content li,
#primary .grid-content li,
#secondary .grid-content li {
    font-size: 10px;
    line-height: 1.2;

    display: block;
    float: left;

    width: 200px;
    padding: 8px;

    list-style-type: none;
}

#tertiary .box1image,
#primary .box1image,
#secondary .box1image {
    float: left;

    width: 100px;
    padding-right: 5px;
}



/* 2011 */
.two-column #secondary .grid-content li {
    width: 210px;
}

.showcase #content .grid-content .carousel_inner li {
    font-size: 10px;
    line-height: 1.2;

    overflow: hidden;

    width: 210px;
    height: 130px;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}


/* 2010 */
#main .widget-area ul ul.grid-content {
    margin-left: -.5em;
}



/* unpc*/
#main .widget-area ul.grid-content {
    padding: 0;
}
.three-column.unpc .grid-content li {
    width: 175px;
}
.three-column.unpc #tertiary .grid-content li,
.three-column.unpc #secondary .grid-content li {
    width: 175px;
    margin-left: -.5em;
}
.three-column.unpc #tertiary .box1image,
.three-column.unpc #secondary .box1image {
    width: 90px;
}
.three-column.unpc #tertiary .carousel_inner,
.three-column.unpc #secondary .carousel_inner {
    width: 180px;
}
.two-column.unpc .grid-content li {
    width: 190px;
}
.two-column.unpc #secondary .grid-content li {
    width: 190px;
    margin-left: -.5em;
}
.two-column.unpc #secondary .box1image {
    width: 75px;
}
.two-column.unpc #secondary .carousel_inner {
    width: 195px;
}




/* = footer only
	-------------------------------------------------------------- */
footer .carousel_inner,
#footer .carousel_inner {
    /*	height: 115px; */
    overflow: hidden;

    width: 210px;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
}

footer .grid-content li,
#footer .grid-content li {
    font-size: 10px;
    line-height: 1.2;

    display: block;
    float: left;

    width: 200px;
    padding: 8px;

    list-style-type: none;
}

footer .box1image,
#footer .box1image {
    float: left;

    width: 100px;
    padding-right: 5px;
}

#footer .widget-area ul ul.grid-content {
    margin-left: -.5em;
}


/* = NEW/UP mark
	-------------------------------------------------------------- */

.showcase #content .grid-content,
footer .grid-content li,
#footer .grid-content li,
#tertiary .grid-content li,
#primary .grid-content li,
#secondary .grid-content li {
    position: relative;
}

.page-template-showcase-php .new_mark,
footer .new_mark,
#footer .new_mark,
#tertiary .new_mark,
#primary .new_mark,
#secondary .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;

    position: absolute;
    top: 3px;
    left: 5px;

    display: block;

    width: auto;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: 1px 1px 0 #900;
}




/* = 関連物件
	-------------------------------------------------------------- */
#syousai_box ul.syousai-content li {
    position: relative;
}

#syousai_box .new_mark {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    font-weight: bold;

    position: absolute;
    top: 6px;
    right: 6px;

    display: block;

    width: auto;
    padding: 2px 5px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    border-radius: 4px;
    background: #900; /* Old browsers */
    background:    -moz-linear-gradient(top, #d20100 0%, #900 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #d20100 0%,#900 100%); /* Chrome10+,Safari5.1+ */
    text-shadow: 1px 1px 0 #900;
}


/*  */

